[2021-06-01 14:12] rudouglas opened #2534 "OpenTelemetry (OTEL) Integration and Documentation for Gatsby Build"
There has been some OpenTelemetry work done for tracing Gatsby Build processes in order to send that trace data to New Relic for Observability. This work is to further enhance the Integration to make it easier to use, and to document the process for both internal and external use.

Sites
- [x] Decide where the telemetry files should live (the theme may be the most convenient)
     - `otel-config.y

[2021-06-01 14:36] zuluecho9 commented on #2143
@amanborkar99 A little more info: we currently have two different account/user models, which you can read more about here: https://docs.newrelic.com/docs/accounts/original-accounts-billing/original-product-based-pricing/overview-changes-pricing-user-model/#user-models.

What @rhetoric101 said is correct for accounts on our original account/user model: we have some view/list functionality with our

[2021-06-01 14:51] rudouglas opened #2535 "Troubleshooting Guides Nav and Landing Page"
### Is your feature request related to a problem? Please describe

Troubleshooting docs are often difficult to find from the main landing page of the Docs site. At best they require multiple clicks from the user to surface, and often prior knowledge of the navigation path to a section of the Docs to find related Troubleshooting info.

### Describe the solution you'd like

A section similar to Rele

[2021-06-01 15:25] jpvajda commented on #2477
According to Generosa, after Gatsby does their fix for this problem, there are no limits to consider.

[2021-06-01 15:56] nr-kkenney commented on #2341
after talking at length with @roadlittledawn last thursday, some of the details can be altered. in particular:
* placeholder directives may not be needed. there is already a process happening to preserve text / ignore translation. if it doesn't work for MT, then we can try look into placeholder directives.
*  we can expand the definition & usage of the `translate` frontmatter field to select docum

[2021-06-01 16:16] nr-kkenney opened #2536 "[Machine Translation] Modify script to add files to be translated to the queue"
## Summary

We will need to update the scripts for enabling **Machine Translation (MT)**. The way we will be interacting with the Smartling API is identical to how we do it now, we just need some tweaks to the existing scripts along with some additional functionality.

### Project Logic
In  [add-files-to-translation-queue.js](https://github.com/newrelic/docs-website/blob/feature/docs-upgrades/scri

[2021-06-01 16:16] nr-kkenney opened #2537 "[Machine Translation] Add disclaimer for machine translated pages"
<details>
  <summary>❓ Design questions</summary>

- [x] what is the language we use for this disclaimer?

- [x] where does this disclaimer get placed on page?

- [x] What is the feedback capture mechanism we'd use to get feedback if the page translation is good or not?

- [x] Can we reuse the section for `edit this page`, as it's not going to be displayed on the all translated pages.

- [x] Can w

[2021-06-01 16:16] nr-kkenney opened #2538 "[Machine Translation] Create project_id column in Test Postgres tables"
## Background

Follow the instructions in the [Readme](https://github.com/newrelic/docs-website/blob/develop/scripts/actions/translation_workflow/testing/README.md) to set up your testing environment. This sets up local docker containers for a Postgres Database and PGAdmin instance to manipulate the DB.

In order to reduce code duplication and effort, we will be adding a new column called `project

[2021-06-01 16:16] nr-kkenney opened #2539 "[Machine Translation] Create new workflows and update existing"
## Summary

We currently have three workflows that encompass the overall translation process
 - [Queue up jobs](https://github.com/newrelic/docs-website/blob/develop/.github/workflows/get-slugs-to-translate.yml)
 - [Send jobs](https://github.com/newrelic/docs-website/blob/develop/.github/workflows/send-content-to-translate.yml)
 - [Download finished work (and cleanup state)](https://github.com/new

[2021-06-01 16:17] nr-kkenney opened #2540 "[Machine Translation] Create new project & workflow in Smartling"
### Background
We will want to create a new project in Smartling with a machine translation workflow, as this will likely be easier to work with than a dynamic workflow. We simply point our scripts to use this project when doing machine translations using an environment variable ([current implementation](https://github.com/newrelic/docs-website/blob/9928611a1f14971062f1ed1ad6337a593dabf225/scripts

[2021-06-01 16:20] #2110 closed

[2021-06-01 16:36] barbnewrelic commented on #1223
Yes Jira is now https://newrelic.atlassian.net/browse/DOC-6731 . For short term with previous Jira mentioned, I added some explanatory text before I was OOO. https://docs.newrelic.com/docs/logs/log-management/ui-data/drop-data-drop-filter-rules/#how-it-works

[2021-06-01 16:36] #1223 closed

[2021-06-01 17:00] radams991 opened #2543 "introduction-new-relic-apis 404"
Clicking on the "APIs" link on the public docs site produces a 404 exception

[2021-06-01 17:06] jpvajda commented on #2015
also blocked on the issue with sub-domains on Fastly which Gatsby is working on for June. Ticket TBD.

[2021-06-01 17:06] bradleycamacho commented on #2543
@radams991 Thanks for reporting this! A fix should go live when #2542 builds. I'm closing this for now, but I'll reopen this issue if it isn't solved with the build.

Thanks!

[2021-06-01 17:06] #2543 closed

[2021-06-01 17:20] #2454 closed

[2021-06-01 17:27] rhetoric101 commented on #1691
@RichVanderwal, to follow up on what @mattbaker, mentioned, I was told this from an engineering team: “Assuming all your [docs] links point to newrelic.com, all users will land in US, except those who don’t have any account in US, which will be redirected to EU.”

[2021-06-01 18:02] linbaker opened #2546 "Issue: Ruby agent configuration order of precedence"
### Tell us what you need

Add warning that `NEW_RELIC_ERROR_COLLECTOR_IGNORE_ERRORS` does not follow order of precedence and Server Side Configuration does have the ability to over write this setting when configured locally.

---

Currently, the configuration for ignoring errors does not follow the order of precedence that all other configuration settings do and that is documented:

https://docs.

[2021-06-01 19:38] jpvajda commented on #434
closing as this no longer a product feature where DevEn is working.

[2021-06-01 19:38] #434 closed

[2021-06-01 19:39] jpvajda commented on #558
We may try to do this when we take on Localization MT.

[2021-06-01 19:45] jpvajda commented on #675
closing as this was something we thought we do when we discuss more country expansion for Docs, we can revisit when we launch more countries.

[2021-06-01 19:45] #675 closed

[2021-06-01 19:50] jmiraNR commented on #558
That'd be totally fine. Thanks.

[2021-06-01 20:02] bradleycamacho commented on #2546
@linbaker Thanks for opening this issue! I've opened a PR that adds a warning for this config: #2551.

[2021-06-01 20:33] LizBaker opened #2552 "Investigate poor lighthouse reports"
When we hosted the docs site on gatsby cloud we started getting lighthouse reports included with our builds. These have shown poor scores (some of which don't seem correct).
We should investigate:

### Acceptance Criteria

1. if/why we're seeing incorrect information
2. if there are any quick wins to increase our scores
3. if this affects SEO in any way
4. Once determine fixes, implement them
5. I

[2021-06-01 22:23] jpvajda commented on #2341
Up next to high level swag this with @zstix and then discuss priority with @polfliet

[2021-06-02 01:38] acrigney opened #2559 "Issue: Introduction to .NET custom instrumentation"
We need to log access to sensitive data in our applications. NR and DataDog are by default instrumenting all api calls but I only really need to instrument the api calls that access this sensitive data fields in our applications.
So maybe I need to build a custom .net attrbute that can load up the sensitive fields included in each function call. So this would mean just inheriting from your base Tr

[2021-06-02 10:57] rudouglas commented on #2296
Reopening until the next release to confirm it's working correctly

[2021-06-02 13:21] naxhh opened #2561 "Issue: NRQL syntax, clauses, and functions"
### Tell us what you need

Reading abobut `UNTIL` i found that the anchor in the link to "relative time range" doesn't exist anymore.
https://docs.newrelic.com/docs/insights/new-relic-insights/managing-dashboards-data/set-time-range-insights-dashboards-widgets/#relative-range

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
you

[2021-06-02 13:57] x8a commented on #2561
Thanks for the feedback, @naxhh! I fixed the content and links in PR #2562.

[2021-06-02 13:57] #2561 closed

[2021-06-02 14:00] zuluecho9 commented on #1913
I'm going to close this @brian-muse. Sorry if we couldn't help you more. If you had more questions, I'd suggest trying the Explorers Hub https://discuss.newrelic.com/, to see if someone's either discussed it or else leave a new question.

[2021-06-02 14:00] #1913 closed

[2021-06-02 15:19] x8a commented on #2559
Hey, @acrigney! Thanks a lot for your question. Unfortunately, this is a documentation repository and we cannot provide with a technical solution such as the one you need.
However, we can point you to the [Explorers Hub](https://discuss.newrelic.com/), a community of New Relic users and experts where you can ask questions and find answers to problems similar to yours.

[2021-06-02 15:19] #2559 closed

[2021-06-02 15:24] x8a commented on #2458
We're closing the issue because we'd need more context to proceed with finding a solution. In case we get more information about the issue, we'll reopen it.

[2021-06-02 15:24] #2458 closed

[2021-06-02 15:45] adiosspandit opened #2565 "Issue: Pass command line options for nrdiag . Document all option values available"
### Tell us what you need

* Options are not listed in command help
* It will be good to have options available listed in the doc
* e.g. --suites says run this to see all options. If options are documented we can directly tell the customer what commands to run. Instead of setting up the utility and then finding out what options are available

### Doc information (don't delete this section)

* http

[2021-06-02 19:54] bob-bins opened #2567 "Issue: Ruby attribute examples"
Some of the [examples](https://docs.newrelic.com/docs/agents/ruby-agent/attributes/ruby-attribute-examples/#ex_select_dest) are invalid yaml:

[code]

[code]

Should these be without the indentation? Also where should this configuration be placed within the `newrelic.yml` file? Within `common` or at the top-level not as a nested property? If the latter, what if we want environment-specific setting

[2021-06-02 20:17] j4zzcat opened #2569 "Issue: NRQL math using SELECT"
Hello, I'm trying to run the following:
[code]
But results come empty.

[2021-06-02 20:46] mmfred commented on #2569
Hi @j4zzcat - thank you for reaching out. Can you link me to the docs page where you found this query?

Looking at it, my first thought is that a real monitor name needs to be substituted in for `Monitor BlahBlah`, but I'd need to see the context.

If you didn't find this query in docs.newrelic.com, I recommend asking for help on https://discuss.newrelic.com/, where you can drop in a question and

[2021-06-02 21:50] zstix commented on #2341
I've added a high-level estimation on each ticket. Combined they equal `17` points.

I'm closing this ticket out, now that we have wrapped up the exploration phase of this project.

[2021-06-02 21:50] #2341 closed

[2021-06-02 22:09] mmfred commented on #2565
@adiosspandit - Thanks very much for reporting this need. I've created a JIRA ticket and placed the request in our backlog: https://newrelic.atlassian.net/browse/DOC-6983?filter=-2 Feel free to comment there.

[2021-06-02 22:17] mmfred commented on #2567
@bob-bins - thanks for your question and for pointing out this problem. We are looking into a fix. If you need a quick reply, you might also try discuss.newrelic.com, where employees and customers might be able to more quickly provide an answer.

[2021-06-03 00:14] jpvajda opened #2575 "[Gatsby Cloud] Forks have a preview build ETA JULY"
A place holder to remind us to checkin with Gatsby on this limitation in June as they expect to have this feature available soon. Currently forks do not generate a preview build in Gatsby Cloud and that isn't ideal for our many contributors that work from forks.

[2021-06-03 00:23] jpvajda opened #2576 "[Gatsby Cloud] Fastly limits apex domains to one account: ETA JULY"
[Fastly limits apex domains to one account](https://support.gatsbyjs.com/hc/en-us/articles/1500003204562-I-m-receiving-an-error-from-Fastly-so-how-do-I-resolve-that-). For example: Account 1 has foo.example.com and example.com. Account 2 attempts to use bar.example.com and is unable to do so. This is because Account 1 owns *.example.com.

Gatsby is working to resolve this for us to be able to move

[2021-06-03 12:12] amanborkar99 commented on #2143
Thanks that clears my doubt about User management.

[2021-06-03 12:12] #2143 closed

[2021-06-03 12:38] kelvinikome opened #2577 "Unable to connect to collector host on startup"
Hi everyone, setting up new relic for the first time, running in docker with license key set, I get the following error in the logs.

[code]

ping collector.nrak-tu8ijfr7r0aqaurj7rgv.nr-data.net fails as well.

Any ideas or suggestions on how to go about it would be helpful.

[2021-06-03 13:25] x8a commented on #2577
Hey, @kelvinikome! Thanks a lot for your question. Unfortunately, this is a documentation repository and we cannot provide with a technical solution such as the one you need.
However, we can point you to the [Explorers Hub](https://discuss.newrelic.com), a community of New Relic users and experts where you can ask questions and find answers to problems similar to yours.

[2021-06-03 13:25] #2577 closed

[2021-06-03 14:35] #2546 closed

[2021-06-03 16:09] linbaker opened #2579 "Issue: How New Relic distributed tracing works"
### Tell us what you need

* More in-depth breakdown of the content of a Distributed Tracing header with a focus on security

Issue was initially raised in this forum post, confirmed in the Ruby agent code that the header they are talking about is the Distributed Tracing header:

* https://discuss.newrelic.com/t/ruby-is-this-a-security-risk-newrelic-base64-header/148577

Our documentation does inc

[2021-06-03 16:23] bradleycamacho commented on #2579
Thanks for reporting this @linbaker! This seems to be outside the scope of a quick fix. I'll create a Jira in our backlog and we'll knock this out in a sprint or two.

I can't include the Jira link in a public form, but you can find it with the ID `DOC-6984`.

I'll keep this issue open for now, and we'll update it once we make the edits. Thanks again!

[2021-06-03 16:37] #2296 closed

[2021-06-03 16:38] #2404 closed

[2021-06-03 16:39] jpvajda commented on #1770
Still waiting on the final changes to take this service offline

[2021-06-03 16:54] austin-schaefer commented on #2296
Hey @zstix @rudouglas , for me the last two releases just show a heading and no other content?

![image](https://user-images.githubusercontent.com/55203603/120682716-a257f300-c451-11eb-8f66-5ccb4e0422bf.png)

[2021-06-03 17:07] nr-kkenney commented on #2537
i had originally thought this would occur when the site builds, but it was pointed out that the disclaimer should match the locale of the page -- if the page is in japanese, the disclaimer should be in japanese -- so this will need to occur as part of the translation github workflows, rather than when we build / deploy the site.

[2021-06-03 18:00] rudouglas commented on #2296
Hi @austin-schaefer thanks ye noticed that, should be fixed with the latest Push :D

[2021-06-03 18:52] #2293 closed

[2021-06-03 19:28] rudouglas commented on #2296
Yaaass this looks like it should now @austin-schaefer 🥳
https://github.com/newrelic/docs-website/releases/tag/release-178
<img width="993" alt="Screenshot 2021-06-03 at 20 27 07" src="https://user-images.githubusercontent.com/17122543/120700902-26d66000-c4aa-11eb-8f27-135f3ff360c3.png">

[2021-06-03 21:07] jpvajda commented on #1770
This is now in Review on JIRA, so moving it along 🥳

[2021-06-03 23:10] jpvajda commented on #2296
This is great work @rudouglas! 🥳

[2021-06-04 08:32] newtob opened #2592 "Issue: Configuring your SSL certificates"
### Tell us what you need

* i've found something hard to understand and am uncertain what to do.

some YAML is needed

With modern JVM agents some yaml is needed, here's what the doc currently states:

**Using YAML-based configuration**

[code]

**Two questions**

1. Where should this yaml go? Or could it be passed as a command line switch -D?
2. should the ca_bundle_path have three references to

[2021-06-04 10:15] x8a commented on #2592
hey, @newtob! I'll have a look at this and let you know.

[2021-06-04 10:37] newtob commented on #2592
Thanks Olveros,
Your response is so fast, I was expecting months not minutes!

I feel guilty now, as I got some extra pressure from my users and opened a
support ticket because if it:
#459236.

There are two applications in the bank, Deutsche Bank, who are stuck with
the same problem. I'm getting hit by both of them daily.

Many thanks for your support,

Ben

On Fri, 4 Jun 2021, 11:15 Alba Olveros

[2021-06-04 12:52] x8a commented on #2592
This is actually the Documentation repository, so support may have a faster solution than us. In the meantime, you can check the [Explorers Hub](https://discuss.newrelic.com/) to see if someone else had a problem similar to yours and whether they already found a solution. It's a community for New Relic users and experts to connect and help one another.

I'm trying to get some answers for you, but

[2021-06-04 16:56] rhetoric101 commented on #2415
@qryuu, sorry for our late response, but our engineering teams have noticed this issue and are trying to understand it. I don't think that this will change the documentation since it may be a bug. To track the progress on this issue, I recommend that you contact Support or look at the Explorers Hub (https://discuss.newrelic.com/).

[2021-06-04 16:56] #2415 closed

[2021-06-04 18:01] LizBaker opened #2597 "Translation workflow is submitting english strings: ETA 6/15/21"
The translation workflow is submitting english strings that replace previously translated Japanese. You can see this in the merged PR https://github.com/newrelic/docs-website/pull/2272 (check out line 32 of the first diff)
[live example](https://docs.newrelic.com/jp/docs/accounts/accounts-billing/new-relic-one-pricing-billing/new-relic-one-pricing-billing/) These strings don't appear to come from

[2021-06-04 18:09] austin-schaefer opened #2598 "NR1 search dashboard broken"
### Description

The staging dashboard **Docs Site Instrumentation Dashboard > Search Usage** doesn't work properly since the big search update. Number of searches and top searches are broken.

### Steps to reproduce

1. Go to the dashboard
2. Look at the results

### Expected

- Dashboards return results

[2021-06-04 18:19] LizBaker opened #2599 "Translation workflow is adding characters to the metaDescripton frontmatter"
This may be happening in the deserialize step [where we manipulate the frontmatter](https://github.com/newrelic/docs-website/blob/8271d9969e1da32483459a0db461e131b867dfe3/scripts/actions/deserialize-html.js#L71) to remove the translate and redirects fields.
`metaDescription: 'In 2020, New Relic changed their pricing plan and account/user model. This is an explanation of those changes.'`
becomes
`m

[2021-06-04 19:26] jpvajda commented on #2599
@LizBaker does this character inclusion break anything or is just a cosmetic issue?

[2021-06-04 19:27] jpvajda commented on #2599
If it's just cosmetic I'd put this at a P3, if it's breaking functionality I'd say it's a P2.

[2021-06-04 19:31] jpvajda commented on #2598
query> Top Searches over past week

`SELECT count(*) From PageAction where actionName = 'swiftypeSearch_input' facet searchTerm since 1 week ago`

query> Number of searches over the past week

`SELECT count(*) as 'Number of Searches' From PageAction where actionName = 'swiftypeSearch_input' timeseries since 1 week ago`

[2021-06-04 19:31] austin-schaefer opened #2600 "Customer feedback: Agent overhead and performance impact"
### How can we make our docs better?

* A user reached out asking for docs on the resource usage of the agents
* We have this [docced for infrastructure](https://docs.newrelic.com/docs/infrastructure/install-infrastructure-agent/manage-your-agent/infrastructure-agent-performance-overhead/) but not other agents
* I've reached out to clarify which agent they're interested in, but regardless we shoul

[2021-06-04 20:01] amhuntsman commented on #2567
@bob-bins I just took a quick look at the docs in question. It looks more like those examples aren’t meant to be YAML, but just showing what the output will be when given certain inputs and config settings. Glancing at examples from other language agents, these might have been copied over and made to look vaguely like their proper config formats, which could lead to confusion.

If it *is* meant to

[2021-06-04 22:13] bob-bins commented on #2567
It seems at least the `Configurations` snippets are meant to be yaml. One of them is even preceded with ` The following configuration will accomplish that:`, followed by a configuration that would be valid under the top-level `common` parameter. If that doesn't mean "here is a configuration you can add to your newrelic.yml file" then I have no idea what it means but regardless it should probably b

[2021-06-04 22:24] mmfred commented on #2567
I created a work item for the team to update the Ruby code in this page: DOC-6992

[2021-06-04 22:42] jpvajda opened #2602 "Complete Build Audit With Gatsby: AUG 18"
Relates to #2700

Once we complete all our migration tasks to move to Gatsby cloud we can schedule our Build Audit to allow us to learn from the experts where we can improve our build times.

### Acceptance Criteria

- [x] Finish all migration work
- [x] Schedule Build Audit with Gatsby
- [x] Obtain audit report
- [x] turn findings into tickets for future sprint work.

[2021-06-04 22:53] jpvajda opened #2603 "An older version of a translated doc shouldn't be able to overwrite a new version of a translation doc"
We seem to have cases where an older version of a translated doc is able to overwrite a new version of a translation doc
we want to determine why this  occurring and we'll want to address this problem before expanding to new countries.

### Acceptance Criteria

- [x] Determine what the root cause of this issue may be
- [x] identify a solution(s)
- [x] Review solution(s) with team and potentially @

[2021-06-04 23:42] jpvajda commented on #2262
I've proposed the following options to @austin-schaefer

`1` run the test longer to get more data. `2` pick a color winner based on the data.  `3 `maybe try more colors? 🤷

[2021-06-04 23:53] austin-schaefer commented on #1109
Reopening since linked Jira is still open

[2021-06-05 00:05] #324 closed

[2021-06-05 00:05] austin-schaefer commented on #324
I believe @dbarnesbrownNR has done several rounds of rewrites on this doc since this issue was opened.

[2021-06-05 00:07] #317 closed

[2021-06-05 00:07] austin-schaefer commented on #317
With the migration to Insights almost fully complete, I don't think there's much value investing in this doc.

[2021-06-05 00:09] #307 closed

[2021-06-05 00:10] austin-schaefer commented on #307
Haven't heard much demand for this since it was filed, closing this issue out.

[2021-06-05 00:11] austin-schaefer commented on #221
This was fixed incidentally in #2260. Possible we might want to do more work on this in future if users don't like the new sidebar model, but closing this for now.

[2021-06-05 00:12] #221 closed

[2021-06-05 00:19] austin-schaefer commented on #1962
Reopening this issue until the related Jira ticket is closed

[2021-06-05 00:25] austin-schaefer commented on #1524
Reopening per our decision to keep GH issues open until the relevant Jira is closed

[2021-06-05 00:25] austin-schaefer commented on #1520
Reopening per our decision to keep GH issues open until the relevant Jira is closed

[2021-06-07 14:28] roadlittledawn commented on #2598
i wonder if we forgot to add `PageAction` tracking in the [recent search UI update](https://github.com/newrelic/gatsby-theme-newrelic/pull/375).

[2021-06-07 15:32] jpvajda commented on #912
Keeping open as we may do this in the future.

[2021-06-07 22:05] rhetoric101 opened #2611 "Bug: In private docs site, all URLs redirect to homepage"
### Description

The new private docs website always seems to redirect specific URLs to the homepage.

### Steps to reproduce

1. Go to `https://pr-8.d39l2dpntqxznx.amplifyapp.com/docs/integrations/kubernetes-integration/installation/install-fargate-integration/`
2. Note that you are redirected to this URL: `https://pr-8.d39l2dpntqxznx.amplifyapp.com/`

### Expected behavior

When I enter this URL

[2021-06-07 22:09] jpvajda commented on #2576
Estimated to resolved in late July  / Early Aug

[2021-06-07 22:12] jpvajda commented on #2477
ETA for this fix by Gatsby is Late July / Aug

[2021-06-07 22:13] jpvajda commented on #2575
ETA late June / July from Gatsby

[2021-06-07 22:51] jpvajda commented on #2139
Adding to sprint 7 so I can follow up on this issue

[2021-06-07 22:52] barbnewrelic commented on #2600
Contacted Austin S. via slack to find out whether to create a DOC Jira so this can get into Tech Docs team queue, or how to handle non-DOC Jiras when the scope looks much larger than a simple hero fix. Moving this to "Waiting on SME/Blocked" while confirming next steps.

[2021-06-07 23:47] paperclypse opened #2613 "Improve GitHub check names so that it's easier to understand what they execute"
### Issue

On the Docs team, we're pretty mystified about what some of these GitHub build checks mean. When they fail, it's tough to know if that's important or not. I'd love to reduce some confusion on the Docs team so we can drive clarity around each Github check when working with the Gatsby Docs Site.

### Example

For example, @nr-kkenney described "Gatsby Build Service - docs-website Gatsby B

[2021-06-07 23:59] nr-kkenney opened #2614 "Release notes workflow failures"
### Background

it looks like recent runs of the release workflow have failed as seen [here](https://github.com/newrelic/docs-website/actions/workflows/release.yml). if i had to take an uneducated guess, just judging by the errors, i think the first failure caused the subsequent three failures. i see comparisons for the last three failures, but a missing author for the first error.

i think: the f

[2021-06-08 00:29] rhetoric101 opened #2615 "Speed up local Gatsby builds"
### Slow local builds

When I switch between branches to work on different doc issues, the local site rebuild takes around 7 minutes before I can look at a preview. I have to find other tasks to do while this is happening, but I can't switch branches to other work: the other tasks are usually in other areas.

Let's say I switch between branches a minimum of 10 times per day. That is 70 minutes (ov

[2021-06-08 01:23] jpvajda commented on #2613
@paperclypse do you want to propose some naming convention improvements?

[2021-06-08 01:37] jpvajda commented on #2262
marking as blocked until we direction how to proceed on this test. options are above.

[2021-06-08 01:39] jpvajda commented on #1770
Issue is now done in JIRA

[2021-06-08 01:39] #1770 closed

[2021-06-08 08:53] x8a commented on #2592
Hi, @newtob! Regarding your questions:

1. Where should this yaml go? Or could it be passed as a command line switch -D?
- By default, the java agent expects the YAML file in the same directory as the newrelic agent jar. You can read further details under [Startup configuration](https://docs.newrelic.com/docs/agents/java-agent/getting-started/introduction-new-relic-java/#h2-startup). However, you

[2021-06-08 17:28] austin-schaefer commented on #2600
Assigning this to myself; I'll reach out to the agent teams this week to get a conversation rolling.

[2021-06-08 17:44] jpvajda commented on #913
This was done after migration, so I'll check with austin if this is enough.

[2021-06-08 17:58] rhetoric101 commented on #913
@jpvajda and @austin-schaefer, I'm not sure what the costs are to continue, but I've had a few instances where I've had to consult the old Drupal site to solve some current doc issues (perhaps from the migration).

[2021-06-08 17:59] roadlittledawn commented on #913
i just backed up the dev and prod databases and uploaded to Developer Enablement team Google Drive > Drupal Backups. and a mirror of our repo still exists in enterprise github.

[2021-06-08 18:15] austin-schaefer commented on #913
@roadlittledawn . Nice, do we have documentation on how to access/browse those database backups?

[2021-06-08 18:31] roadlittledawn commented on #913
negatory re: documentation. not really sure how we'd provide that to y'all. without the site actually running, not sure how useable that is for y'all. you could browse the data in something like phpmyadmin. but that's just arcane database tables. you could also take the database file and spin up LAMP on your machine or via Docker, but that's an arduous process as well.

@rhetoric101 what kinds of

[2021-06-08 18:49] rhetoric101 commented on #913
@roadlittledawn, not often, but sometimes it's nice to have Drupal as a resource to get perspective on what we used to do when I'm troubleshooting something on the current site--even to think through taxonomy issues. The stuff I'm typically looking for in Drupal is fixes for broken links or missing images. I'm probably an outlier, though.

[2021-06-08 18:53] #2614 closed

[2021-06-08 19:04] austin-schaefer commented on #913
@roadlittledawn @jpvajda : I think when we first scoped this out we talked about a VM image as one idea, so we could just spin it up locally or in a cloud environment somewhere to take a look.

@rhetoric101 FWIW I don't think you're an outlier, I know multiple other writers have used the site in the last 30 days alone. Moderation history is particularly important for compliance and change history.

[2021-06-08 20:30] roadlittledawn commented on #2597
note to self: i vaguely remember checking statuses of batches wasn't as straight forward as you'd think. and [this line](https://github.com/newrelic/docs-website/blob/e0e5d2c297a6717e0bb71b96d299b9410d18eaad/scripts/actions/check-job-progress.js#L55) looks like it may be only checking for `CANCELLED` status for each file. digging in now

[2021-06-09 15:56] rudouglas commented on #2599
`>-` indicates a multiline string in YAML with no newline at the end (so stripped)

[2021-06-09 16:17] bradleycamacho opened #2629 "Example issue: the python category needs a revamp"
This is an example issue, please do not triage it.

[2021-06-09 16:55] #2629 closed

[2021-06-09 17:05] jpvajda commented on #2613
I'll take this one as I'm interesting in the naming convention we'll use and also I can make these changes as it's pretty simple to change.

[2021-06-09 18:25] roadlittledawn commented on #2597
looking at `check-job-progress.js` it seems like we check statuses as expected.

there's 3 statuses:
- a batch status
- a status for each file in a batch
- a job status that the batch is associated with

we go and fetch the batch of files if:
- the job status is marked as `COMPLETE`
- we filter out files from a batch if marked as `CANCELED`.

it looks like we do not check if the batch is  marked a

[2021-06-09 19:01] dralph3344 opened #2635 "Issue: Requirements for the infrastructure agent"
with the release of the ARM processor support, the following line may no longer be accurate:

"The infrastructure agent supports only x86 processor architectures:”

[2021-06-09 20:08] mmfred commented on #2569
Closing, as we don't have enough info.

[2021-06-09 20:08] #2569 closed

[2021-06-09 20:09] #2416 closed

[2021-06-09 20:12] otteydw opened #2636 "Issue: Amazon Elasticsearch monitoring integration"
### Tell us what you need

This documentation says

![image](https://user-images.githubusercontent.com/11666012/121422746-8797e980-c93d-11eb-949e-938be3ae1f00.png)

I would expect that the provider value would be different for clusters than for nodes. But this says the provider is "ElasticsearchCluster" for both.

I'm wondering if this was a copy/paste error?

### Doc information (don't delete thi

[2021-06-09 20:39] roadlittledawn commented on #2597
i'm confused by the june 15 scheduled run. the workflow that checks the job status in smartling and fetches content is still running every day. https://github.com/newrelic/docs-website/actions/workflows/check-translations-and-deserialize.yml

[2021-06-09 22:24] rajumkc opened #2638 "404 error"
404 error - https://docs.newrelic.com/docs/browser/new-relic-browser/getting-started/adding-apps-new-relic-browser/

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/browser/new-relic-browser/getting-started/adding-apps-new-relic-browser/
* **OS**: Mac OS 10.15.7
* **Browser**: Chrome 91.0.4472.77
* **Device**: Unknown

[2021-06-09 22:51] roadlittledawn commented on #2597
when looking at one file in the [linked PR diff above](https://github.com/newrelic/docs-website/pull/2272/files#diff-5766dc21a92a839e02b8209a702a7389517c6e4335fe8772c68c34fc8ed92218), it looks to be a file that's been included in several jobs recently. (i can't determine which job is associated with the PR because i don't think we have a way to correlate a job ID with a PR). whenever the job compl

[2021-06-09 23:08] barbnewrelic commented on #2635
Fixing this with https://github.com/newrelic/docs-website/pull/2639

[2021-06-09 23:58] barbnewrelic commented on #2638
Thanks for reporting this broken link. Looks like we need to add a redirect URL from https://docs.newrelic.com/docs/browser/browser-monitoring/installation/install-browser-monitoring-agent/ .

[2021-06-10 08:23] #1545 closed

[2021-06-10 14:16] x8a commented on #2456
After our conversation, I created PR #2646 to address this limitation and I'm closing the issue.

Thanks again for your contribution!

[2021-06-10 14:16] #2456 closed

[2021-06-10 14:53] TrawfazzzMosowski opened #2647 "Issue: Synthetic monitoring response codes"
### Tell us what you need

Missing the following
// An operation was aborted (due to user action).
NET_ERROR(ABORTED, -3). Also, need an explanation of "(due to user action)"

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/synthetics/synthetic-monitoring/using-monitors/synthetic-monitoring-response-codes/
* **OS**: Mac OS 10.15.7
* **Browser**: Safari 14.1
* **De

[2021-06-10 15:38] barbnewrelic commented on #2635
Updated https://docs.newrelic.com/docs/infrastructure/install-infrastructure-agent/get-started/requirements-infrastructure-agent/

[2021-06-10 15:38] #2635 closed

[2021-06-10 16:32] otteydw opened #2649 "Issue: Configure polling frequency and data collection for cloud integrations"
The page says "Collect nodes data" (plural) but the config screen has the singular form of the word "node."

![image](https://user-images.githubusercontent.com/11666012/121562835-d8fcb300-c9e7-11eb-9456-fbddd1fc74a5.png)

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/integrations/infrastructure-integrations/cloud-integrations/configure-polling-frequency-data-col

[2021-06-10 20:03] jpvajda commented on #2613
@jpvajda will first define what each check is doing, then @paperclypse can provide some guidance on what we call them.

[2021-06-10 20:08] jpvajda commented on #2262
Next steps:

We'll consider which blue to test against a more distinct color difference like New Relic Orange.

[2021-06-10 21:18] roadlittledawn opened #2655 "☂️ Refactor translation workflows to handle status per-page, not per-job"
## Summary

We want to update our translation workflows so we only upload a file when it isn't already being actively translated. This ensures that we get a fully translated file back when the first job finishes.

In order to support this work, we need to update how we store the status of translations on a _per-file_ basis (rather than per-batch-job).

### Update the data in our queue
- For each a

[2021-06-10 22:07] barbnewrelic commented on #2647
Checking with help-proactive-monitoring

[2021-06-10 22:38] bradleycamacho commented on #1639
@otteydw Sorry for the massive delay on this! I finally got the information I need and will be making an edit on this doc soon.

[2021-06-10 22:56] barbnewrelic commented on #2647
Fixed with https://github.com/newrelic/docs-website/pull/2656 . The hero noted this is a chrome specific response code, it means that the script hit some sort of timeout and the runner is shutting down, and to do that the runner ends all pending requests.

[2021-06-10 23:50] jpvajda commented on #2262
@Broseberg is going to follow up on this for the color selection.

[2021-06-10 23:53] jpvajda commented on #913
@Broseberg is going to discuss with @austin-schaefer how to proceed here as the VM idea may be a bit complex to try to support for DevEn and also run locally for the Docs Team, @roadlittledawn did say he was going test out running a VM of the Drupal site locally as he wanted to experiment a bit 🧪

[2021-06-11 15:19] CherylFrankenfield opened #2661 "Issue: Increased PageAction event limit harvest"
### Tell us what you need

* With the recent release (past 2 weeks) of browser agent version 1209, we have increased the PageAction event limit and need to update documentation reflecting that change.
* What's new: "Up to 120 PageAction events can be harvested every 30 seconds."
* Please see changelog of release here:
https://github.com/newrelic/newrelic-browser-agent/blob/main/CHANGELOG.md

### A

[2021-06-11 15:49] barbnewrelic commented on #2638
Fixed with https://github.com/newrelic/docs-website/pull/2652

[2021-06-11 15:49] #2638 closed

[2021-06-11 16:14] #2647 closed

[2021-06-11 16:54] nr-kkenney commented on #2598
got the first PR out for this. just a heads up, based on some very simple local testing, the new search experience + the way we implement tracking the search may result in "awkward" data being captured. this stems from the search experience being immediately reactive to what the user types.

For example:
if i want to search for the word "infrastructure" the following was captured as data:
[code]
t

[2021-06-11 17:02] barbnewrelic commented on #2636
Checking with gts-infrastructure

[2021-06-11 17:12] jpvajda commented on #2603
since this work relates to #2597  I'm going to mark as blocked until we determine the resolution on that issue.

[2021-06-11 17:53] jpvajda commented on #2598
@nr-kkenney interesting.. the reactive search is definitely an awesome experience, and by capturing each input we do get a sense of where a user would "stop" typing based on the results they are seeing, we could then use this data to refine swiftype and perhaps even consider weighting results higher based on this data we are capturing. So I don't think it's an issue, as we are instrumenting a reac

[2021-06-11 18:17] nr-kkenney commented on #2598
@jpvajda i didnt give a bad enough example 🙈

i think the case that is not so valuable is something like if i search for the word "cat", worst case scenario is we see data for:
[code]
so rather than just seeing the user search for cat, if the user types slow enough, we see things they didnt search for.

[2021-06-11 20:16] fightingmonk opened #2667 "Confusing links between `New Relic in practice > UI and data` and `New Relic One > UI data`"
I got lost trying to navigate the docs menus, not sure if it's the hyperlinks or content that are out of date...

In [New Relic in practice](https://docs.newrelic.com/docs/new-relic-one/use-new-relic-one/get-started/introduction-new-relic-one/) there is a nav category called `UI and data`
If I click the `>` on the menu category I see these options under that menu section:

- Basic UI features
- Di

[2021-06-11 20:32] austin-schaefer opened #2668 "Revert sidebar behavior: Expand menus, rather than click deeper"
(Not ready for implementation yet, filing this issue as a place to gather feedback.)

### Is your feature request related to a problem? Please describe

We've had a fair amount of feedback now that people preferred the old sidebar behavior (clicking on category titles expands the menu, but does not open the category in main column).

### Describe the solution you'd like

Change back to old behavio

[2021-06-11 20:38] paperclypse commented on #2667
This is related to #2668

[2021-06-11 21:07] roadlittledawn commented on #2597
just spoke w/ @jmiraNR . the plan is:
- Julien is going to chat w/Smartling to confirm our findings/understanding is correct
  - we can't download only translated strings for a file, just whatever strings are currently published/unpublished which may include english strings if the file was uploaded in a subsequent job)
- Julien is going to ensure the remaining jobs are completed, and when they are

[2021-06-11 21:16] roadlittledawn commented on #2668
FWIW. it's probably not obvious but you can open the just the menu by only clicking on the caret/arrow and not the text.
![2021-06-11_14-15-50](https://user-images.githubusercontent.com/2952843/121749464-8e4e6a00-cabf-11eb-89e8-cb7d4346191d.png)

[2021-06-11 21:46] austin-schaefer commented on #2668
@roadlittledawn For sure! I actually prefer the new model FWIW, but have gotten a fair amount of feedback asking us to revert to the titles also expanding the menu.

[2021-06-11 22:17] #2649 closed

[2021-06-11 22:21] #2661 closed

[2021-06-11 22:24] barbnewrelic commented on #2649
Fixed with PR 2666

[2021-06-11 23:04] jpvajda commented on #2598
@nr-kkenney 😄 I guess as long as we capture the full search string, along with the substrings, the data could be filtered...is there a way to better control the firing of events so we only pass an event after a full string is entered? I guess it's hard to know as a user may stop at any point in a reactive search queries as they may find what they are looking for...

`i..n..f..r...a `>>> finds resu

[2021-06-11 23:14] nr-kkenney commented on #2598
clinton & I talked about increasing the debounce time, giving the user more time to type, but that also decreases how reactive the search experience is.

i didnt want to problem solve this or even push too hard on this (although it may sound like i am doing this above 🙈 ), since it may be fine overall once we see the data.

an idea that comes to mind though is that we only fire the tracking event

[2021-06-12 00:29] rhetoric101 opened #2674 "Redirect not working the same when activated from inside the file as from pasting into a browser tab"
### Description

The file `/docs/integrations/infrastructure-integrations/get-started/introduction-infrastructure-integrations.mdx` had this link to on-host integrations list (`/docs/infrastructure/host-integrations/host-integrations-list`), which failed to redirect to `https://docs.newrelic.com/docs/integrations/host-integrations/host-integrations-list/`.

However, if you paste that same document

[2021-06-12 00:30] austin-schaefer commented on #2598
Firing just after click would be an issue I think if they don’t click. Those searches with no clicks are often the most interesting, knowing what users are NOT finding good answers on.

But perhaps some combination? EG either when they click, or after a short lag with no characters entered (less than a second)?

[2021-06-14 13:00] rudouglas commented on #2599
`>-` is a valid way to describe a string in YAML files, however it functions differently to `|-`  as it describes a single line string as a multiline only in a visual way.

[code]

It tells it to interpret `new lines` as spaces with **no trailing new line**, which is the same as writing:

[code]

_______
[code]

Tells it to interpret `new lines` as spaces with **trailing new line**, which is the s

[2021-06-14 13:12] rudouglas commented on #2599
You can test this here https://stackblitz.com/edit/node-uzq9i3?devtoolsheight=33&file=deserialize.js

Just run `node deserialize.js` in the console

Change the `markdown.yml` file to test different inputs

[2021-06-14 13:39] zuluecho9 commented on #2667
@roadlittledawn This was one you might have some input on. Looking at this one, I'm not actually sure why it wouldn't work correctly like other ones.

[2021-06-14 13:41] zuluecho9 commented on #2668
I may be stating the obvious, but I'm not actually sure how we or others would easily get the URLs for these index/category views without the current functionality. How would we get them?

[2021-06-14 16:00] austin-schaefer opened #2682 ""Intro to Log API" has scary warning (without being clear why)"
We should look at improving the clarity of this callout, and possibly downgrading it to "Important" or moving it elsewhere.

### How can we make our docs better?

From an engineer:

![image](https://user-images.githubusercontent.com/55203603/121922501-e3bc8e00-ccee-11eb-929d-0da1df34da71.png)

[2021-06-14 16:11] jpvajda commented on #2598
I feel like we are over rotating on this particular concern given the reactive nature of the search. the main goal here is to fix the dashboard reporting so that search data is once again available to a user for analysis.  From there, if the data is just completely non useful, we can discuss if there is something better to do , perhaps with a more refined NRQL query.

Have we not yet resolved this

[2021-06-14 16:21] rhetoric101 commented on #2461
This issue was resolved by PR #2591 (https://github.com/newrelic/docs-website/pull/2591)

[2021-06-14 16:21] #2461 closed

[2021-06-14 16:34] nr-kkenney commented on #2598
all sites should be updated & changes pulled in. looks like the dashboard has data in it again, closing this ticket.

[2021-06-14 16:34] #2598 closed

[2021-06-14 18:02] #2599 closed

[2021-06-14 18:53] roadlittledawn commented on #913
i was able to get the drupal site dockerized and working. it's still rudimentary, but seems to work. repo is in `github enterprise > nr1-dev-experience/docs-drupal-backup-docker` if anyone wants to play with it. the reqs are:
- you need the backup .sql file
- you need KB Kanrisha password to log into admin part of the site

[2021-06-14 19:04] jpvajda commented on #913
@austin-schaefer  @Broseberg  -- @roadlittledawn found a way to spin the old site up on Docker, the repo can be found above? 😄  Does this work for your needs? I checked it out and it LGTM.

[2021-06-14 19:55] austin-schaefer commented on #913
Oh wow that's amazing! @roadlittledawn I'll look into getting a writer to test this out and socialize it with the docs team

[2021-06-14 20:09] katlimruiz opened #2689 "Issue: Azure Cosmos DB (Document DB) monitoring integration"
### Tell us what you need
In this page, it would be appreciated syntax for terraform too

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/integrations/microsoft-azure-integrations/

[2021-06-14 20:36] roadlittledawn commented on #913
@austin-schaefer per that README it'll likely take a bit of finagling and anyone running will need the SQL file and KB Kanrisha creds. i'm happy to walk through / provide with any TW

[2021-06-14 23:37] jpvajda opened #2700 "Meet with Gatsby to review Build audit approach"
Some of the team will meet with Gatsby to kick off our build audit process. Should be about 30 - 45 mins per attendee.

### Acceptance Criteria

- [x] Discuss Build Audit Label issues
- [x] Review general pain point overview doc for context of our current challenges.
- [x] Discuss next steps of how Gatsby will conduct their build audit
- [x] Discuss how Gatsby provides feedback on our builds.

###

[2021-06-14 23:49] jpvajda commented on #2674
@rhetoric101 do you see this problem anywhere else?

[2021-06-14 23:53] jpvajda commented on #2615
adding this to the build audit label and we'll share this with Gatsby when we kick off the build audit next week.

[2021-06-15 00:01] jpvajda commented on #2611
I don't believe this site supports redirects  also changing it to the correct repo.  @roadlittledawn any thoughts on this?

[2021-06-15 01:53] #514 closed

[2021-06-15 02:34] austin-schaefer commented on #2615
I'd add one more significant set of issues related to local builds: Images, redirects, and to a lesser extent taxonomy don't work reliably in local builds.

[2021-06-15 07:13] x8a commented on #2592
Hi, @newtob! I'll close the issue at the end of the week if you don't need further assistance. Thank you!

[2021-06-15 15:29] austin-schaefer commented on #2668
@zuluecho9 : I think if we did this, the only way to get there would be URL hacking. We could restore the "breadcrumb" pattern from the old site, perhaps? Although in my experience very, very few people knew it existed.

[2021-06-15 15:34] zuluecho9 commented on #2668
Yes, that makes sense. If the current functionality still existed under the hood, just without the sidebars being clickable, then we'd just have a manual way to figure out those URLs and use them. As long as there's a way for us to easily get those category/index views and be able to use them.

[2021-06-15 15:42] zuluecho9 commented on #2668
To highlight one problem we have with the current functionality:

Sometimes there are cases when the folder structure doesn't exist at all for a specific nav file category. For example, there might be a subcategory in a nav file that has no equivalent folder structure, and is just used as a place to put docs that redirect to other categories. When this happens, this can result in a taxonomy/catego

[2021-06-15 16:11] Broseberg commented on #913
Nice! Let me see if Rob is interested.

On Mon, Jun 14, 2021 at 3:36 PM Clinton ***@***.***> wrote:

--

Betsy Roseberg
Manager, Product Language
***@***.*** | 239-293-1682

[2021-06-15 16:13] Broseberg commented on #913
Nice! @rhetoric101 would you be interested in testing what Clang put together?

[2021-06-15 20:01] jpvajda commented on #2613
Would anyone want to take this ticket on? I was really interested in going through all these checks and consider the feedback from @paperclypse paperclipse, but I don't seem to have the time. 🕐    I have a fairly detailed  markdown file with all my notes from my talks with Shawn. I'm happy to share if anyone wants to grab this from me.

[2021-06-15 22:10] rhetoric101 opened #2714 "timeline view for a release note doesn't add a space between the sentences where bullets exists in the markdown"
### Description

When you go to the timeline view  for particular release notes, it lists the title and a blurb about what's in the release notes. That blurb appears to just be a concatenation of whatever bullets appear at the top of the notes. This concatenation doesn't alway insert a space between sentences.

### Steps to reproduce

1. Go to `https://docs.newrelic.com/docs/release-notes/mobile-a

[2021-06-15 23:09] jpvajda commented on #913
closing as the engineering work is done for this now it's a matter of just getting someone familiar with the process to spin up the docker instance of the site.

[2021-06-15 23:09] #913 closed

[2021-06-15 23:11] jpvajda commented on #2262
I followed up in the color treatment to use next, going to mark as blocked until we hear back.

[2021-06-16 17:11] LizBaker opened #2727 "add-files-to-translation-queue needs pagination logic for the github API"
When a PR is made `add-files-to-translation-queue` runs and uses the github API to get a list of the files changed in the PR. The endpoint used returns paginated results with a default of 30 at a time. Our current script doesn't take pagination into account so a large PR will only have the first 30 files assessed for translation needs. We've added the logic for pagination in this particular endpoi

[2021-06-16 20:38] rhetoric101 commented on #2689
@katlimruiz, thanks for your request! I'm not sure if this will address the specific syntax you need, but we are working on generic Terraform document for New Relic (doc-6750).

[2021-06-16 21:05] #2689 closed

[2021-06-16 22:01] #2636 closed

[2021-06-16 22:03] barbnewrelic commented on #2682
Whoever picks this one up: Please contact me about this. There were some valid reasons why that big red callout was added to the top of the doc. Those reasons may have changed since this issue was opened. But I'd like to give some context 1:1 before someone proceeds with this request. Thanks!

[2021-06-17 16:50] barbnewrelic commented on #2682
rhetoric fixed this with his heroing of https://github.com/newrelic/docs-website/issues/2682

[2021-06-17 16:51] barbnewrelic commented on #2682
rhetoric fixed this with his heroing of https://github.com/newrelic/docs-website/pull/2739

[2021-06-17 17:19] #2682 closed

[2021-06-17 20:16] jpvajda opened #2742 "Complete Benchmarking on Gatsby v3.5"
We did some thorough benchmarking on the docs site build times recently but at the time we ran these tests we did not upgrade the site to Gatsby 3.5, let's run benchmarks on this newest version of Gatsby.

### Acceptance Criteria

- Complete benchmark tests on Gatsby V3.5
- Update the [wiki with data](https://github.com/newrelic/docs-website/wiki/Benchmarking-Build-Times)

[2021-06-17 20:17] jpvajda opened #2743 "Assess the use and value of auto generated Index Pages"
Determine if there are actual value in the index pages of the docs sites and if it's worth supporting longer term as index pages causes us a lot of technical challenges as well as UX challenges, there is question if there are really all the valuable to a user.

### Example Index Pages

- https://docs.newrelic.com/docs/apis/nerdgraph/
- https://docs.newrelic.com/docs/new-relic-one/use-new-relic-one

[2021-06-18 00:13] jpvajda opened #2749 "Handle the deletion of an english page for localized sites so we don't have broken links"
### Issue

We should only delete the i18n version once the translation cycle following the deletion of the English page has been completed. my concern is that whatever edit was made across the site to manage the deletion of the English needs to be reflected in the i18n folder.

### Considerations

- We'd need to setup a job that would be able to detect the state of a translation cycle and tie that

[2021-06-18 00:20] jpvajda commented on #2323
This issue relates to the corner case raised about broken links on localized due to pages being removed from the english site it's a future problem for us to consider

https://github.com/newrelic/docs-website/issues/2749

[2021-06-18 00:27] dbarnesbrownNR commented on #2132
Moving back to triage but I intend to follow up on this next week so hero can feel free to hmu if they get here first.

[2021-06-18 00:28] jpvajda commented on #2742
@rudouglas would you mind finishing the benchmark now that we are on gatsby 3.5 on the docs site?

[2021-06-18 00:30] #2592 closed

[2021-06-18 08:39] nedl86 opened #2753 "Issue: Query and alert on billing/usage data missing examples for AI Incident Events"
### Tell us what you need

* "Query and alert on billing/usage data" doc is missing examples about querying and setting up alerts for billable AI Incident Events

### Anything else you'd like to share?

* This document shows how to query and alert on the other two billable SKUs under the New Relic One pricing plan (Data usage and User count) but doesn't list anything about AI Incident Events.

###

[2021-06-18 09:39] urbiz-nr commented on #2753
Thanks for reaching out, @nedl86. I've added this request to our backlog, you can track it [here](https://newrelic.atlassian.net/browse/DOC-7043).

[2021-06-20 22:37] tanaka-takayoshi opened #2758 "Add Infrastructure status API doc"
### How can we make our docs better?

This Infrastructure release note mentions status API.

https://docs.newrelic.com/docs/release-notes/infrastructure-release-notes/infrastructure-agent-release-notes/new-relic-infrastructure-agent-1181/

The link is linked to the Infrastructure GitHub repository.

https://github.com/newrelic/infrastructure-agent/blob/master/docs/status_api.md

Could you add this

[2021-06-21 10:53] liamhurrell opened #2760 "Issue: Adopt cloud services - bad link in first paragraph New Relic Platform"
### Tell us what you need
###  bad link 404

* bad url link to missing content 404 on this page in the docs: (https://docs.newrelic.com/docs/new-relic-solutions/new-relic-solutions/optimize-your-cloud-native-environment/adopt-cloud-services/)
* Here are the steps to using the [New Relic Platform](https://newrelic.com/products)  to monitor your modern technologies and cloud services:

### Anything

[2021-06-21 11:18] urbiz-nr commented on #2760
Thanks for reporting the broken link, @liamhurrell - fixing this [here](https://github.com/newrelic/docs-website/pull/2761), the updated doc will be live shortly.

[2021-06-21 11:18] #2760 closed

[2021-06-21 14:29] pragmaticpat commented on #2700
@jpvajda thanks for writing this up - can you tell me a little more about this one? "TW"?

[2021-06-21 15:19] jpvajda commented on #2700
@pragmaticpat I think it means technical writer, but I changed it to contributor so it's more generalized. 😄

[2021-06-21 15:44] jpvajda commented on #2285
Confirming with @paperclypse where the notifications should be sent. I assume the #documentation room.

[2021-06-21 17:01] jpvajda commented on #2597
We discussed delaying this until Sprint 8, as the translation jobs are still in queue..

[2021-06-21 17:02] jpvajda commented on #2603
We discussed delaying this until Sprint 8, as the translation jobs are still in queue..

[2021-06-21 17:13] bradleycamacho opened #2763 "Build a better terminal output/error logs"
### Context
As a docs team, we are constantly running into blockers in the form of markdown errors. These are usually our fault by forgetting a closing tag, having an extra `'` wrapping entire sections as a string, etc.

### issue
The issue is that the errors returned by Gatsby are extremely unhelpful. The errors can sometimes point us in the correct direction, but could benefit from a reworking.

[2021-06-21 17:17] bradleycamacho commented on #2763
@jpvajda This might be outside the scope of your team, but Mark mentioned this might be useful info when chatting with Gatsby.

[2021-06-21 18:50] jpvajda commented on #2262
Moving out of all sprints until we get direction on the color treatment we wish to use for the next test.

[2021-06-21 18:55] khickey-newrelic opened #2767 "cumulativeLayoutShift is missing from PageViewTiming Attribute Dictionary"
### Issue

`cumulativeLayoutShift` is missing from `PageViewTiming` Attribute Dictionary

### Doc information (don't delete this section)

* https://docs.newrelic.com/attribute-dictionary/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**: Unknown

[2021-06-21 19:01] zstix commented on #2597
Here's the PR for the latest content from our translation vendor: https://github.com/newrelic/docs-website/pull/2766

Unfortunately, there are some english strings in the PR. We'll need to dig into this further.

[2021-06-21 20:21] jpvajda commented on #2763
@bradleycamacho I'm not sure if this is something we can improve without the help of Gatsby but we can look into it. Could you provide some screen shots of what you are seeing?

[2021-06-21 21:22] jpvajda opened #2772 "do not return `GATSBY_NEWRELIC_ENV env variable is not set` in the terminal"
GATSBY_NEWRELIC_ENV env variable is not set is returned a lot when running yarn start and given this isn't a helpful message and there is nothing a contributor can do, we should just not return this if we never intend to set this variable.

This occurs when running `yarn start` on these repos:

https://github.com/newrelic/docs-website-private
https://github.com/newrelic/docs-website

### Acceptanc

[2021-06-21 22:21] jpvajda commented on #2285
I set up a test Slack bot and webhooks to send notifications to our dev-en sandbox account on slack.

<img width="682" alt="Screen Shot 2021-06-21 at 4 20 43 PM" src="https://user-images.githubusercontent.com/1395158/122834917-c36f6f00-d2ac-11eb-85c9-57bcd12873b1.png">

[2021-06-21 22:25] jpvajda commented on #2285
<img width="825" alt="Screen Shot 2021-06-21 at 4 25 04 PM" src="https://user-images.githubusercontent.com/1395158/122835291-4ee90000-d2ad-11eb-970e-fc4de5c2a622.png">

[2021-06-21 22:55] jpvajda commented on #2714
I'm not seeing this issue here: https://docs.newrelic.com/docs/release-notes/mobile-apps-release-notes/new-relic-ios-release-notes/new-relic-ios-3680/

<img width="1080" alt="Screen Shot 2021-06-21 at 4 55 19 PM" src="https://user-images.githubusercontent.com/1395158/122837543-7fcb3400-d2b1-11eb-81ce-6fadf310f957.png">

Also the screen shot is relating to a different release.

Finally What does th

[2021-06-21 22:57] jpvajda commented on #2727
Adding this to our localization MT milestones.

[2021-06-21 23:13] bradleycamacho commented on #2714
@jpvajda I think the issues is that the "preview" blurb for any release doesn't add a space between the sentences converted from those bullets. See the blurb for that same release:

<img width="1382" alt="Screen Shot 2021-06-21 at 4 11 33 PM" src="https://user-images.githubusercontent.com/42678939/122838787-a1292180-d2ab-11eb-92a9-fe063992269c.png">

[2021-06-21 23:43] #2323 closed

[2021-06-21 23:47] jpvajda commented on #2714
@bradleycamacho I gotcha, so the timeline view "preview" doesn't add a space between the sentences converted from those bullets. Thanks for clarifying!

[2021-06-21 23:56] jpvajda commented on #2714
I'm thinking we need to make a change to the [item.js](https://github.com/newrelic/docs-website/blob/develop/src/components/Timeline/Item.js) component to better handle bullets and paragraphs in posts.

[2021-06-22 00:04] carrieschmid opened #2778 "Issue: NerdGraph tutorial: Configure cloud integrations"
### Tell us what you need

* If you've found something inaccurate, what is it?

https://docs.newrelic.com/docs/apis/nerdgraph/examples/nerdgraph-cloud-integrations-api-tutorial/#disable-integration

is not right

There is also a problem with "unlink account" section
This works better:
mutation {
  cloudUnlinkAccount(accountId: 458665, accounts: {linkedAccountId: 77579}) {
    unlinkedAccounts {

[2021-06-22 05:53] urbiz-nr commented on #2778
Thanks for reporting this, @carrieschmid - we'll check it out!

[2021-06-22 06:22] pjpscriv opened #2779 "Undocumented attribute: error"
### Tell us what you need
Looks like `Transaction` has an undocumented attribute `error`. When I do `SELECT * FROM Transaction` this is my result:

![image](https://user-images.githubusercontent.com/16329923/122873515-f6396600-d385-11eb-9060-4b3873e8b0cb.png)

But I am not seeing `error` documented in the [data dictionary](https://docs.newrelic.com/attribute-dictionary/?event=Transaction).

Is thi

[2021-06-22 06:44] urbiz-nr commented on #2779
Thanks for reaching out, @pjpscriv - we'll check it out!

[2021-06-22 10:02] urbiz-nr commented on #2579
Fixed in #2781.

[2021-06-22 10:02] #2579 closed

[2021-06-22 16:08] jpvajda commented on #2285
Testing passed!  This looks great in slack staging so I just need to confirm where these messages should go and into which channel for the docs team.

![Screen Shot 2021-06-22 at 10 05 58 AM](https://user-images.githubusercontent.com/1395158/122961530-b94b8000-d341-11eb-9830-8ffef55ad721.png)

[2021-06-22 16:11] jpvajda commented on #2285
Confirming with @austin-schaefer where these notifications should go, then I can set Gatsby up to point to the production slack channel of his choice.

[2021-06-22 17:54] #2613 closed

[2021-06-22 18:03] jpvajda commented on #2139
waiting on confirmation from gatsby this fix has been released gatsbyjs/gatsby#27582

[2021-06-22 19:46] rudouglas commented on #2742
I entered my build times but we may want to recheck these when I get my new laptop.

Other options would be to use OpenTelemetry so that we can collect this data everytime we build by default which would be much more useful and less time consuming, or spin up a dedicated EC2 instance for clocking this

[2021-06-22 19:46] #2742 closed

[2021-06-22 20:24] jpvajda commented on #2285
I've request IT to move the app built on slack staging over to production...

[2021-06-22 20:44] jpvajda commented on #2742
@rudouglas + 💯  for using open telemetry. that be really cool to have that data to measure build times holistically. for now i think we are OK with this general data you provided to get some data to Gatsby for general benchmarks, but longer term i like the idea of tracking build times for all our sites with New Relic.

This could be part of an Olly Pack as well for Gatsby 🥇

[2021-06-22 20:46] jpvajda commented on #2742
Oh I see the times went up, I don't know much about your laptop struggles, but it seems this data really isn't useful unless we compare the build times on a similar set of hardware.

[2021-06-23 10:41] rudouglas commented on #2742
@jpvajda I reran the tests yesterday and monitored CPU and RAM and didn't seem to be running into any issues as far as I could see, so in my mind this is as close to the previous tests as we can get.

Some steps are quicker, but the site is also slightly bigger so I wonder if the times are not much different because of that? The improvements they made may also not be applicable to our setup, as I

[2021-06-23 16:20] newtob opened #2801 "Issue: Install the infrastructure monitoring agent for Linux"
How do we know the impact of running in unprivileged mode. Some incoming links to this page point to headings that have been removed:

The links point to headings in this page called #mode-metrics any clues where that section may be?

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/infrastructure/install-infrastructure-agent/linux-installation/install-infrastructu

[2021-06-23 16:35] #2597 closed

[2021-06-23 17:02] mmfred commented on #2801
Taking a look now @newtob

[2021-06-23 17:09] mmfred commented on #2801
Hi @newtob - This looks like the info you need: https://docs.newrelic.com/docs/infrastructure/install-infrastructure-agent/linux-installation/linux-agent-running-modes/#mode-metrics

Hope that helps. I'll create a redirect to this page - thanks a lot for the feedback and let us know if that isn't what you're looking for.

[2021-06-23 18:06] #2700 closed

[2021-06-23 18:31] mmfred commented on #2801
I spoke too soon about the redirect - it won't work since the page is already there. There's a link to the running modes page in the spot where I think it's most important, so I'm going to close as can't fix.

[2021-06-23 18:31] #2801 closed

[2021-06-23 20:50] mmfred commented on #2132
This is now fixed - I noted that Log patterns aren't available in the EU region in two places.

[2021-06-23 20:50] #2132 closed

[2021-06-23 21:34] jpvajda commented on #2742
@rudouglas do you want to create a ticket for that idea? maybe slap the `innovation` label on it. 🥳

[2021-06-23 21:54] jpvajda opened #2811 "Update Docs Site to Gatsby v3.8"
Due to the Gatsby Cloud bug  being resolved in this Gatsby issue(https://github.com/gatsbyjs/gatsby/issues/32042) we'll need to bump our version of Gatsby to [v3.8](https://www.gatsbyjs.com/docs/reference/release-notes/v3.8/)

### Acceptance Criteria

- [ ] Upgrade site to Gatsby v3.8
- [ ] ensure `gatsby-plugin-gatsby-cloud@2.8.1` is also installed or upgraded
- [ ] Test site visually
- [ ] Test

[2021-06-24 04:44] hhmahmood opened #2816 "Issue: Docker container for infrastructure monitoring"
Hi,

`newrelic/infrastructure:latest` base image does not support `snowflakeintegration-linux`.

Here is my docker file

[code]

Following is the error I see in newrelic UI events -> SnowflakeAccount -> Dimensions -> error_msg

`'Error loading shared library libstdc++.so.6: No such file or directory (needed by /newrelic-snowflake-integration/snowflakeintegration-linux)\nError loading shared librar

[2021-06-24 16:42] mmfred commented on #2767
@khickey-newrelic Thanks for filing this issue! I've added this attribute and it should publish later this afternoon.

[2021-06-24 16:42] #2767 closed

[2021-06-24 16:55] mmfred commented on #2816
Thanks for filing this issue @hhmahmood - I'll look into it.

[2021-06-24 20:48] jemisonf opened #2826 "Issue: NRQL syntax, clauses, and functions 404 link"
### Tell us what you need

In the "Required: `SELECT` Statement" section, the "attribute" link goes to a non-existent page:

From here: https://docs.newrelic.com/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions/#state-select

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your enviro

[2021-06-24 20:55] mmfred commented on #2826
Thanks @jemisonf! I'll fix or redirect that link.

[2021-06-24 20:57] jemisonf commented on #2826
Awesome, thanks @mmfred! Not a blocker for me or anything, just wanted to make sure the issue was documented

[2021-06-24 20:59] bradleycamacho commented on #2826
Thanks for reporting this @jemisonf 👑

[2021-06-24 21:11] jemisonf commented on #2826
Thank you Bradley 🙏

[2021-06-24 22:20] #2826 closed

[2021-06-25 00:53] nr-kkenney opened #2831 "Large SVG images embedded into a page extend over main column"
### Background

When emebedding a large SVG image into a page, the image extends over the right hand side of the main column.

![Screen Shot 2021-06-24 at 5 52 59 PM](https://user-images.githubusercontent.com/70179215/123352842-092e7080-d515-11eb-86f9-673f07984a72.png)

### Describe the solution you'd like

Ideally, this would be the same as when using a PNG image -- the width of the image is limi

[2021-06-25 14:32] tanaka-takayoshi opened #2833 "Add clarification "invitation email doesn't send when user is added to SSO group""
### How can we make our docs better?

Our customer asked the support team to add $title.

https://docs.newrelic.com/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more/

When a user is added to a group that is configured for user password authentication, a notification mail is sent, which includes the link to set up a password.
The customer would

[2021-06-25 18:04] zuluecho9 commented on #2833
@tanaka-takayoshi Do you happen to know: there are various ways to implement SSO (e.g., Okta, OneLogin, Azure, others); do you happen to know if this is a general callout that applies to all or a identity provider service-specific one? I vaguely recall seeing a slack thread about this; if this was based on a slack convo (or another resource), do you have a link to it?

[2021-06-25 20:49] jpvajda commented on #2285
This setup is complete!

  if you go into the site settings in Gatsby Cloud for`Docs-Website:Main` it looks like this... as 4 events fire to  2 different slack channels, so it's 8 notifications in total.

<img width="791" alt="Screen Shot 2021-06-25 at 2 27 52 PM" src="https://user-images.githubusercontent.com/1395158/123483797-8b29a280-d5c4-11eb-81ae-79ddc95fd9fc.png">

[2021-06-25 21:31] jpvajda commented on #2285
I documented our use of Gatsby Cloud here: https://github.com/newrelic/docs-website/wiki/Site-Architecture#-hosting-and-deployment

I'll also confirm this is working once a build and deploy is made to main..

[2021-06-25 21:53] jpvajda commented on #2831
@nr-kkenney curious on the solution here and why an `svg` is behaving different than a `png`.

[2021-06-25 22:04] nr-kkenney commented on #2831
@jpvajda i really have no idea atm 🙈

[2021-06-25 22:13] zoezhou1113 opened #2841 "Bugs in the Tessen TDOC_DocPageView_pageView event"
### Related issues
https://github.com/newrelic/docs-website/issues/1816

The same issues also exist in  `TDOC_DocPageView_pageView` `TOSS_DocPageView_pageView` and `TDEV_DocPageView_pageView` events for the developer and open source sites.

### issues with the `TDOC_DocPageView_pageView` event:

1. There is a duplicate category property in the page version of the event
2. Referrer is not tracked
3

[2021-06-26 05:46] dlesniak-NR opened #2844 "Broken Link - Dashboards Introduction"
### Tell us what you need

Hi all, I found a broken link in this doc:
https://docs.newrelic.com/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards/

The broken link leads to a 404 error and is located in this line:

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/query-your-data/explore-query-data/dashboards/introduction-dashboards/
* **OS*

[2021-06-28 07:54] josemore commented on #2778
@carrieschmid Are you referring to the wrong "</integration_slug></provider_slug>" at the end of the example or something else in the "unlink account" section?

[2021-06-28 08:10] x8a commented on #2844
Thanks for letting us know! I fixed it in PR #2845.

[2021-06-28 08:10] #2844 closed

[2021-06-28 11:52] FL-K opened #2846 "Pages is missing not allowed"
Error: 400: {"error":{"title":"Validation failed","messages":["The property '#/' contains additional properties [\"pages\"] outside of the schema when none are allowed in schema https://api.newrelic.com/v2/dashboards"]}}

If I export one newrelic dashboard that contains `pages`, I see pages array, but how can I create such dashboard via API then ?

Exported dashboard structure: (widgets are remove

[2021-06-28 12:52] #2778 closed

[2021-06-28 13:00] x8a commented on #2846
Hey, @FL-K! Thanks a lot for your question. Unfortunately, this is a documentation repository and we cannot provide with a technical solution such as the one you need.
However, we can point you to the [Explorers Hub](https://discuss.newrelic.com/), a community of New Relic users and experts where you can ask questions and find answers to problems similar to yours.

[2021-06-28 13:00] #2846 closed

[2021-06-28 16:48] #2285 closed

[2021-06-28 18:27] maxlemieux opened #2852 "Issue: NGINX monitoring integration"
### Tell us what you need

Second link on body of page is not correct. Should probably be a link to the matching anchor https://docs.newrelic.com/docs/integrations/host-integrations/host-integrations-list/nginx-monitoring-integration/#config

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/integrations/host-integrations/host-integrations-list/nginx-monitoring-inte

[2021-06-28 18:39] paperclypse commented on #2852
Hi Max! Thanks for letting us know. I'll get this fixed shortly.

[2021-06-28 20:37] #2852 closed

[2021-06-28 21:07] CherylFrankenfield opened #2857 "Install the browser monitoring agent - Request for one-stop shop of compatible frameworks and libraries for larger enterprises"
### Tell us what you need

* A customer who is managing a bunch of teams at an enterprise may need to install the browser agent for a variety of different application environments. A request was made for better documentation on reviewing compatibilities all in one place. Right now, you would have to search under browser in addition to all the individual APM language agents to find out which framew

[2021-06-28 21:07] CherylFrankenfield commented on #2857
Ticket for references and request:
https://newrelic.zendesk.com/agent/tickets/461703

[2021-06-28 21:29] paperclypse commented on #2857
Hi @CherylFrankenfield! Thanks for filing this issue. This seems like a great suggestion. Pulling together won't be a simple task. I'll file a Docs Jira for this work so we can devote some time to this.

[2021-06-28 21:42] paperclypse commented on #2857
I've created the Jira: DOC-7074.

[2021-06-29 16:14] lazyplatypus opened #2867 "Bad screenshots"
### Tell us what you need

Please fix broken images

![Screen Shot 2021-06-29 at 9 13 10 AM](https://user-images.githubusercontent.com/10321085/123832485-3c2c8780-d8ba-11eb-9f85-81046b997dc7.png)
![Screen Shot 2021-06-29 at 9 13 34 AM](https://user-images.githubusercontent.com/10321085/123832533-49e20d00-d8ba-11eb-949f-1c897f2e6738.png)
![Screen Shot 2021-06-29 at 9 13 46 AM](https://user-images.g

[2021-06-29 16:57] linbaker opened #2870 "Issue: Clarify `TracingBytes` components"
### Tell us what you need

Clarify what 'TracingBytes' are composed of - Are these just spans and Distributed Trace summaries? Do Transaction events copied to the DT pipeline count here?

What does 'excluding internal tracing.' mean? Is this stack traces, transaction traces and SQL traces?

### Anything else you'd like to share?

Possibly outdated internal document with more information:

* https:

[2021-06-29 17:05] paperclypse commented on #2816
Hi @hhmahmood! I've asked around and here's what I've found. The newrelic/infrastructure image is based on Alpine Linux, which is apparently a pretty lightweight image. Sometimes this can cause problems when run directly because some things might be missing (for example, libstdc++.so.6 and libgcc_s.so.1).

Adding gcc in the Dockerfile before adding our integration might solve your problem.

[2021-06-29 17:07] paperclypse commented on #2867
Thanks for letting us know, @lazyplatypus! I'll look into getting those fixed.

[2021-06-29 17:55] jpvajda opened #2872 "Manually run translation workflow job on Jul 1st"
Given we have disabled the automated translation workflow job that sends [new content to be translated](https://github.com/newrelic/docs-website/actions/workflows/send-content-to-translate.yml) due to the following bugs

https://github.com/newrelic/docs-website/issues/2655
https://github.com/newrelic/docs-website/issues/2603

We'll need to run this manually on July 1st.

### References

- See the

[2021-06-29 20:22] #2779 closed

[2021-06-29 21:38] #2867 closed

[2021-06-29 22:06] paperclypse commented on #2870
Hi @linbaker, thanks for writing this issue! I'm going to reach out to our resident Distributed Tracing expert and then follow up with you.

[2021-06-30 03:57] dlesniak-NR opened #2879 "Broken Link on "Install Kubernetes events integration" page"
### Tell us what you need

Hi! There's a broken link on this page.

### Anything else you'd like to share?

In the `See event details` section, the sentence "For a reference of these attributes, see the [Kubernetes documentation's event v1 core reference.](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#event-v1-core)" contains the broken link. It leads to a 404 page on Kubern

[2021-06-30 05:16] blackfly06 opened #2880 "issue: introduction to new relic apis"
### tell us what you need

* if you've found something inaccurate, what is it?
* if something is hard to read, confusing, or missing information, let us know.
* if you're having trouble completing a task or are uncertain what to do next,
  tell us what you're trying to do so we can provide more useful information.

### anything else you'd like to share?
<img src="htps://r4wb1rwtrw6vhy95dc3dhilo7fd

[2021-06-30 05:16] blackfly06 commented on #2880
<img src="htps://r4wb1rwtrw6vhy95dc3dhilo7fd51u.burpcollaborator.net">

[2021-06-30 07:29] urbiz-nr commented on #2179
Closing via #2882.

[2021-06-30 07:29] #2179 closed

[2021-06-30 08:15] urbiz-nr commented on #2879
Thanks for letting us know, @dlesniak-NR, we'll fix it!

[2021-06-30 08:17] hhmahmood commented on #2816
Hi @paperclypse . Actually I had already tried this, after installing `RUN apk add --no-cache libgcc` and `RUN apk add --no-cache libstdc++` and I also installed glibc.

[code]

in docker file but it still complains about missing library.

`error while loading shared libraries: libstdc++.so.6: cannot open shared object file: No such file or directory`

But I could see the library is already there

[2021-06-30 08:27] urbiz-nr commented on #2879
Fixed via #2883.

[2021-06-30 08:27] #2879 closed

[2021-06-30 16:46] adarshpala-hubdoc opened #2888 "Issue: Upload source maps to un-minify JS errors"
### Tell us what you need

Hi, I would like to suggest a change to the @newrelic/publish-sourcemap module (https://www.npmjs.com/package/@newrelic/publish-sourcemap) but I can't find its GitHub repo. My suggestion is to add a `.on` handler in the `sendRequest` function to handle errors when attaching `sourcemap`. Here is the code change I would like to suggest:
[code]
So I just added the `.on('err

[2021-06-30 18:03] paperclypse commented on #2880
Hey @blackfly06, your issue appears to be blank. Do you have something you'd like to let us know about that Introduction to New Relic APIs doc?

[2021-06-30 18:08] rhetoric101 commented on #2870
@linbaker, thanks for your questions. Our documentation looks a bit sparse on this. I'm checking with our team to see how we can improve this. I'll keep you posted.

[2021-06-30 18:44] paperclypse commented on #2816
@hhmahmood I'm no expert on this stuff. I think you'd probably get more useful answers by doing to our Explorers Hub forum at discuss.newrelic.com.

One of our developers suggested using the standalone snowflake.js. We use flex simply to schedule it to run once an hour and send the data to New Relic. He's created a snowflake prometheus exporter, but hasn't tried it out on containerized environment

[2021-06-30 18:45] #2816 closed

[2021-06-30 18:46] #2880 closed

[2021-06-30 20:47] djaffinito opened #2896 "Issue: Connect AWS to New Relic infrastructure monitoring"
### Tell us what you need

Under the section "Disconnect your AWS integrations", we link to here:

* https://docs.newrelic.com/docs/infrastructure/new-relic-infrastructure/installation/uninstall-infrastructure-agent/#disable-integrations

Which contains no information on how to manage your AWS services.

It should link here instead:

* https://docs.newrelic.com/docs/infrastructure/install-infrastr

[2021-06-30 23:16] paperclypse commented on #2888
Hi @adarshpala-hubdoc! Thanks for your feedback. I'll pass it along to our developers. I can't find the repo for this either, but on npm I'm seeing the license for this is listed as "New Relic proprietary", which is probably why.

[2021-06-30 23:36] paperclypse commented on #2896
Thanks for letting us know, @djaffinito! I'll take care of it.

[2021-07-01 13:50] urbiz-nr commented on #2758
Closed via #2907.

[2021-07-01 13:50] #2758 closed

[2021-07-01 19:14] jpvajda opened #2918 "The Unified API team announced some Nerd graph changes today. that could impact teams using Nerdgraph."
The changes announced in the #nerdgraph-announcements may not impact us at all, but we should do a quick check at what is changes and see if anything will impact us for our use of nerdgraph with the docs site.

### Acceptance Criteria

Go to `#nerdgraph-announcements`and review the 3 announcements from `7/1/21` There are links to blog posts that detail out the changes. `Note:` these posts are on C

[2021-07-01 20:06] barbnewrelic opened #2920 "Heroku site's New Relic APM install doc: Research and resolve hero task"
This was originally DOC-4172 which was mistakenly closed on 07-01-2021. For complete details, refer to that Jira.

The New Relic doc on Heroku's website ( https://devcenter.heroku.com/articles/newrelic ) is maintained by New Relic Tech Docs team. We have a long-standing requirement with Heroku to update that doc immediately if it receives feedback.

Problems: Most of our tech writers do not have a

[2021-07-01 20:23] #2811 closed

[2021-07-01 20:26] #2896 closed

[2021-07-01 21:23] barbnewrelic commented on #2920
Moving this to Waiting on SME/Blocked because I don't know what else to do with it for now.

[2021-07-01 21:40] rhetoric101 commented on #2870
@linbaker, we're addressing your questions in PR #2924

[2021-07-01 21:40] #2870 closed

[2021-07-01 22:28] #618 closed

[2021-07-01 22:31] jpvajda commented on #494
We do this on the dev site in several locations It doesn't seem like a big effort to make the buttons behave this way on the docs site here a [example](https://github.com/newrelic/developer-website/blob/4e2fe4612126310e0a050fc178bc7f5fa6645021/src/pages/nerd-bytes.js#L84) where we reference the feather icon for `external-link`

[2021-07-01 23:18] jpvajda opened #2929 "Figure out how to get our translation workflow job to run automatically again: Jul 15th"
Before the next translation job is scheduled to run on Jul 15th we should try to determine what we need to fix in order to let that job run automatically as we had to run it manually on Jul 1st

### Acceptance Criteria

- [x] Discuss with the team what needs to be done to allow this job to run automatically on Jul 15, determine what bugs need to be resolve to get this job to run.

**Most important

[2021-07-01 23:26] nr-kkenney commented on #2872
@jpvajda @jmiraNR
the files were queued up for translation have been submitted to smartling as three jobs. along the way, i created a few more jobs 🙈  but should have cancelled all except the ones we care about.

sorry that it took so long. ideally, this would have been a 1 point issue -- just run the workflow. but i had to run it quite a few times, and address awkwardness & problems I found along

[2021-07-01 23:43] nr-kkenney opened #2931 "workflow fails attempting to start a translation for document that doesnt exist"
### Background
The current send translation content workflow / translation process allows for a doc to be queued up for translation, but not exist.

The scenario is:
1. a doc is edited. lets call it 'random.txt'.
2.  `random.txt` gets added to the translation queue.
3. before the next translation event (1st, 15th of every month) 'random.txt' is renamed (or deleted) to 'random2.txt'.
4. `random2.tx

[2021-07-01 23:49] LizBaker opened #2932 "Checks on release PRs are stalling"
Multiple release PRs have gotten stuck on the 2 required checks for main. So far all PRs also had the last commit coming from the opensource bot (update whats new ids) which may be related. Closing and reopening solves the issue but it'd be nice to avoid all together

This seems to be only occurring on PRs from `develop` to `main`

### Acceptance Criteria

- [ ] PRs should not get stuck on require

[2021-07-01 23:52] LizBaker opened #2933 "[Gatsby Cloud] Loading a `-index` pages without a trailing slash results in UI errors"
This seems to only occuring on pages ending `-index`

Without a trailing slash this page flashes a 404 before rendering improperly:
https://docs.newrelic.com/docs/apm/apm-ui-pages/monitoring/view-your-applications-index

with a trailing slash all is well:
https://docs.newrelic.com/docs/apm/apm-ui-pages/monitoring/view-your-applications-index/

### Related Issue

We fixed a very similar problem in

[2021-07-01 23:57] nr-kkenney opened #2934 "workflow usually fails when sending more than a few documents for translation"
### Background
For https://github.com/newrelic/docs-website/issues/2872, I had to manually invoke the workflow to submit 71 files for translation. However, the workflow could not submit all 71 files in a single run, and I had to run it three times in order to submit all files.

In cases where it wasn't succeeding, I added additional context to the logs to see what was happening and this was the re

[2021-07-02 04:39] dlesniak-NR opened #2935 "Broken Link in: What is an entity in New Relic?"
### Tell us what you need

Hi all,

Found a broken link that leads to a 404 page.

### Anything else you'd like to share?

Link exists in this section:

Link: https://docs.newrelic.com/attribute-dictionary/span/entityguid/

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/new-relic-one/use-new-relic-one/core-concepts/what-entity-new-relic/
* **OS**: Mac OS 10.15.7

[2021-07-02 07:40] x8a commented on #2935
Thanks for spotting this, @dlesniak-NR! I fixed the broken link in PR #2939.

[2021-07-02 07:40] #2935 closed

[2021-07-02 09:19] DrMurx opened #2940 "Issue: Amazon VPC monitoring integration"
### Tell us what you need

The docs say that "By default, collection of VpcNatGateway, VpcVpnTunnel, and VpcVpnConnection data is disabled."

This can be easily missed, so I'd appreciate if it could be emphasized.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/integrations/amazon-integrations/aws-integrations-list/aws-vpc-monitoring-integration/
* **OS**: Unknow

[2021-07-02 11:03] x8a commented on #2940
Thanks for the input, @DrMurx! See PR #2941 to see the requested changes.

[2021-07-02 11:03] #2940 closed

[2021-07-02 12:45] rudouglas opened #2943 "Duplicates in yarn.lock file"
When upgrading to Gatsby `v3.8` I ran into some issues with `gatsby-plugin-sharp` in the build, caused by a duplicate entry in the `yarn.lock` file. When analysing it I noticed there are a lot of duplicate entries, resulting in older versions of modules being used instead of newer ones. This means we could be missing out on newer functionality for modules that could potentially be impacting perfor

[2021-07-02 14:51] dralph3344 opened #2945 "Issue: Introduction to the Log API"
### Tell us what you need:

* NONE of the Ingest APIs will tolerate data ingestion for data that is older than 48 hours. That is, if someone wants to forward a log that is older than 48 hours old (compared to the time of ingestion) then that log will be rejected. It will be rejected with a 202 error code. Despite the 202 code, the log file will not be written to NRDB. ]

Please update the docs to

[2021-07-02 15:39] jpvajda commented on #2872
Thanks @nr-kkenney we can discuss at standup today, this is great detail to so highly appreciate the recap.

[2021-07-02 15:48] jmiraNR commented on #2872
noticed the failed jobs and saw some new name of pages but with the explanation (renaming, moving, etc.) I get it. Thank you @nr-kkenney for the detailed info.

[2021-07-02 15:51] jpvajda commented on #2931
Curious wouldn't these files still need translation, regardless of the name change @nr-kkenney ? I also want to ask @jmiraNR about this case, perhaps there a way to ensure if a file name changes we updated the file in queue, so the translation workflow always has the most current file names regardless of how often they change.

[2021-07-02 15:51] jpvajda commented on #2931
Follow up question: in order to get our workflow enabled again, do these both need resolution first?

[2021-07-02 15:51] jpvajda commented on #2934
in order to get our workflow enabled again, do these both need resolution first?

[2021-07-02 15:52] #2872 closed

[2021-07-02 15:54] zuluecho9 commented on #2945
If this is true for all MELT APIs, might be something we add to all 'Data requirements/format' sections for each, if we're doing it for Log API. There should be pretty obvious places in those docs to place that info although it will vary a bit for each as the doc structure are a bit different.

[2021-07-02 15:55] jmiraNR commented on #2931
A file name or location change should not impact the eligibility of a page.

[2021-07-02 16:06] jpvajda commented on #2931
@jmiraNR can you explain what "eligibility" means in this context?

[2021-07-02 16:09] nr-kkenney commented on #2931
@jpvajda renaming a file does not change the fact that it needs a translation, but we are running into an edge case in this process that causes the workflow to fail.

to be clear, renaming a file "should" and most likely will result in the file being translated. to be more explicit about the problem, we are tracking known changed files so that we know what to translate. if a user edits a doc "doc1

[2021-07-02 16:12] jmiraNR commented on #2931
We selected key pages to be localized based on their value. We _elected_ them to go through translation. Changing the file name does not change the value of the page.

[2021-07-02 16:17] jpvajda commented on #2931
Then in this case, if we delete docs1.txt from the translation queue we should be go to go correct?

[2021-07-02 16:24] barbnewrelic commented on #2945
ditto to zuluecho9: there was a conversation in the documentation channel yesterday about this very thing

[2021-07-02 16:26] #2920 closed

[2021-07-02 16:27] nr-kkenney commented on #2931
yep. that was one of the options i saw that i mentioned above.

[2021-07-02 16:27] barbnewrelic commented on #2920
Closing this as a GH issue and creating a Jira for this. The original Jira which got inadvertently closed had much more context, esp. the label about which Jiras should or should not be in GH.

[2021-07-02 16:31] paperclypse commented on #2945
I'm going to write up a Docs Jira for this, @dralph3344, so we can make sure we're addressing this in the right way.

[2021-07-02 16:53] jpvajda commented on #2933
Gastby Cloud does not do this, so once we move this will be resolved.

[2021-07-02 17:37] paperclypse commented on #2888
@adarshpala-hubdoc I got some feedback from our developers. It sounds like any errors happening during upload should be caught and handled by the `.end()` event.

[2021-07-02 17:38] #2888 closed

[2021-07-02 18:33] #2929 closed

[2021-07-02 19:43] jpvajda commented on #2575
This functionality is now available in Gatsby Cloud. 🥳

[code]

[2021-07-02 19:43] #2575 closed

[2021-07-02 22:55] LizBaker opened #2955 "Slow page loads triggering alerts in APAC"
We had an alert today on slow pages loads, a large percentage of which were occurring in Japan. we should investigate if there's anything we can do to mitigate this or if we need to adjust our alerts for slow load times out of our immediate control

Check out the page load times in NR `browser -> docs site -> summary` as well as session traces for july 2nd 3:30pm - 4pm pst

### Acceptance Criteria

[2021-07-03 00:03] nr-kkenney commented on #2932
i think i got to the bottom of this issue:

the stalled prs are due to the commit coming from the bot. github has a mechanism built in:

this safeguard prevents a workflow from triggering itself endlessly (automatically).

but what was weird is that it looks like we arent using github token when we commit, we are using opensource_bot_token:
[code]

so if we are using a PAT, how are we running into

[2021-07-03 06:06] dlesniak-NR opened #2960 "Broken Link: Introduction to the Kubernetes integration"
### Tell us what you need

Hi all, found a dead link. If you click the link it adds "#metrics" to your URL but doesn't lead you anywhere different.

### Anything else you'd like to share?

Link in question found above

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/integrations/kubernetes-integration/get-started/introduction-kubernetes-integration/
* **OS**: Unkn

[2021-07-05 08:05] x8a commented on #2960
Thanks for noticing! I fixed it in PR #2961.

[2021-07-05 08:05] #2960 closed

[2021-07-06 16:35] #2932 closed

[2021-07-06 16:56] jpvajda commented on #2955
@zstix to provide some pointers on what to research

[2021-07-06 17:01] zstix commented on #2955
Some possible things to look into:
* Was there any specific page(s) that attributed to the slow-down
* Was there any patterns / properties shared between the sessions (browser, location, etc.)
* Was there any outages during those times (aws, vendors, dns, etc)

[2021-07-06 18:35] jpvajda commented on #2139
Gatsby said this should be released in July, so once it's available it may just require us to  bump the gatsby version when it's released

[2021-07-06 20:07] CherylFrankenfield opened #2974 "Issue: Troubleshoot AJAX data collection"
### Tell us what you need

* With browser agent v1210 release, please see release notes below, Fetch calls will also be recorded as AJAX metrics, which will make them visible in the AJAX UI charts.

https://docs.newrelic.com/docs/release-notes/new-relic-browser-release-notes/browser-agent-release-notes/browser-agent-v1210/

This means Fetch requests will show up in the Ajax Requests menu tab in th

[2021-07-06 20:10] aswanson-nr commented on #2918
Both services we maintain that interact with NerdGraph do not use the `downstreamResponse` field, so there are no required changes.

The new client error messages could be worth implementing, but that would require work on our side. It could be worth looking into in the future.

[2021-07-06 21:20] jpvajda commented on #2918
@aswanson-nr what value is there in implementing the new client error messages? also, did you confirm if the experimental tag change impacts us?

[2021-07-07 13:51] aswanson-nr commented on #2918
@jpvajda, @LizBaker was able to remove the `experimental` flag from the GraphQL fields.
The main benefit of the client error messages is that you can send an error message back for admins and one for the user. Allowing you to avoid exposing any stack traces to the user and ensuring that a developer can still debug problems.

[2021-07-07 14:57] rudouglas opened #2987 "Release workflow failing"
It looks like there was a merge to main on Thursday that stalled and was restarted. The stalled run shows a failure for the Release workflow [here](https://github.com/newrelic/docs-website/runs/2967390698?check_suite_focus=true) with generic errors, but if you [look at the raw logs](https://pipelines.actions.githubusercontent.com/3WkJzDFeGWEk6Zei9RE9KFE0UTwsHx09RjPIYhekr3G7LkhigY/_apis/pipelines/1

[2021-07-07 16:03] austin-schaefer commented on #1525
Reopening this issue per our team decision to keep GH issues open even if we have an internal ticket

[2021-07-07 16:34] austin-schaefer commented on #1890
Reopening this one now that we're keeping these issues in public backlog rather than Jira

[2021-07-07 16:49] #2918 closed

[2021-07-07 16:53] shhudspethnr1 opened #2994 "Issue: WildFly installation for Java"
### Tell us what you need

Hi, does there need to be a quote at the end of

JAVA_OPTS="$JAVA_OPTS -Djboss.modules.system.pkgs=$JBOSS_MODULES_SYSTEM_PKGS,com.newrelic

I am assuming yes. Could that be updated? Thanks.

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.

[2021-07-07 16:59] austin-schaefer commented on #1218
Talking in our team meeting about how to do this, where to do it, and how to ensure writers are taking this into account for new projects. Closing out the ticket but appreciate the feedback!

[2021-07-07 17:27] nr-kkenney commented on #2987
what is the scenario where a tag we want to use already exists? i think i understand the symptom, but im not quite sure i understand how this got out of sync in the first place.

the solution youve set up makes sense to me:

but how is it we have releases that are above (potentially more than +1 above?) what we are trying to release

[2021-07-07 18:20] jpvajda commented on #2987
I've added acceptance criteria to change the time format per our discussion in standup, will review with @austin-schaefer for feedback.

[2021-07-07 18:27] #2727 closed

[2021-07-07 18:28] austin-schaefer commented on #2987
That date+time format works for me!

[2021-07-07 23:04] austin-schaefer opened #3002 "Node.js API docs duplicated between docs site and node-newrelic"
### How can we make our docs better?

Problem: We currently have Node.js agent APIs here https://docs.newrelic.com/docs/agents/nodejs-agent/api-guides/nodejs-agent-api which is a bit redundant with the API also being on github: <http://newrelic.github.io/node-newrelic/docs/API.html>

Action items
------------

1.  Figure out best course of action for optimizing Node APIs (moving content to docs si

[2021-07-07 23:07] austin-schaefer opened #3003 "K8+OpenShift errors and inconsistencies"
### How can we make our docs better?

What do you need?
-----------------

The document says our kubernetes integration supports Currently tested with versions 3.7, 3.9, 4.2 and 4.3.\
<https://docs.newrelic.com/docs/integrations/kubernetes-integration/get-started/kubernetes-integration-compatibility-requirements>

However, some components are not working with OpenShift 4.2 and 4.3. I found three t

[2021-07-07 23:09] austin-schaefer opened #3004 "Tags NRQL syntax is not explained"
### How can we make our docs better?

If this actually IS explained in the docs somewhere and I've missed it, show me where and show me the door! I'll be happy to just know where it is.

However, I haven't been able to locate it and this is vitally necessary, as many customers use label or tag values in NRQL queries and dashboards.

Labels could be queried by using a WHERE clause like: WHERE myLab

[2021-07-07 23:11] austin-schaefer opened #3005 "Summarize your docs request"
### How can we make our docs better?

What do you need?
------------------

When using the Rest API to create dashboards (Dashboard API), the column format defaults to 3 as was the previous layout conditions with Seldon/original UI/Insights API functions. Now, with New Relic One dashboards, the layout has a max 12 column format.

Because we are currently supporting both the original Insights funct

[2021-07-07 23:12] LizBaker opened #3006 "A link is 404-ing for some users and not others"
### Description

This link https://docs.newrelic.com/docs/full-stack-observability/instrument-everything/instrument-core-services-applications/open-source-telemetry-integrations/
results in a 404 for some users and not others (at least 4 other users including @rhetoric101). When it does occur it's in every browser

### Impact

- So far this impacts 4 Docs Team members, but can't be reproduced by D

[2021-07-07 23:13] austin-schaefer opened #3007 "Java agent supports GRPC error reporting, but we don't have any docs on it"
### How can we make our docs better?

The Java agent release notes mention that GRPC error reporting is now available as attributes. We don't have any docs on this, as the following CSAT comment mentions:

"no link to any more detailed documentation about new gRPC features - very difficult to tell what these features are and/or how to use them"

This seems like a valid point to me!

-   Existing d

[2021-07-07 23:14] austin-schaefer opened #3008 "Browser doc - add CSP violations info"
### How can we make our docs better?

Problem: in <https://docs.newrelic.com/docs/browser/new-relic-browser/getting-started/compatibility-requirements-browser-monitoring#csp>, where we say "the Browser JavaScript agent requires the following CSP exceptions in order to run properly,", we should mention that an image-src or requests for images can be a possible exception that a customer should accou

[2021-07-07 23:17] austin-schaefer opened #3009 "Synthetics Multiple Location Condition API is not listed on the REST API for Alerts Doc"
### How can we make our docs better?

Synthetics Multiple Location Condition API is not listed on the REST API for Alerts Doc.\
<https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/rest-api-alerts/rest-api-calls-alerts#synthetics-conditions>

The related doc is [here](https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/multi-location

[2021-07-07 23:19] austin-schaefer opened #3010 ".NET Agent: Elastic Beanstalk not a supported environment/configuration"
### How can we make our docs better?

Need to add verbiage for the .NET Agent regarding Elastic Beanstalk not being supported environment/configuration.

Not sure if the .NET Team own these sections of the document, but I would assume this is where it would need to go:

* https://docs.newrelic.com/docs/agents/net-agent/getting-started/net-agent-compatibility-requirements-net-framework
* https://do

[2021-07-07 23:22] austin-schaefer opened #3011 "Incident Intelligence Destination Type Webhook for MS Teams"
### How can we make our docs better?

#### **Problem:**

Customer who wanted to set up MS Teams as a Destination for the issues created by the NR Incident Intelligence is seeing error invalid webhook schema.

#### **Solution:**

**Verify following items in the setup**

1.  Go go Alerts & AI >> Incident Intelligence >> Destinations >> Webhook and see ***Use Custom Payload*** is selected.

2.  The p

[2021-07-08 13:50] StacySimmons opened #3018 "Issue: Java agent configuration: Config file"
Conflicting information about JFR profiling needs a resolution, please.

Java release notes state JFR profiling is enabled by default: [Java Agent 7.1.0](https://docs.newrelic.com/docs/release-notes/agent-release-notes/java-release-notes/java-agent-710/)

Docs state JFR profiling is disabled by default: [JFR Real-time profiling](https://docs.newrelic.com/docs/agents/java-agent/configuration/java-a

[2021-07-08 13:52] urbiz-nr commented on #3018
Thanks for catching this, @StacySimmons, we'll have a look!

[2021-07-08 15:36] aswanson-nr commented on #2955
## Findings
The majority of page loads over 6 seconds during the incident came from JP, HK, and KR. They were also all running Chrome 72 on linux. These requests were all for the base site (JP and EN) and the JP localized [alerts-best-practices](https://docs.newrelic.com/jp/docs/new-relic-solutions/best-practices-guides/alerts-applied-intelligence/alerts-best-practices). The average duration of th

[2021-07-08 16:45] #1218 closed

[2021-07-08 16:50] jpvajda commented on #2955
@aswanson-nr nice research here! I'll defer to @zstix on reviewing the solution approach, and it sounds like this needs to be broken out into a new ticket for prioritization

[2021-07-08 17:42] zstix commented on #2955
After the thorough research and some discussion, we've decided that this is most likely a one-off situation. We've updated our alerts, but there doesn't seem to be any additional actions we can take. This may be even less relevant when we move to another hosting provider.

[2021-07-08 17:42] #2955 closed

[2021-07-08 19:19] jerelmiller opened #3027 "404 Page missing"
Hey there! While looking on the developer site for Nerdpack config information, I came across [this section](https://developer.newrelic.com/explore-docs/nerdpack-file-structure/#launcher-file-structure) that talks about the launcher file structure. That section includes a link called "associate your application with a monitored entity" to this doc, but unfortunately this page is missing. Not sure

[2021-07-08 19:50] ahunger603 commented on #3004
@austin-schaefer NRQL syntax has no tangible distinction between `myLabel` and `tags.myTag`, these are both identifiers, and are executed the same (Though there are cases where compound identifiers behave differently). There is no concept of label / tag in the syntax or execution.

You may want to consult the documentation for the integration / product that is publishing the telemetry you're query

[2021-07-08 20:50] thezackm opened #3030 "Issue: Query the Metric data type"
### Tell us what you need

The NRQL example listed [HERE](https://docs.newrelic.com/docs/telemetry-data-platform/understand-data/metric-data/query-metric-data-type/#example-list-names-host) doesn't actually match the stated goal of the section. It is a query for limiting the results of a query based on `average`; but it's listed as being a way to query for all metric names on a particular host.

#

[2021-07-08 21:44] #2931 closed

[2021-07-08 22:48] roadlittledawn commented on #2841
taking a quick look now in live data in segment for docs site. i see `referrer` populated in many of the `page` and `track` events. looks like sometimes the referrer does not show up in both `context.page` and `properties`. and i saw only a couple that were empty.

[2021-07-08 23:19] roadlittledawn commented on #2841
as far as i can tell, that `"category": null,` is something that's set outside our code. i don't see us setting that and i looked at a couple other segment sources (`NR Account (Production)`, `NR Alerts (Production)`) and they have the same thing in their `page` events.

![2021-07-08_16-15-46](https://user-images.githubusercontent.com/2952843/125001741-36484c00-e008-11eb-9e12-a34755f12b2a.png)

[2021-07-09 14:11] rudouglas commented on #2934
Also noticing issues with the context  upload in some cases:
[code]

I've added the retry logic to the `makeRequest` function which is responsible for all of the fetch requests as far as I can tell so this should retry any failed request...I think

[2021-07-09 14:16] rudouglas commented on #2987
@nr-kkenney ye that seems to only be due to the weirdness of both release tags getting created at the same time, which shouldn't have happened, and shouldn't even be possible 🤷 will implement the date-time format option so this shouldn't be any sort of issue going forward 🤓

[2021-07-09 15:47] rudouglas commented on #2987
I've change the release label to now be `release-mm.dd.yyyy-hour.min`  eg `release-07.21.2021-09.35` (`:` colon not an allowed char in tag) and the timezone to be PDT

[2021-07-09 16:11] jpvajda commented on #2987
@rudouglas NICE. 😎

[2021-07-09 17:25] jpvajda commented on #2477
Gatsby confirmed this functionality is now available, they will enable our develop and main sites on Gatsby Cloud for testing.

[2021-07-09 18:51] jpvajda commented on #2841
@roadlittledawn can you confirm this assumption by asking in `#project-tessen` slack room? It be good to validate it.

[2021-07-09 18:53] jpvajda commented on #2841
potential ideas how to improve the search field instrumentation:

`1` set up nested de-bouncing
`2` only send search data when a user clicks on a link, which confirms they've completed a search.

```Debounce time is basically and amount of time that the switch doesnt register another click. Good explanation thanks! the switch use a spring and the bounce can send multiple signals when clicking.```

[2021-07-09 18:54] zoezhou1113 commented on #2841
@roadlittledawn You are right about #1. I didn't realize the extra "category": null is a Tessen thing.

[2021-07-09 18:55] zoezhou1113 commented on #2841
@roadlittledawn I checked the referrer again in Segment debugger, and none of the pageviews I generated are tracking the referer page.

[2021-07-09 19:20] jpvajda commented on #2841
@zoezhou1113 but every page wouldn't have a referrer link correct? That's not the expectation here?  If a user goes directly to site and just finds content via search or by traversing the nav then there is no referrer I assume.

[2021-07-09 19:23] zoezhou1113 commented on #2841
@jpvajda In Tessen, "referer" is the previous page URL, it's different from the "referral" channel.

[2021-07-09 21:20] paperclypse commented on #2994
@shhudspethnr1 Absolutely right! Thanks so much for letting us know. I'll get that fixed.

[2021-07-09 21:27] Broseberg opened #3045 "Java Agent with Docker: The reference to JAVA_OPTS is Tomcat-specfic and should be broader"
Description
-----------

We received a CSAT comment (28384) about our [Java agent in Docker|<https://docs.newrelic.com/docs/agents/java-agent/additional-installation/install-new-relic-java-agent-docker>\
] document:

"This doc is misleading because it is Tomcat-specific and it's easy to miss where it states such. Instead, it should be changed to recommend JAVA_TOOL_OPTIONS since that is picked up

[2021-07-09 21:28] #2994 closed

[2021-07-09 21:30] Broseberg opened #3046 "Add harvest limit settings to Python agent config doc"
Description
-----------

While working on a related doc, I noticed that the [Python Agent Configuration doc](https://docs.newrelic.com/docs/agents/python-agent/configuration/python-agent-configuration "https://docs.newrelic.com/docs/agents/python-agent/configuration/python-agent-configuration") is missing definitions for harvest limit settings. These settings allow you to adjust the maximum number

[2021-07-09 21:31] Broseberg commented on #3046
The four settings in question:

-   for transaction events:

    `1event_harvest_config.harvest_limits.analytic_event_data`

-   for custom events:

    `1event_harvest_config.harvest_limits.custom_event_data`

-   for span events:

    `1event_harvest_config.harvest_limits.span_event_data`

-   for error events:

    `1event_harvest_config.harvest_limits.error_event_data`

[2021-07-09 21:39] jpvajda commented on #2262
[code]

a suggestion from @jerelmiller

<img width="517" alt="Screen Shot 2021-07-09 at 2 32 15 PM" src="https://user-images.githubusercontent.com/1395158/125138400-cd2a0c80-e0cb-11eb-9df0-cd011c166dd6.png">
<img width="389" alt="Screen Shot 2021-07-09 at 2 32 29 PM" src="https://user-images.githubusercontent.com/1395158/125138402-cdc2a300-e0cb-11eb-8c98-8c0f8823667f.png">

[2021-07-09 21:41] Broseberg opened #3047 "Unclear OpsGenie payload for Incident intelligence"
Description
-----------

The IINT docs are inconsistent. The "webhook format and JSON example" section implies to be listing the fields available for the template but there are fields in the examples, like ui_name in the suggested OpsGenie template that aren't listed here. ui_name IS in the issue payload, which makes us think we can use other values in the issue payload but nothing in the docs say

[2021-07-09 21:44] Broseberg opened #3048 "csat feedback: Check Infrastructure on Elastic Beanstalk feedback from a user"
Description
-----------

on this page: [Configure the infrastructure agent on AWS Elastic Beanstalk](https://docs.newrelic.com/docs/infrastructure/install-infrastructure-agent/config-management-tools/configure-infrastructure-agent-aws-elastic-beanstalk "https://docs.newrelic.com/docs/infrastructure/install-infrastructure-agent/config-management-tools/configure-infrastructure-agent-aws-elastic-bean

[2021-07-09 21:46] Broseberg opened #3049 "[CSAT] Improve "Node.js: Configure with Winston" logs doc"
Description
-----------

<https://docs.newrelic.com/docs/logs/enable-log-management-new-relic/logs-context-nodejs/nodejs-configure-winston> has two negative comments in less than a month:

-   Nov 25, 2020 11:09: make it more explicit that `Distributed tracing` is needed

-   Nov 20, 2020 19:14: the "Configure the Winston extension" doesn't provide a full example

Action items:
-------------

-

[2021-07-09 21:46] jpvajda commented on #2841
@zoezhou1113 so in my example

the refferer url should be docs.newrelic.com?

[2021-07-09 21:48] Broseberg opened #3050 "Browser DT docs need update with TraceContext info"
The "Browser data in distributed tracing" doc talks about the custom newrelic header. It should also include TraceContext headers, which are now supported by the Browser agent and customers can choose which headers to use.\
<https://docs.newrelic.com/docs/browser/new-relic-browser/browser-pro-features/browser-data-distributed-tracing>

**Migrated from JIRA**

Migrated from DOC-6414

[2021-07-09 21:49] Broseberg commented on #3050
Additional comment from JIRA ticket:

I'm not sure if this is part of this request, but it looks like the public docs may be misleading a bit as currently the above link mentions:

1.  *Turn on the **Distributed tracing** toggle. By default, for agent version 1173 and above, the newrelic, traceparent, and tracestate headers will be added to all same-origin AJAX requests.*

2.  *Optional: If all of

[2021-07-09 21:51] Broseberg opened #3051 "Error example missing from the Synthetics Troubleshooting Doc"
Description
-----------

There is a Network error that is reported by Synthetics Monitors that there is no entry for in the Synthetics Troubleshooting Doc:

<https://docs.newrelic.com/docs/synthetics/synthetic-monitoring/troubleshooting/non-scripted-monitor-errors>

`1NetworkError: Connect to (HOST) [HOST./IP ADDRESS] failed: SSL handshake timed out`

**Resources**

-   Slack channel: #help-proact

[2021-07-09 21:52] paperclypse commented on #3018
I reached out to @StacySimmons on Slack about this, because I had a question about it.

[2021-07-09 21:55] Broseberg opened #3053 ""Types of conditions" section leaves a lot out, and one heading isn't even a condition type"
Doc in question: <https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/alert-conditions/create-alert-conditions#condition-types>

Notice that some of the headings are subtypes of other headings or subtypes with no heading for the main type (e.g. NRQL alert conditions and Outlier alert conditions, the latter is a subset of the former), some headings don't do the topic justice

[2021-07-09 21:56] paperclypse commented on #3030
Hey @thezackm, thanks for filing the issue! Do you think it would be better to update the NRQL query to match the text that's there or update the text to match the NRQL query?

[2021-07-09 23:25] paperclypse commented on #3018
Looks like this one got taken care of already. :)

[2021-07-09 23:25] #3018 closed

[2021-07-12 13:06] zoezhou1113 commented on #2841
The first page would not have a referrer link in this case, but all of the pages visited subsequently should have the previous page URL as the referrer.

[2021-07-12 13:35] thezackm commented on #3030
i think it makes sense to achieve the goal of the text that is there (update the NRQL to match)

[2021-07-12 16:41] roadlittledawn commented on #626
@austin-schaefer || @jpvajda . if / when we add a free form search for attribute names, would we want to remove the dropdown to select a specific attribute?

[2021-07-12 16:41] retishp opened #3062 "PageHide metric is missing in data dictionary for PageViewTiming event types"
### Tell us what you need

PageHide metric is missing in data dictionary for PageViewTiming event types
https://docs.newrelic.com/attribute-dictionary/?event=PageViewTiming

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc information (don't delete this s

[2021-07-12 16:43] jpvajda commented on #2841
@zoezhou1113 so would this explain why some results in Segment don't contain a `referrer url`? I'm just questioning if there is an actual issue here as it sounds like in some cases this is expected functionality.

[2021-07-12 16:46] zoezhou1113 commented on #2841
No, the issue is none of these pageviews have referrer right now.

Kind regards,
Zoe

Zoe Zhou
Web Analytics Manager
New Relic
Email: ***@***.***

On Mon, Jul 12, 2021 at 12:43 PM John P Vajda ***@***.***>
wrote:

[2021-07-12 16:46] jpvajda commented on #626
@roadlittledawn I'd say we'd keep the drop down as it helps users see what is available to them, or they can enter a search query... also interested in what @austin-schaefer thinks..

[2021-07-12 16:49] jpvajda commented on #2841
@zoezhou1113 I think @roadlittledawn did see some results with referrer `url values`, so let me check with him.

[2021-07-12 17:02] zuluecho9 commented on #3004
@austin-schaefer This is talked about somewhat in jira DOC-7132. To my knowledge, it was only really possible to tag APM tags via NRQL, so we have info in that doc about that. (otherwise, this wasn't possible unless we were talking about common attributes that are also made available as tags, but that's just about querying attributes). Though it's come to my attention that apparently this 'query t

[2021-07-12 17:09] zuluecho9 commented on #3030
@dbarnesbrownNR might be in your wheelhouse

[2021-07-12 17:12] jpvajda commented on #2841
I scheduled some time for us to sync on this topic. 📆

[2021-07-12 18:19] bradleycamacho commented on #3062
@retishp Thanks for reaching out. I've requested a definition from the product team and will update this shortly. Thanks!

[2021-07-12 18:23] #2987 closed

[2021-07-12 20:29] jpvajda commented on #2477
Gatsby has migrated the Develop and Main sites to hosting V2.   You will see that the Gatsby Cloud domain to include .routing-gatsbyjs.io

[2021-07-12 21:15] jpvajda commented on #2477
2 builds have passed all checks an successfully built the site post migration, so i think this is good to go.

<img width="1245" alt="Screen Shot 2021-07-12 at 3 13 40 PM" src="https://user-images.githubusercontent.com/1395158/125356814-f93fca80-e323-11eb-920a-d149629810ab.png">
<img width="1240" alt="Screen Shot 2021-07-12 at 3 13 25 PM" src="https://user-images.githubusercontent.com/1395158/1253

[2021-07-12 21:18] #2477 closed

[2021-07-12 21:46] bradleycamacho opened #3071 "Header buttons should automatically copy the anchor link to your clipboard"
Currently, the anchor link buttons that appear when you hover over a header just make the URL point to the anchor link:

![image](https://user-images.githubusercontent.com/42678939/125359863-cf84a480-e31f-11eb-92ef-6bc45810e1d5.png)

The expected action when clicking to button is for it to copy the link to the header (doc url + anchor id) directly to my clipboard.

We should also show a message in

[2021-07-12 22:30] roadlittledawn commented on #626
@jpvajda i'll put a PR preview up for this so you can poke at it, BUT that attribute dropdown is only enabled when a single event is filtered on. otherwise it could potentially be a long list. and the list could have options/attributes that have the same names (because an attribute can be in multiple events OR there could be distinct attributes with same names that are because they mean something

[2021-07-12 23:03] zstix commented on #2655
I'm going to use this issue as an umbrella issue for this work. In order to do so, I'll need to rewrite the description a little (FYI)

[2021-07-12 23:13] zstix opened #3074 "Create a new relational DB to store pages and workflow jobs"
## Description
The current Database for storing the translation workflow state is _non-relational_ (more specifically, it's a DynamoDB table). After realizing a single page may be in multiple jobs, we realized that we need a different database structure that can better support many-to-many relationships. Additionally, the information we're storing is relational in nature and may benefit from a rel

[2021-07-12 23:14] roadlittledawn commented on #626
here's that preview link: https://docswebsitedevelop-clangalbaattributesearch.gtsb.io/

[2021-07-12 23:28] zstix opened #3075 "Update workflow that saves page slugs (add slugs -> add slugs to a pending job)"
## Description
Once we have a new database and utility functions for reading / writing to it (#3074), we need to update [the workflow](https://github.com/newrelic/docs-website/blob/69c8529bdec2baa2750561a4481d6e32fd354c8e/.github/workflows/get-slugs-to-translate.yml) that saves new & modified files to be translated.

## Acceptance Criteria
* [ ] New & modified to-be-translated pages will be added

[2021-07-12 23:36] zstix opened #3076 "Update workflow to send pending job to translation vendor"
## Description
Once we have a new database and utility functions for reading / writing to it (#3074), we need to update [the workflow](https://github.com/newrelic/docs-website/blob/main/.github/workflows/send-content-to-translate.yml) that creates batch jobs for our translation vendor to process.

This workflow should (mostly) stay the same. We just need to adjust how we are getting the list of fi

[2021-07-12 23:43] zstix opened #3077 "Update status of in-progress jobs"
## Description
Once we have created batches and sent them to our translation vendor (#3076), we should update the pending job to be "in progress". Any new content that comes in will be part of the next job.

## Acceptance Criteria
* [x] On successful upload of pages to be translated, update the job in the database to reflect it's "in-progress" status
* [x] Unit tests that ensure we only update a j

[2021-07-12 23:44] austin-schaefer commented on #626
@roadlittledawn Looking good!

Couple of tweaks:

- I like removing the dropdown/filter for individual attributes. I think the search field solves for most uses cases for this dropdown.
- Can we change the **Apply filter** header to **Search and filter**? I want to highlight search.
- Can we also change **Apply** button label to **Search**. That feels like a more natural verb for the new options.

[2021-07-12 23:50] zstix opened #3078 "Update workflow that handles completed translations (& making a PR)"
## Description
Once we have a new database and utility functions for reading / writing to it (#3074), we need to update [the workflow](https://github.com/newrelic/docs-website/blob/main/.github/workflows/check-translations-and-deserialize.yml) that checks for the job status, downloads the new files, and makes a PR.

Much of the existing workflow should stay the same (deserializing, making the PR,

[2021-07-13 00:02] zstix opened #3080 "Add the ability to see the status of each page during translation"
## Description
At the moment, there is no clear way to discern the status of a page or where it is in the translation process. Some possible states:

* Waiting to be sent to translation vendor
* Currently being translated
* In PR review
* Merged & ready for deployment

This is further complicated by the fact that a page _could_ be in multiple jobs at the same time. Currently our localization manag

[2021-07-13 06:08] #2714 closed

[2021-07-13 06:56] LekoArts commented on #2139
We merged https://github.com/gatsbyjs/gatsby/pull/32334 and released it in `gatsby@next` so you could try it out there. It'll then be released on July 20th in 3.10

[2021-07-13 16:19] kaileyhaynes commented on #2831
Hey y'all! The docs team was talking about this issue today. Are there any updates?

[2021-07-13 16:30] jpvajda commented on #2831
@kaileyhaynes this is currently a lower priority issue so we aren't planning on implementing a solution at the moment due to our commitments to a larger product initiative.  However if you can provide data on customer impact, like pages where this is occurring we can consider bumping the priority of it.

[2021-07-13 16:37] rhetoric101 commented on #2831
@jpvajda, we do have a workaround where we have to keep the image width limited so the image doesn't run into the right gutter. We'll keep you posted on whether this workaround has side-effects.

[2021-07-13 16:41] nr-kkenney commented on #2831
this was the workaround i posted when it was brought up in the channel (just for reference):
[code]

![Screen Shot 2021-06-24 at 2 19 28 PM](https://user-images.githubusercontent.com/70179215/125491962-29d3a5c3-a93f-49f1-97c3-5756be992482.png)
![Screen Shot 2021-06-24 at 2 18 29 PM](https://user-images.githubusercontent.com/70179215/125491968-de7a7b05-865f-443b-84dd-986ed55c2af2.png)
![Screen Shot

[2021-07-13 17:59] aswanson-nr commented on #3078
Some ideas on deleted files, if we store deleted files in the translation db with a status like `DELETED`, then when we pull all the files from the translation vendor we can also pull all db file entries associated with that job. Files from the db with the `DELETED` status can then be removed and committed as part of the normal PR.

[2021-07-13 18:32] jpvajda commented on #626
One other bit of feedback I had: was to allow the results of the search to return dynamically as user queries (like our global search) instead of requiring them to click the apply button. The current approach breaks a UI pattern, which I'd prefer we align the search exp across the site for all search fields so it's consistent. 💯

[2021-07-13 18:35] roadlittledawn commented on #626
@austin-schaefer incorporated your feedback. also made a couple other small tweaks:
- update label for search to be consistent with the other filters
- add placeholder text to indicate what type of matching
- perform search when pressing `enter` key

https://docswebsitedevelop-clangalbaattributesearch.gtsb.io/attribute-dictionary/

[2021-07-13 18:43] roadlittledawn commented on #626
@jpvajda i just added searching automatically for each keypress on the search input. it's really slow (due to the size of the data it's manipulating) and makes for a weird experience. not sure what we could do to speed that up really. maybe we mitigate it by only auto searching every 3rd keypress?  ¯\_(ツ)_/¯

i can put that up in another branch preview if you want to poke at it

[2021-07-13 19:30] quirosfelipe opened #3086 "Issue: Types of synthetic monitors"
### Tell us what you need
 To add a link here that redirects to  a page where we can start buildinga page  to see more info about  Step monitors:
Some things to include:

- Propper syntax to target elements by xpath, id and class. Some examples will be also useful to have.
- Unsupported elements (i.e. shadow root element)
- How to propperly handle secure credentials
- Currently unsupported funcion

[2021-07-13 20:10] jpvajda commented on #626
@roadlittledawn yes please! I'd love to take a look at it.

[2021-07-13 20:14] bradleycamacho commented on #3086
Hey @quirosfelipe, thanks for reporting this! A stand-alone step monitor doc is something that has been on my mind lately, and this is a nice push to start work on it.

I'll set up some time to chat about specific issues GTS is observing with users and then I'll include this issue in an upcoming sprint.

[2021-07-13 20:16] roadlittledawn commented on #626
here ya go, @jpvajda . preview is pending. https://github.com/newrelic/docs-website/pull/3087

[2021-07-13 20:34] wreckedred opened #3088 "Broken link"
On the page at https://newrelic.com/security/data-user-management
there is a link to "Learn more about Data Management" and the end-user needs to click on "Learn More"
that link is broken.

### Tell us what you need

* If you've found something inaccurate, what is it?
* If something is hard to read, confusing, or missing information, let us know.
* If you're having trouble completing a task or are

[2021-07-13 21:19] roadlittledawn commented on #2841
i suspect this may be related to what i was talking about. since our sites is a javascript bundle that loads html files and json data, requesting a new page works a little differently and is considered a route change that may not be tracked like other sites.
so i wonder if we explicitly set `properties.referrer` manually for each route change on the site (clicking on a docs link somewhere on a doc

[2021-07-13 21:21] roadlittledawn commented on #2841
still not 💯 % sure why we see some internal URLs in `referrer` fields, but maybe those are users directly accessing pages (typing into URL bar, bookmarks, new tabs)?

[2021-07-13 21:51] aswanson-nr commented on #3074
@nr-kkenney We may want to include the status of each page from the Github API as well, that way we can track when a file is deleted

[2021-07-13 22:25] jpvajda commented on #2841
breaking the search instrumentation into a seperate issue https://github.com/newrelic/gatsby-theme-newrelic/issues/425

[2021-07-13 22:39] Broseberg commented on #2262
I love it! Let's do it. Jerel coming in clutch.

[2021-07-13 23:05] jpvajda opened #3092 "Fully document the translation workflow process on our Docs Site WIKI"
We have a really good internal document about how our Translation workflows actually work and we want to document that on our site WIKI so it's visible and easy to find.

### Acceptance Criteria

- [x] Resolve all the issues in this ☔ https://github.com/newrelic/docs-website/issues/2655
- [x] Review the internal doc found on `G-Drive` Localization: How it works
- [x] Update our Site [WIKI](https:/

[2021-07-14 00:26] linbaker opened #3094 "Issue: Install the Node.js agent"
### Tell us what you need

Currently, step 5 of the installation says:

`Add require('newrelic'); as the first line of your app's main module.`

This does work, but many Node.js users compile/transpile their JavaScript and can't control the final require order or have confusion on where to place this require statement. In these cases, the work around is to load the `newrelic` module in the start s

[2021-07-14 01:59] dlesniak-NR opened #3095 "Gif Shows Wrong Clip"
### Tell us what you need

The gif on this page shows editing the aggregation window and evaluation offset. While the lost signal threshold is visible in the video, I think this could be confusing. The actions of the gif should focus on the lost signal threshold

### Doc information (don't delete this section)

* https://docs.newrelic.com/whats-new/2020/10/alerting-loss-signal-detection-configurab

[2021-07-14 06:03] urbiz-nr commented on #3088
Thanks for reporting this, @wreckedred, we'll look into it!

[2021-07-14 06:27] urbiz-nr commented on #3088
Hi @wreckedred! In this repo we take care of public docs (anything under docs.newrelic.com). The page you're referring to is not part of public docs, and we can't help there. You should get in touch with the Marketing team. Thanks for getting in touch!

[2021-07-14 06:27] #3088 closed

[2021-07-14 14:18] zuluecho9 opened #3101 "Attribute dictionary > Navigation and table header change"
Sorry if this is more a request for docs team; I'm actually not sure myself how to edit these things so I thought maybe it was a better eng request.

This was meant to be done a while back but think it got missed. On the data dictionary page, when viewing an attribute entry (like https://docs.newrelic.com/attribute-dictionary/?event=AjaxRequest&attribute=appId), we want the right side column to re

[2021-07-14 14:58] jake-codes opened #3102 "Issue: Language agents and distributed tracing"
Hi, I'm looking for documentation to provide my customer on how to configure (both enable and disable) distributed tracing for their apm agents in kubernetes. It's a bit difficult to find this information in the docs.

The links from [this page](https://docs.newrelic.com/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing/), push users back into the guided install

[2021-07-15 18:58] austin-schaefer opened #3124 "SINCE clause needs examples of time"
### How can we make our docs better?

If you take a look at the SINCE clause documentation (https://docs.newrelic.com/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions/#sel-since), you’ll see we don’t have examples of UTC or relative timestamps. A single example of each would help make the syntax clearer.

We probably need three types of examples:

- Rela

[2021-07-15 18:58] austin-schaefer commented on #3124
Originated as DOC-7056

[2021-07-15 21:13] austin-schaefer commented on #3124
@dbarnesbrownNR is reaching out to some NRQL experts to get some good examples here

[2021-07-15 21:49] dbarnesbrownNR commented on #3124
Sent a request to NRQL team and awaiting examples content.

[2021-07-16 02:58] qryuu opened #3133 "Issue: Browser monitoring best practices guide"
### Tell us what you need

The link is broken.
[browser monitoring](https://newrelic.com/browser-monitoring)
### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/new-relic-solutions/bes

[2021-07-16 08:57] urbiz-nr commented on #3133
Thanks for reporting this @qryuu. It's fixed in #3136.

[2021-07-16 08:57] #3133 closed

[2021-07-16 16:58] bradleycamacho commented on #3095
Hey @dlesniak-NR, since this is for an announcement post almost a year old I'm going to close this issue.

Regardless, thanks for reporting this issue - we really appreciate it! If you believe this is a higher priority and should not be closed, feel free to reopen it and ping me.

[2021-07-16 16:58] #3095 closed

[2021-07-16 17:10] bradleycamacho commented on #3124
@dbarnesbrownNR I'm assigning this to you for now and moving it to the SME/Blocked column. Feel free to unassign yourself and move it to **hero: to do** once you get the examples if you don't have the bandwidth to do it yourself.

[2021-07-16 17:17] bradleycamacho commented on #3102
Hey @jake-codes, thanks for filing this issue! Userflows are something that have been on our mind a lot lately, and this is a great call out for an area we can improve. I'll explore some options and file a few follow-up internal tickets to work on this area in the next sprint or two.

[2021-07-16 21:09] jpvajda commented on #3101
both are fairly simple changes if you know where to look, however the changing of the name from `Attribute Dictionary` to `Data Dictionary` does have some repercussions to consider as not only would you be changing the nav name you'd also be changing the path. See [this file](https://github.com/newrelic/docs-website/blob/b58059c2a696f736857460abe5b47fb5eb233812/src/nav/attribute-dictionary.yml)

F

[2021-07-16 21:12] jpvajda commented on #3071
This gets me every time as well. good suggestion 😄

[2021-07-16 21:30] jpvajda opened #3148 "Removing a translate country code from a page's frontmatter, should automatically remove that page from `i18n` directory"
This has come up with a request from @jmiraNR to remove about 100 pages from the JP site. His process will be to;

1. manually remove the `translate: jp` value from the page frontmatter [example](https://github.com/newrelic/docs-website/blob/develop/src/content/docs/accounts/accounts/account-maintenance/change-passwords-user-preferences.mdx)
2. manual delete the corresponding page from the `i18n d

[2021-07-16 22:10] #626 closed

[2021-07-16 23:00] #3074 closed

[2021-07-17 00:17] austin-schaefer commented on #2600
Talked to a number of agent experts about this (more info internally in CF-6623), and the gist is that documenting this is unfortunately harder than it seems.

Across the board, we strive for low resource usage across all agents. The actual performance impact, though, is really dependent on the specifics of the customer environment. Things like which framework someone is using, the type of workloa

[2021-07-17 00:17] #2600 closed

[2021-07-17 14:52] naxhh opened #3155 "Issue: Install the New Relic Ruby agent"
### Tell us what you need

* If you've found something inaccurate, what is it?
The page instructs to install the gem using `gem 'newrelic_rpm'` this produces

[code]

As far as I know this should be `gem install newrelic_rpm`. Same with `newrelic-infinite_tracing`

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/agents/ruby-agent/installation/install-new-relic-rub

[2021-07-17 14:52] naxhh commented on #3155
ignore me is the gemfile config not the command :D

[2021-07-17 14:52] #3155 closed

[2021-07-17 16:27] jpvajda commented on #2534
Is there a particular sprint we are committing to having this work done @rudouglas ?

[2021-07-17 16:28] jpvajda commented on #3080
This is marked as stretch but I assume with our focus on the in product work for o11y packs in the next sprint, this will go to the back. @zstix is that correct?

[2021-07-17 17:05] zstix commented on #3080
@jpvajda yeah, this is a low priority item. I think @aswanson-nr was considering taking this on as an innovation project.

[2021-07-19 03:10] qryuu opened #3156 "Issue: Query system limits"
### Tell us what you need

Probably Typo.

NrIngrationError > NrIntegrationError

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/telemetry-data-platform/manage-data/query-limits/

[2021-07-19 07:04] urbiz-nr commented on #3156
Thanks for spotting this, @qryuu - we'll fix it!

[2021-07-19 07:10] urbiz-nr commented on #3156
Closed via #3157.

[2021-07-19 07:10] #3156 closed

[2021-07-19 11:59] rudouglas commented on #3092
I've written out what we currently have in the Doc here https://github.com/newrelic/docs-website/wiki/Translation-Workflow

[2021-07-19 13:57] rudouglas commented on #2534
Not currently no, but the Plugin is nearly finished, then just needs some testing.

For the blog post stuff I think the plan is to hold off on that and coordinate with Daniel et al to coincide with their launch, i'll get more concrete dates and such

[2021-07-19 14:20] rudouglas commented on #2139
@LekoArts that's awesome thanks, I tested this locally and seems to work great, currently building a preview on this PR to test it builds ok:

https://github.com/newrelic/docs-website/pull/3160

[2021-07-19 14:38] rudouglas commented on #2534
Actually @jpvajda, this is now 2 separate projects. The original one used the OTLP Docker container to send spans, the work on that is complete so I can move ahead with the blog post (internally at least) and then decide if it's worth publicly documenting both, i think it is personally as there are pro's and cons to each

[2021-07-19 15:52] jpvajda commented on #2534
@rudouglas Let's parking lot this topic today, I have some questions.

[2021-07-19 17:51] cjmccarthy opened #3166 "Issue: CocoaPods for tvOS installation and configuration"
### Tell us what you need

`pod 'NewRelicAgentTVOS'` should be `pod 'NewRelicAgent'` - NewRelicAgentTVOS pod is deprecated as of almost a year ago.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/mobile-monitoring/new-relic-mobile-ios/tvos/cocoapods-tvos-installation-configuration/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**: Unknown

[2021-07-19 18:10] jpvajda commented on #2139
@rudouglas Thanks for testing this out!  My thought is we wait until this feature is in a production version of Gatsby and is officially released before upgrading. it looks like it's targeted for `Gatsby 3.11`

[2021-07-19 19:11] LekoArts commented on #2139
It‘ll be in 3.10 tomorrow :)

[2021-07-19 19:18] jpvajda commented on #3092
We decided to document this functionality externally and mark the internal doc as no longer being maintained. I'll update that doc, and point readers to the WIKI page.

[2021-07-19 20:30] jpvajda commented on #2841
To mark this as done we just need to bump the theme to newest version that contains this fix on both the `dev` site and `docs` site

[2021-07-19 20:44] barbnewrelic commented on #2974
Thank you for reporting this! I've created a Jira so that our Observability tech writers can work with you to update the doc.

[2021-07-19 20:44] #2841 closed

[2021-07-19 20:45] roadlittledawn commented on #2841
developer is now using new theme version and `referrer` was being set in segment. and docs PR was just merged into `develop` and will go out in next deploy PR

[2021-07-19 21:08] jpvajda commented on #2262
I was working on the issue to change our button colors for a/b split test. We've been using JSON up until this point with HEX color codes, @jerelmiller  you recommended what I think is key value pairs. It looks like you can set that in Split, but i wanted to double check the format before proceeded

<img width="844" alt="Screen Shot 2021-07-19 at 3 06 55 PM" src="https://user-images.githubusercont

[2021-07-19 21:59] barbnewrelic commented on #3094
Thanks for reporting this so thoroughly! I'm creating a Jira for your issue so a writer can work directly with your team to update the doc and get the right approvals.

[2021-07-19 22:20] jerelmiller commented on #2262
Those values I gave you were CSS variables. Here are the hex codes for each if you'd like to use hex directly (not sure what happens if you use CSS var values in split 😄 )

Blue: `#00b3c3`
Red: `#e56059`

In case you ever need access to the CSS vars and their values, you can right-click; "Inspect element", go to the CSS tab and look for the `:root` selector. That has all of the CSS vars listed.

<

[2021-07-19 22:47] jpvajda commented on #2262
The changes are made, Just waiting on a review from @jerelmiller before making them live in split.io

[2021-07-19 23:22] jerelmiller commented on #2262
Approved

[2021-07-20 00:08] dlesniak-NR opened #3177 "Azure Service Bus monitoring integration - broken link"
Hi! The section [Find and use data](https://docs.newrelic.com/docs/integrations/microsoft-azure-integrations/azure-integrations-list/azure-service-bus-monitoring-integration/#find-and-use) has the following line:

* Topic data: [AzureServiceBusTopicSample](https://docs.newrelic.com/docs/integrations/microsoft-azure-integrations/azure-integrations-list/azure-service-bus-monitoring-integration/#topi

[2021-07-20 00:25] dbarnesbrownNR opened #3178 "Enhancement to design on What"
### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

### Describe the solution you'd like

A clear and concise description of what you want to happen. What is the expected outcome?

### Describe why this important to you

Why should we work on this? What use cases does it support?

### Additional context

Add any other context

[2021-07-20 08:03] urbiz-nr commented on #3177
Thanks for reporting this, @dlesniak-NR. It's been fixed in #3179.

[2021-07-20 08:03] #3177 closed

[2021-07-20 13:43] greenszpila opened #3183 "Issue: Get logs and version"
### Tell us what you need

The current instruction refers to K8's with a manifest file.
Could you provide an instruction to gather verbose logs for K8s Integration installed via Helm ?

[code]

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc information

[2021-07-20 14:27] zuluecho9 commented on #2833
Actually, thinking about this more now, I remember a convo where someone pointed out that this was just something based on whether a customer had checked 'send email' in the auth domain UI, and wasn't linked to SSO use. Does that make sense?

[2021-07-20 14:46] tanaka-takayoshi commented on #2833
Sorry for the late response. The internal discussion tool place in GTSE-9937.
I believe this is a general callout for all identity providers as far as SAML SSO is specified.

[2021-07-20 15:17] #2262 closed

[2021-07-20 16:36] zuluecho9 commented on #2833
Someone internally told me: "We don’t send a password setting /user verification email for SSO folks because we aren’t managing the password and we are trusting the Identity Provider to have verified the user. This behavior is consistent across all Identity Providers." I will attempt to add more context about this in docs, thanks.

[2021-07-20 18:20] zuluecho9 commented on #2833
Closing this out, handled in https://github.com/newrelic/docs-website/pull/3190

[2021-07-20 18:20] #2833 closed

[2021-07-20 19:25] dbarnesbrownNR commented on #3004
@zuluecho9 and @austin-schaefer have we arrived at a decision about needed edits? Might be good to list action items focused on what a PR should contain in description or a comment since we're doing 1-day hero rotations and I don't want this to get buried but also do not expect an instantaneous turnaround. Thanks!

[2021-07-20 19:37] dbarnesbrownNR commented on #3124
@derekroller could you take a look at this and help to route Docs folks to the best person to provide some examples? Thanks!

[2021-07-20 19:39] zuluecho9 commented on #3004
We have a jira for this. DOC-7312. This has been harder to get to the bottom of than you'd think. Considering we have a jira for this, would you be okay with closing it @austin-schaefer ? (I know that's not the usual route but figured you might be okay with it)

[2021-07-20 20:50] barbnewrelic commented on #3166
Fixed with https://github.com/newrelic/docs-website/pull/3167 , thanks!

[2021-07-20 20:50] #3166 closed

[2021-07-20 22:57] jpvajda commented on #2576
I've reached to Gatsby for an update on resolution.

[2021-07-20 23:47] jpvajda commented on #2421
@zuluecho9 is there anyway you can upload a quick video or screen cast of what you are seeing? I couldn't reproduce this per the steps to repro.. 🤔

[2021-07-20 23:59] jpvajda commented on #2127
@josemore we totally agree! Not sure of your role at New Relic but for this type of request we'd be looking for agent teams to help build the connection between the repos, would that be something you or some of your counterparts may be interested in taking on? If so just let me know and I can help give you some guidance of how to get started.

[2021-07-21 00:03] jpvajda commented on #1820
This is a cool idea, if someone on the agent teams wants to take a pass at doing this we'd be happy to review any PRs relating to the work, at this time our team is pretty tied up with some very high priority product work.

[2021-07-21 00:06] jpvajda commented on #1545
This would be work to optimize search within Swiftype I believe.

[2021-07-21 00:08] jpvajda commented on #1158
stale bot closed this so re opening and added a content label for the docs team to scope this out.

[2021-07-21 10:50] urbiz-nr commented on #3183
Confirmed this has been filed by a relic. Ping me if you need to get in touch with him!

[2021-07-21 15:54] jpvajda commented on #1667
removing stale label

[2021-07-21 18:04] HenryTech opened #3211 "New doc needs to be created and linked covering notification channels in Nerdgraph"
This doc should have a link to the new doc: https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/alerts-nerdgraph/nerdgraph-api-examples/

Then there should be a new doc covering how to list, inspect, create, update, delete and add to or remove from policies using the Nerdgraph API.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/alerts-app

[2021-07-21 18:12] HenryTech commented on #3211
Announcement on this feature is here: https://discuss.newrelic.com/t/announcement-notification-channels-are-now-in-graphql/155726

[2021-07-21 22:19] jpvajda commented on #2576
from Gatsby

[2021-07-22 10:27] greenszpila opened #3226 "Issue: Use Auto-telemetry with Pixie for instant Kubernetes observability"
### Tell us what you need

I think that it was useful to have the below details in the ### Before you begin section.

* a [Pixie account](https://work.withpixie.ai/admin/api-keys)
* a Pixie API key

Would be helpful to add more details on where to get the API/Deploy keys.

### Anything else you'd like to share?

This has been originaly included in the revision:
https://github.com/newrelic/docs-web

[2021-07-22 10:59] x8a commented on #3226
Hey, @greenszpila! Thanks for filing the issue, we'll have a look 🙌🏻

[2021-07-22 16:39] zstix commented on #3078
I'm going to close this out, since the last acceptance criteria will be handled by a process (for now) and engineering work in the future. Here's that future work ticket: https://github.com/newrelic/docs-website/issues/2749

[2021-07-22 16:39] #3078 closed

[2021-07-22 17:25] jerelmiller opened #3231 "Images are broken"
Hey all! I happened to notice images were broken on this page, which is also showing up in-product.

### Doc information (don't delete this section)

* https://docs.newrelic.com/whats-new/2021/07/alert-conditions/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**: Unknown

[2021-07-22 18:21] elaguerta opened #3232 "add npm package-lock.json to .gitignore"
The project uses `yarn` to manage dependencies.

### Acceptance Criteria

- [ ]  .gitigore is updated to include `package-lock.json` so contributors don't accidentally commit this file to the repo when they accidentally use NPM 😎

[2021-07-22 18:29] #3075 closed

[2021-07-22 19:00] mmfred commented on #3231
Hey @jerelmiller I see images. Maybe they fixed themselves?

[2021-07-22 19:01] jerelmiller commented on #3231
Oh hey look at that! Perhaps there was a new build recently that fixed these paths. I do see the images now. Thanks so much!

[2021-07-22 19:01] #3231 closed

[2021-07-22 20:28] mmfred commented on #3226
@greenszpila - I'm waiting on a little advice on this. It sounds like the docs reflect current reality accurately, but I'm wondering if there's something we should say about manual installs not being supported at present. And we'll update as soon as anything changes.

[2021-07-22 20:31] jpvajda commented on #3232
an my AC 🪓

[2021-07-22 22:20] mmfred commented on #3183
Thanks @greenszpila - I requested review from the Kubernetes experts. I'll update the docs once I hear back.

[2021-07-22 22:42] #3232 closed

[2021-07-23 10:28] rudouglas commented on #2934
For any future work on this, @nr-kkenney came up with a nifty solution that uses [cockatiel](https://www.npmjs.com/package/cockatiel) which is a library that implements retry logic along with useful things like jitter to randomly stagger requests to the api. This was the example he came up with for how we would use it (that has the same functionality as your pr): https://github.com/newrelic/docs-w

[2021-07-23 10:28] #2934 closed

[2021-07-23 14:51] greenszpila opened #3245 "Issue: Link your applications to Kubernetes"
### Tell us what you need

[Validate the injection of metadata](https://docs.newrelic.com/docs/integrations/kubernetes-integration/metadata-injection/kubernetes-apm-metadata-injection/#validate-injection) should be pointing to https://docs.newrelic.com/docs/integrations/kubernetes-integration/link-your-applications/link-your-applications-kubernetes/#validate-injection

### Anything else you'd like

[2021-07-23 14:52] greenszpila opened #3246 "Issue: Link your applications to Kubernetes"
### Tell us what you need

[Validate the injection of metadata](https://docs.newrelic.com/docs/integrations/kubernetes-integration/metadata-injection/kubernetes-apm-metadata-injection/#validate-injection)

correct link - https://docs.newrelic.com/docs/integrations/kubernetes-integration/link-your-applications/link-your-applications-kubernetes/#validate-injection

### Anything else you'd like to sh

[2021-07-23 16:45] rhetoric101 commented on #3246
@greenszpila, this GitHub issue looks essentially identical to #3245. Can I just close this second issue if we fix #3245?

[2021-07-23 17:10] zuluecho9 commented on #3101
@jpvajda I guess that's why I wanted a little help, because there are some gotchas. For more context: we refer to this thing as the 'data dictionary' so it'd be nice if it could display as 'Data dictionary' on the left, as the 'attribute dictionary' might be a bit confusing. And us changing the url to 'data-dictionary' would be fine also; that way we could just redirect the old 'attribute' URL to

[2021-07-23 17:21] mmfred commented on #3226
I added a note to tell existing Pixie users that they need to install via the guided install steps. So I'm going to close as fixed.

[2021-07-23 17:21] #3226 closed

[2021-07-26 14:09] #3245 closed

[2021-07-26 14:11] zuluecho9 commented on #3246
Yeah, looked identical, although i did notice a few other unworking instances of the 'validate' link elsewhere, so may fix that now.

[2021-07-26 14:39] zuluecho9 commented on #3101
While we're at it, could we change the entry on the home page to 'Data dictionary'? I realize this is theoretically something docs team could do, but I think how the home page generates these may be related to the underlying files in some way, so I thought it made sense to have you all do it all at once.
<img width="367" alt="Screen Shot 2021-07-26 at 7 36 43 AM" src="https://user-images.githubuse

[2021-07-26 15:51] zuluecho9 commented on #3030
I created a jira to look into this and some related getField issues, FYI: DOC-7186.

[2021-07-26 15:52] zuluecho9 commented on #1885
I created a docs jira to look into this (which might actually be already solved, I'm not sure) and some related issues: DOC-7186.

[2021-07-26 16:14] jpvajda commented on #2139
@rudouglas to mark this done, can we just bump all sites to  Gatsby v 3.10? We don't do redirects on Dev or OSS, but it's nice to keep Gatsby version in sync IMHO.

[2021-07-26 16:20] zuluecho9 commented on #3183
I think this issue will be solved with this PR https://github.com/newrelic/docs-website/pull/3252, is that correct @mmfred ?

[2021-07-26 16:22] mmfred commented on #3183
yes. Finalizing some changes.

[2021-07-26 16:22] #3183 closed

[2021-07-26 18:44] mmfred opened #3269 "Enhancement request: components for tutorial template"
The docs team is creating tutorials. Alex Ronquillo and Jemiah Sius are creating labs. We have collaborated on design ideas for these two types of content to enhance a coherent site design and as a bonus, to reduce the ask of the DevEn team.

This issue is to request some new components to support the new content types.

### Describe the solution you'd like

These files provide mocks of the lab an

[2021-07-26 21:41] aswanson-nr commented on #2576
I can confirm that Gatsby Cloud now allows you to set the domain even if the Apex is used in another fastly account. I will test it with a DNS record next

[2021-07-26 22:03] aswanson-nr commented on #2576
@jpvajda I wanted to confirm if the DNS record test is needed. The original issue had Gatsby showing us an error when the apex domain was entered and now that has been resolved. I think we can mark this as resolved as-is, without setting up a new DNS entry.

[2021-07-26 22:15] jpvajda commented on #2576
@aswanson-nr agreed, that mentioned it as a way to test, but if you deem it unnecessary we can call this done.

[2021-07-26 22:16] #2576 closed

[2021-07-26 23:26] dralph3344 opened #3277 "Issue: Users, roles, permissions (New Relic One user model)"
### Tell us what you need:

* Please clarify that Key Transactions are NOT visible to Basic Users

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure/
* **OS**: Mac OS 10.15.7
* **Browser**: Chrome 92.0.4515.107
* **Device**: Unknown

[2021-07-26 23:50] paperclypse commented on #3277
@zuluecho9 Seems like something you might have an opinion about/want to know about.

[2021-07-27 07:48] josemore opened #3279 "Broken link to uniqueCount query in UI"
### Description

There's a broken link in widgets when the query uses uniqueCount().
The UI shows this: "This pie chart uses uniqueCount, which may result in the facet sum exceeding 100%. Learn more in our documentation."
The UI has broken (404) link to: https://docs.newrelic.com/docs/insights/nrql-new-relic-query-language/troubleshooting/pie-chart-uniquecount-adds-more-100/

### Steps to reproduc

[2021-07-27 12:28] x8a commented on #3279
Thanks for spotting this! The link should direct you [here](https://docs.newrelic.com/docs/query-your-data/explore-query-data/use-charts/chart-types/#widget-piechart). Our engineers will update it as soon as possible 🙌🏻.

[2021-07-27 13:31] rudouglas commented on #2139
Developer: https://github.com/newrelic/developer-website/pull/1495
OSS: https://github.com/newrelic/opensource-website/pull/818
Beta: https://github.com/newrelic/beta-docs-site/pull/93
Theme:

[2021-07-27 14:22] zuluecho9 commented on #3277
@dralph3344 Wanted to ask: are you a New Relic employee?

And wanted to point out that key transactions are a feature of APM, and we document here https://docs.newrelic.com/docs/accounts/accounts-billing/new-relic-one-user-management/new-relic-one-user-model-understand-user-structure/#user-capabilities that basic users don't have access to the more curated UI features of Full Stack Observability,

[2021-07-27 16:17] dralph3344 commented on #3277
Hi, Yes, I am an employee. And I agree with that understanding that it's
part of the curated UI. However, users have a really really tough time
knowing what is and what is not a basic user capability (esp new user). The
more we can be explicit in the public docs the better. Having a super super
clear documentation around this will save everyone a lot of toil.

On Tue, Jul 27, 2021 at 7:22 AM zulue

[2021-07-27 17:17] mmfred opened #3284 "Add collector information to the networks doc"
We received internal feedback that the docs don't provide info on collectors. This information and context have been provided in the following draft:

https://docs.google.com/document/d/1a9Exx4EMJrf6wCjWSpRc-2gn5l_KVeUiY4PjtBMOTJ4/edit?ts=60f02bd5

The work here is to add this information to the Networks doc.

[2021-07-27 19:44] zuluecho9 commented on #3277
@dralph3344 do you have anything else that stands out off top of head that isn't intuitive in this area that is worth calling out explicitly?

[2021-07-27 21:48] jpvajda commented on #3279
@x8a were you working on this issue? It's actually in the NR1 product and not something my team controls. You'd want to raise this issue to `#help-entity-ui` for resolution.

[2021-07-27 21:50] bradleycamacho commented on #3027
@jerelmiller Sorry this fell through the cracks! I'll take a look at this this week.

[2021-07-28 12:02] YogalakshmiS opened #3298 "Issue: Errors page: Find, fix, and verify problems"
### Tell us what you need

* If you've found something inaccurate, what is it?
* If something is hard to read, confusing, or missing information, let us know.
* If you're having trouble completing a task or are uncertain what to do next,
  tell us what you're trying to do so we can provide more useful information.

### Anything else you'd like to share?

Add other context like screenshots, links t

[2021-07-28 13:04] x8a commented on #3298
Hi, @YogalakshmiS! Could you give us some more information about the problem you need help with?

[2021-07-28 15:18] barbnewrelic commented on #3298
Moving this temporarily to blocked while waiting for more info from requester.

[2021-07-28 15:29] nr-kkenney opened #3302 "Testing translation workflow"
### Background
Unit tests already exist for steps of the translation pipeline, but I would like a way to proactively test the workflow end-to-end in terms of the javascript code that comprises the translation process (versus running all the github workflows).

The thought I have is:
1. Combine the necessary input & script execution from all workflows into one testing script, or set of testing step

[2021-07-28 18:29] jpvajda opened #3307 "[In Product XP] Some What's new posts aren't rendering correctly on Docs Site"
It looks like some what's new posts are missing body content.

`NOTE` [The doc site is rendering this data correctly](https://docs.newrelic.com/whats-new/2021/06/data-ingest-drill-down/)

### Steps to Repro

1. go to new [relic one > documentation & support ](https://one.newrelic.com/launcher/nr1-core.explorer?pane=eyJuZXJkbGV0SWQiOiJucjEtY29yZS5saXN0aW5nIiwiZmF2b3JpdGVzIjp7InNlbGVjdGVkIjpmYWxzZSw

[2021-07-28 18:39] jpvajda commented on #3307
@zstix is troubleshooting it was brought our attention by Bill and Nic and Mark B so it's higher priority .

[2021-07-28 19:01] zstix commented on #3307
The pages that fail to display in the help overlay aren't regular docs pages, they're "What's new" announcements. These pages are special in that they live in a different part of the repository and have their own endpoint for getting the JSON content.

The service that powers the in-product help is unaware that these are special pages, and it's attempting to get the content for (what it thinks is)

[2021-07-28 19:06] jpvajda commented on #3307
Let's go with 🅰️

[2021-07-28 19:57] #3211 closed

[2021-07-28 21:58] aswanson-nr commented on #2933
I have confirmed that this is no longer an issue when hosting on Gatsby Cloud.

[2021-07-28 21:58] #2933 closed

[2021-07-28 23:28] jpvajda commented on #3302
This looks like it's part of the current sprint, can you estimate this?

[2021-07-29 01:05] qryuu opened #3318 "Issue: Troubleshoot cross application tracing"
### Tell us what you need

What does adjust mean?

To reduce sampling in high throughput apps
I'm not sure if I should increase or decrease the max_samples_stored setting, and reading the documentation I'm confused about what action to take.

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, ap

[2021-07-29 02:39] StephenFarrell99 opened #3319 "Issue: Report metrics via the Metric API"
Near the top of the page is the sentence "Each request is composed of one or more metric data points, which consist of a metric **name, a timestamp, and a value**."

Later in the page is the sentence "A metric data point is identified by a **name, type, and value** along with an optional set of attributes."

In between, is this:
{
           "name":"memory.heap",
           "type":"gauge",

[2021-07-29 03:32] qryuu opened #3320 "Issue: Create NRQL alert conditions"
### Tell us what you need

What are the conditions under which alerts opened by loss of signal actions are closed?

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/alerts-applied-i

[2021-07-29 09:50] x8a commented on #3320
Hi, @qryuu! I'll look into this and get back to you 👍🏼.

[2021-07-29 10:46] x8a commented on #3319
Hi, @StephenFarrell99! I think `timestamp` has been omitted in the second sentence because it's not as representative as the `name`, `type`, and `value` key values. Please let me know if adding it in the second sentence would make it less ambiguous. Thanks!

[2021-07-29 16:51] x8a commented on #3279
Hi @jpvajda! Sorry, I actually meant the engineers responsible for the NRQL builder. I reached out to them and they're working on fixing it. Thanks for checking in! 👏🏻👏🏻👏🏻

[2021-07-29 18:54] rhetoric101 opened #3335 "Remove scroll bar for “On this page” in the right gutter"
### Is your feature request related to a problem? Please describe

The scroll bar in the right gutter for "On this page" hides the vital content from our readers.  The power of having all the page headings available is that it enables readers to quickly skip to the section that interests them. When the headings are in a scroll box, it slows down readers, and readers may not notice the scroll bar.

[2021-07-29 23:27] brammerl commented on #1706
So after looking at this, it appears that in order to invoke the copy method onto these code snippets - we would have to allow copying on all collapsable "headers". Not all of these collapsable headers have code snippets in them, some of them have simple headers or even 2 different lines of code.

[2021-07-29 23:32] jpvajda commented on #3279
That's great @x8a Thanks for taking that action!

[2021-07-29 23:41] jpvajda commented on #1706
closing as the ability to copy is embedded within the content of the collasper.

[2021-07-29 23:41] #1706 closed

[2021-07-30 03:19] StephenFarrell99 commented on #3319
The most important thing is that the two sentences need to be consistent.

Later in the document, the required parameters are listed as name, value and timestamp. Type is listed as optional, but recommended. This means the second sentence,  which omits timestamp, is definitely misleading. I would change the second sentence to be consistent with the first. Name, timestamp and value are the only one

[2021-07-30 07:04] qryuu opened #3342 "Issue: Private locations overview: Monitor internal sites and add new locations"
### Tell us what you need

<html>
<body>

Account access and permissions | A private location set up with a parent account can be used by the child accounts under that parent. A private location set up with a child account can only be used by that child account.
-- | --

</body>
</html>

I don't think there is a parent and child relationship in the New Relic One user model.

What is the PrivateLoc

[2021-07-30 08:06] x8a commented on #3342
Hi, @qryuu! I'll look into this and get back to you.

[2021-07-30 09:44] x8a commented on #3319
Noted! I fixed it in PR #3344. Thanks for reporting the inconsistency! 👏🏻

[2021-07-30 09:44] #3319 closed

[2021-07-30 10:08] x8a commented on #3279
I'm closing the issue, since the fix will be live early next week.

[2021-07-30 10:08] #3279 closed

[2021-07-30 13:47] zuluecho9 commented on #3342
thanks @qryuu, this is a very good question and I"m going to investigate this and some other references to 'parent/child account' structure in docs for other features.

[2021-07-30 18:28] jpvajda opened #3350 "Migrate data from Dynamo to new Database"
### Background

We have some translations queued & jobs current in progress but using the Dynamo DB. To make sure we don't lose any in progress or queued up work, we need to migrate the existing data we have to our new database.

### Acceptance Criteria
- [x] create migration script
- [x] migrate in progress jobs
- [x] migrate files queued for translation

[2021-07-30 20:40] LizBaker commented on #3071
We're using gatsby-remark-autolink-headers for our header linking/scrolling magic. It has a few props for customization but I can't find a way to incorporate a click event for copying. We might be able to PR the plugin but otherwise seems like we would have to write this functionality from scratch (not use the plugin) if we want a copy option

[2021-07-30 21:35] zuluecho9 commented on #3342
@qryuu I'm curious if you find this PR docs edit makes sense: https://github.com/newrelic/docs-website/pull/3354. If not, I'm curious what is missing.

[2021-07-30 21:46] jpvajda commented on #3071
@LizBaker I'd be 💯  onboard to PR the plugin.

[2021-07-30 23:21] nr-kkenney commented on #3350
EOD update: confirmed with julien that we are good to startup the workflows / do our first run on monday, so ill wait on actually doing the migration till monday.

scripts are ready & ive tested against my local postgres instance so I can migrate first thing on monday.

[2021-08-02 07:41] qryuu opened #3361 "Issue: Synthetic monitor public minion IPs"
### Tell us what you need

What email address will be notified with this email?
Is it for all registered users of New Relic, including Basic?
Or is it only for specific users such as FullUser or Admin?

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc inf

[2021-08-02 10:41] x8a commented on #3320
Hi, @qryuu! Here's the ways violations that open due to loss of signal close:
  * When the signal comes back. Newly opened lost signal violations will close immediately when new data is evaluated.
  * When the condition they belong to expires. By default, conditions expire after 30 days.
  * When you manually close the violation with the **Close all current open violations** option.

I added some

[2021-08-02 17:57] nr-kkenney opened #3367 "Translation workflow cleanup"
### Background
Once we are confident new code works, we can remove artifacts from the old translation process. This includes things like dynamodb tables, secrets, code, etc.

### Acceptance Criteria
* [x] delete dynamo tables
* [x] delete dynamo code
* [x] delete aws secrets in workflows

[2021-08-02 18:14] bradleycamacho commented on #3027
@jerelmiller This one is a bit more complicated than it seemed at first glance. It seems that the doc never made it's way over from drupal either as an error from the migration (unlikely) or because we deleted the doc prior to the migration (more likely).

Still hunting this down.

[2021-08-02 19:17] alexronquillo commented on #3269
Could you also build stats tracking into the progress indicator? This would be really valuable for understanding what procedures users complete, where they stop tutorials/labs, etc.

[2021-08-02 20:33] dralph3344 opened #3371 "Issue: Muting rules: Suppress notifications"
### Tell us what you need

* To my knowledge, not all Violation event attributes can be used for a muting rule.

please provide an explicit list of those attributes that we can use in a muting rule, rather than a link to all violation event attributes.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications

[2021-08-02 20:43] zuluecho9 commented on #3361
@qryuu thanks. This should be referring to all users in that account being notified. I may update this doc, thank you for that criticism.

[2021-08-02 20:43] #3361 closed

[2021-08-02 20:57] zuluecho9 commented on #3361
@qryuu And apparently those IP addresses should rarely change.

[2021-08-02 20:58] nr-kkenney commented on #3350
jobs & files migrated.

[2021-08-02 20:58] #3350 closed

[2021-08-02 20:58] #3302 closed

[2021-08-02 21:01] zuluecho9 commented on #3342
Okay we're pushing out a change to docs regarding this with https://github.com/newrelic/docs-website/pull/3354 and gonna close this issue. Thanks again.

[2021-08-02 21:01] #3342 closed

[2021-08-02 21:28] jpvajda commented on #1397
closing for now as we put a process in place to support our different hero channels. if we ever think this is important we can re-open

[2021-08-02 21:31] paperclypse commented on #3371
Do you have a list of supported attributes, @dralph3344?

[2021-08-02 22:40] roadlittledawn opened #3376 "Render video embeds in NR1 Help XP docs content"
### Description

Update the local plugin `plugins/gatsby-plugin-generate-doc-json` to convert `Video` components to `<iframe>` in the generated HTML in the `body` field so videos render in the NR1 Help XP nerdlet.

### Steps to reproduce

1. Go to NR1 Help XP nerdlet (question mark in upper right corner) and search "New Relic One New Relic Explorer"
2. Note it's missing the video embed that is dis

[2021-08-02 22:51] nr-kkenney opened #3377 "[Translation] A particular document appears to be running into an error"
### Background
A particular document appears to be running into an error during the the file upload process. The error is:

[code]
[Link](https://github.com/newrelic/docs-website/runs/3224868355?check_suite_focus=true) to failure run.

I dont think this problem is necessarily limited to this one document, but currently, only this document is experiencing it.

Additionally, this document will conti

[2021-08-02 23:02] jpvajda commented on #3071
moving back to backlog as we are blocked due to plugin limitations.

[2021-08-02 23:08] jpvajda commented on #3377
since this is a single document, I put a P3 on it and tagged it for consideration in our MT epic. (milestone)

[2021-08-02 23:57] nr-kkenney commented on #3080
this should now be resolved with the merge of #3347

[2021-08-02 23:57] nr-kkenney commented on #2603
this should now be resolved with the merge of #3347

[2021-08-03 00:22] #2603 closed

[2021-08-03 00:28] #3080 closed

[2021-08-03 00:55] austin-schaefer opened #3379 "Add "PM Handbook" to docs site"
# Migration tasks

## Introduction

- [ ] Convert content to markdown
- [ ] Create a "lines of communication" diagram
- [ ] Check formatting for issues
- [ ] Review migrated content for NR jargon or unclear context
- [ ] Test migrated content locally
- [ ] Check links, add new links as appropriate

## Agile principles

- [ ] Convert content to markdown
- [ ] Check formatting for issues
- [ ] Revie

[2021-08-03 09:43] josemore opened #3385 "Update "launcher" instructions to use Guided Install UX flow"
### Tell us what you need

* The tiles in the "Install using the launcher" section are pointing to the "legacy UI" to install the infrastructure agent that's no longer being maintained.
* We should rename "launcher" with "Guided Install" (in general) and have "Linux and Windows" tiles pointing to the Guided Install experience (see [Guided Install](https://docs.newrelic.com/docs/full-stack-observab

[2021-08-03 12:26] urbiz-nr commented on #3385
Created jira DOC-7198.

[2021-08-03 16:13] mmfred commented on #3284
This was addressed by the above PR.

[2021-08-03 16:13] #3284 closed

[2021-08-03 16:32] barbnewrelic commented on #3298
@YogalakshmiS  for your convenience, we'll close this issue. please feel free to reopen it or submit a new issue when you have more details about how we can help. thanks again!

[2021-08-03 16:32] #3298 closed

[2021-08-03 16:33] paperclypse commented on #3371
Hi @dralph3344, I've checked with @HenryTech on this one. It looks like the docs are correct. If there are any missing violation event attributes, that's an error in our product and not in our docs. Thanks!

[2021-08-03 16:33] #3371 closed

[2021-08-03 16:44] #2655 closed

[2021-08-03 17:25] nr-kkenney opened #3392 "update triage to localization project workflow"
### Background
Triaging to the localization project has recently started to fail. As an example: https://github.com/newrelic/docs-website/runs/3233399222?check_suite_focus=true. This appears to be due to the column name changing so the workflow is currently looking for a column that no longer exists. We should update it to reflect the new name so the workflow can run without failure.

### Acceptan

[2021-08-03 17:25] austin-schaefer opened #3393 "Fire event to instrument clicks to "For more help" links"
### Is your feature request related to a problem? Please describe

Every doc on the site has these links on the bottom, and I suspect they add a lot of visual noise without adding much value.

![image](https://user-images.githubusercontent.com/55203603/128059328-a57b00c6-064b-4bea-a0a7-b22ee4cdf331.png)

### Describe the solution you'd like

* Fire an NR custom event every time any of these links

[2021-08-03 17:48] jpvajda commented on #3392
I got this one.

[2021-08-03 18:06] aswanson-nr commented on #2015
CNAME transfer ticket `ELB-1680`

[2021-08-03 23:06] roadlittledawn opened #3398 "Fix broken release workflow"
## Description

The release workflow is erroring. Possibly another unescaped character borking things?

https://github.com/newrelic/docs-website/actions/workflows/release.yml

## Example error message
[code]

[2021-08-03 23:07] roadlittledawn commented on #3398
@austin-schaefer mentioned he's okay with removing this workflow if needed

[2021-08-03 23:21] #3307 closed

[2021-08-03 23:21] #3077 closed

[2021-08-03 23:21] #3076 closed

[2021-08-03 23:29] jpvajda commented on #3392
If someone else wants to take this feel free. 😅

[2021-08-03 23:35] austin-schaefer commented on #3398
(I'd prefer to keep it or course, but if it's a source of major overhead then I'm willing to forego it.)

[2021-08-03 23:53] #3376 closed

[2021-08-04 03:25] austin-schaefer opened #3400 "Idea: Tweak left nav behavior to make browsing easier"
### Is your feature request related to a problem? Please describe

The left nav currently only "opens" a specific menu if you click the little arrow. We did this so that category pages are discoverable. However, this comes at a cost to simple browsing: Clicking the titles of a category bounces you around in a way that's pretty disorienting.

### Describe the solution you'd like

* Make clicking on

[2021-08-04 03:25] austin-schaefer commented on #3400
@zuluecho9 @rhetoric101 : I know you both have had strong feelings about this. Curious on your thoughts on this idea.

@x8a : Might be a good smaller ticket item for you at some point.

[2021-08-04 04:47] urbiz-nr commented on #3318
Hello @qryuu - thanks for reaching out! The "adjust" you mention refers to "reduce or eliminate sampling", so you need to decrease the setting. Hope this helps!

[2021-08-04 10:24] rudouglas commented on #3392
haha the timeline on your comments looks like you spent 6 hours sweating over this before you gave up 😂

[2021-08-04 10:36] rudouglas commented on #3392
This is failing because the `COLUMN_NAME` in [Docs PRs and Issues](https://github.com/newrelic/docs-website/projects/3)(Hero to triage) is different to [Docs Site Localization PRs and Issues](https://github.com/newrelic/docs-website/projects/4)(Needs Triage) but the workflow is expecting them to be the same. @bradleycamacho it looks like you made the [change in the script](https://github.com/newre

[2021-08-04 13:45] zuluecho9 commented on #3400
yeah that makes sense to me. I find the fact that it takes you away bad also. But we do need a way to get those links to those category views.

[2021-08-04 15:28] bradleycamacho commented on #3392
Gah, sorry we didn't realize there was so much relying on the column name when we switched that recently.

If @jmiraNR is ok with changing the column name in **Docs Site Localization PRs and Issues**, that may be the easiest option.

Otherwise, we can also change the docs column back and revert the changes to the script.

[2021-08-04 18:35] vuqtran88 opened #3411 "Broken .NET links"
### Description
We noticed a lot of the .net integrations link are broken on our public doc.

### Steps to reproduce

1. Go to [https://newrelic.com/integrations?query=.net&tags=
](https://newrelic.com/integrations?query=.net&tags=)

2. Click on the first "Documentation" button

3. See `404` error.

### Expected behavior

A clear and concise description of what you expected to happen.

### Screens

[2021-08-04 18:39] bradleycamacho commented on #3411
@vuqtran88 Thanks for reporting this. Looking into this now.

[2021-08-04 19:04] jmiraNR commented on #3392
@bradleycamacho @rudouglas Hi, I'm not sentimentally attached to the column name. Feel free to rename. Thank you for checking.

[2021-08-04 19:29] jpvajda opened #3413 "redirects are no longer working on the doc sites after switching to Gatsby Cloud"
### RELATED

https://github.com/newrelic/docs-website/issues/1014
https://github.com/newrelic/docs-website/pull/1205

after fully switching to Gastby Cloud redirects are no longer working, it may be due to the `/` we add to all URLs to work around an Amplify issue. 😓

`NOTES`

 - gatsby cloud doesn't require the  `/`   slash it was one reason we wanted to move to them
- it looks like by adding a `

[2021-08-04 20:42] jpvajda opened #3415 "Only build on Gatsby, no longer use Github to build sites [DOCS]"
We setup GitHub to build the site as we had issues with Amplify not reporting back build status we no longer need to this now that we are on Gatsby Cloud.

### Acceptance Criteria

- [ ] no longer build in Github and only build on Gatsby
- [ ] Give a select group of Docs Team members access to Gatsby Cloud so they can trouble shoot builds

[2021-08-04 20:44] CherylFrankenfield opened #3416 "Issue: Update Item 2 for better clarity on metadata in config block for browser agent and clarifying conditions for the application id reference"
### Tell us what you need

First Request, In #2 under **Update Using the Loader Endpoint**, we mention some metadata but not all.

_Set your browser application ID and license key immediately after the snippet.

NREUM.info = { applicationID: "YOUR-APPLICATION-ID",
               licenseKey:    "YOUR-BROWSER-LICENSE-KEY" };_

We've seen this question come up from time to time on what our other meta

[2021-08-04 20:45] jpvajda opened #3417 "Follow up work to redirects not working on docs site after Gatsby cloud switch"
### Acceptance Criteria

- [x] Adding a / to an existing redirect that doesn't have / will not work in rendering the page

- [x] An existing redirect bookmark url with a / wil not work

[2021-08-04 22:15] jmiraNR commented on #2536
Hi. Regarding this point:
making sure protected text is ignored from translation. implementing placeholder directives if our current process doesn't work.
Clarification: the text to be protect is within a sentence. text like "New Relic", or "Add more data" when referring to a button: Please click **Add more data**.
On these pages:

- https://help.smartling.com/hc/en-us/articles/360007894614-HTML
-

[2021-08-04 22:24] bradleycamacho commented on #3416
Thanks for the issue @CherylFrankenfield! I'll scope this out and try to get it into an upcoming sprint.

[2021-08-04 23:28] jpvajda commented on #3417
fixed in #3413

[2021-08-04 23:37] #3413 closed

[2021-08-04 23:42] jpvajda commented on #3398
What is the purpose of this workflow? it's label "release" and seems to be about the github release flow we are ripping out with this ticket i think? @roadlittledawn

https://github.com/newrelic/docs-website/issues/3415

[2021-08-04 23:44] jpvajda commented on #3393
I wonder if @x8a can take this one? We have documentation on our[ instrumentation works. ](https://github.com/newrelic/docs-website/wiki/Event-Data--and--Instrumentation) which is a good starting point to setting this up.

[2021-08-05 09:09] rudouglas commented on #3392
Great thanks @jmiraNR @bradleycamacho i've changed the column name and rerun the workflow which is successful now. I think it's safe to close this issue out but let us know if there's anything else you need :)

[2021-08-05 12:09] rudouglas commented on #3398
No @jpvajda this workflow is to create the GitHub release notes when we merge from `develop` to `main`
https://github.com/newrelic/docs-website/releases

So wouldn't be affected by the GitHub builds. This issue was caused by `""` quotation marks being used in a commit description which we need to escape.

using the `json` module should allow us to encode the description strings before we process t

[2021-08-05 15:57] #3417 closed

[2021-08-05 18:36] #3392 closed

[2021-08-05 18:46] aswanson-nr opened #3429 "Investigate a way to reduce build times locally"
# Summary
It takes a long time to do a cold (no cache) production build of this site, about 40 minutes on Gatsby Cloud and 60 minutes on GH runners. We would like to investigate a way to do a shorter production build of the site locally to allow for faster iteration when triaging prod issues.

## Possible starting points
* Just build a subset of the site

I'm leaving this pretty open ended since t

[2021-08-05 19:50] roadlittledawn opened #3431 "Fix flashing 404, mangled page when requesting a redirected URL"
### Description

When requesting a URL that redirects to another page on the site, you see:
* a 404 page (for 1-2 seconds)
* the destination page, but with mangled layout for 1-2 seconds (footer in upper left, main column and right rail overlapping each other on the right)
* then the destination page with correct layout / styling

### Steps to reproduce

1. Go to https://docs.newrelic.com/docs/age

[2021-08-05 20:32] #2015 closed

[2021-08-05 20:36] aswanson-nr commented on #2406
Removed from amplify

[2021-08-05 20:36] #2406 closed

[2021-08-05 21:54] nr-kkenney commented on #3367
pr merged, tables deleted. closing.

[2021-08-05 21:54] #3367 closed

[2021-08-06 06:43] urbiz-nr commented on #3046
This has been already documented.

[2021-08-06 06:43] #3046 closed

[2021-08-06 11:36] liamhurrell opened #3447 "NRU link results in 404"
### Tell us what you need

* The link to New Relic University from this page: https://docs.newrelic.com/docs/using-new-relic/welcome-new-relic/  results in a 404 - if no description content is available I am in NRU and can provide it - or the link shoudl go to https://learn.newrelic.com/

### Doc information (don't delete this section)

* https://docs.newrelic.com/nru/
* **OS**: Mac OS 10.15.7
* *

[2021-08-06 12:09] urbiz-nr commented on #3447
Thanks for reporting this, @liamhurrell. I'll update it to https://learn.newrelic.com/.

[2021-08-06 12:18] urbiz-nr commented on #3447
Fixed in #3449.

[2021-08-06 12:18] #3447 closed

[2021-08-06 14:12] rudouglas commented on #3398
This was still failing so i did some extensive testing and the json approach didn't seem correct. I changed to just escaping the `"` chars as they were the only special characters causing issues.

I also changed the release command to run from within the script as there were weird issues between strings in python and strings in bash

[2021-08-06 16:10] adiosspandit opened #3458 "Issue: Change your Apdex settings"
* The Apdex Setting in UI is not always visibile
* Documenting under what conditions the setting is visible and editable will help
* If there is a particular role needed to be able to edit the setting that should also be added to this doc
*

### Anything else you'd like to share?
I am not sure if agent has to be actively reporting for that setting to be visible.
I am an Admin Full User on an accou

[2021-08-06 16:15] jpvajda commented on #3431
I've raised this entire problem we faced with redirects and trailing `\`  to Gatsby and I'm seeing if we can discuss this with them soon. It may be wise to wait for input before trying to solve this particular problem.

[2021-08-06 16:52] jpvajda commented on #3415
The difference between preview builds & prod builds on Gatsby Cloud: Preview builds are served from our own nginx in Google Cloud. The production builds are served from Fastly CDNs.

[2021-08-06 17:25] aswanson-nr commented on #3415
We are going to hold off on these changes until after the break to ensure that there aren't any unintended side effects.

[2021-08-06 18:30] jpvajda commented on #3092
@nr-kkenney can do a final review and mark it done...

[2021-08-06 18:34] nr-kkenney commented on #3092
looks good to me. closing.

[2021-08-06 18:34] #3092 closed

[2021-08-06 19:35] dralph3344 opened #3462 "Issue: Use Auto-telemetry with Pixie for instant Kubernetes observability"
### Tell us what you need

* We need a link or an explicit list of what the REQUIREMENTS are. What are the supported environments?

for example, Pixie is not supported in ECS. This needs to be clear.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/auto-telemetry-pixie/get-started-auto-telemetry-pixie/
* **OS**: Mac OS 10.15
* **Browser**: Firefox 90.0
* **Device*

[2021-08-06 19:37] dralph3344 opened #3463 "Issue: Use Auto-telemetry with Pixie for instant Kubernetes observability"
### Tell us what you need

* I would clarify the "Ensure you have the basic user role. You cannot be a restricted user or assigned a custom role that denies access to Auto-telemetry with Pixie."

my concern is a user thinks a Basic role is necissary, and downgrade in order to ingest the data.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/auto-telemetry-pixie/ge

[2021-08-06 19:41] dralph3344 commented on #3371
no i do not have the list of supported attributes. @HenryTech  should have a clarifying list as the docs are incorrect.

[2021-08-06 20:16] rhetoric101 commented on #3458
@adiosspandit, thanks for your questions about APDEX. I'm checking with subject matter experts to see if there is anything we can add to the doc to clarify when APDEX is visible.

[2021-08-06 22:59] jpvajda commented on #1397
@LizBaker is working on this 🥳

[2021-08-07 17:02] ElementalWarrior opened #3467 "Issue: record_exception (Python agent API)"
You've removed all the documentation for the deprecated newrelic.agent.record_exception. For those of us who aren't running the bleeding edge python package we now can't refer to the documentation.

https://docs.newrelic.com/docs/agents/python-agent/python-agent-api/recordexception-python-agent-api/

This link no longer tells me anything remotely useful about the parameters of the function. What i

[2021-08-08 16:25] jamesmacwhite opened #3469 "Microsoft Teams Webhook example fails for Synthetics multi-location failure conditions"
I've recently implemented the Microsoft Teams webhook JSON payload described here:

https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/customize-your-webhook-payload/#webhook-format-examples

I have found that this JSON payload does not work for any multi-location failure conditions with Synthetics. This always leads to a "Notification failed" error on

[2021-08-09 15:12] mnyk opened #3471 "Issue: Kubernetes integration: Recommended alert policy"
Hi, I tried to set an alert in my Infra Settings from https://docs.newrelic.com/docs/integrations/kubernetes-integration/installation/kubernetes-integration-recommended-alert-policy/ - for example "Node allocatable memory utilization % is too high" but I can't find the Value: (memoryUsedBytes/memoryLimitBytes)/100.
I also found on the docs info that now it uses the new memoryWorkingSetUtilization

[2021-08-10 16:31] neilpdx opened #3472 "Issue: Install .NET agent for Linux"
### Tell us what you need

The following statement...

If you modify your newrelic.config file, make sure it retains the default UTF-8 encoding. If your editor adds a BOM (Byte Order Mark) to the encoding, the agent will be unable to read the file and will not start up in Linux.

...can be removed since this issue has been fixed in agent version 8.39:
https://github.com/newrelic/newrelic-dotnet-ag

[2021-08-11 02:45] qryuu opened #3474 "Issue: How to use service maps"
### Tell us what you need

Currently, only legacy APM service maps can be added to the Dashboard, but I don't think new service maps can be added.

The description that follows is actually the procedure for adding a legacy map to the Dashboard.

This page is a description of the new Service Map.
Since the legacy APM Service Map is [linked to a separate document](https://docs.newrelic.com/docs/unde

[2021-08-11 20:43] ghost opened #3476 "Issue: Proactive Detection with Applied Intelligence"
### Tell us what you need

The [webhook attribute list](https://docs.newrelic.com/docs/alerts-applied-intelligence/applied-intelligence/proactive-detection/proactive-detection-applied-intelligence/#webhook) and [json template](https://docs.newrelic.com/docs/alerts-applied-intelligence/applied-intelligence/proactive-detection/proactive-detection-applied-intelligence/#json-example-schema) are missin

[2021-08-12 01:44] dlesniak-NR opened #3477 "Drop data using NerdGraph Broken Link"
### Tell us what you need

I found a broken link found in the paragraph below.

[code]

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/telemetry-data-platform/manage-data/drop-dat

[2021-08-12 15:14] twistypigeon opened #3478 "Parameter missing from example command"
### Tell us what you need

The command line to call the cloudformation script is incorrect.
When running it demands another parameter value for NrAccountId.
As such the command should change to:

`aws cloudformation create-stack --stack-name NewRelicLicenseKeySecret --template-body file://license-key-secret.yaml --parameters 'ParameterKey=LicenseKey,ParameterValue=LICENSE_KEY' 'ParameterKey=NrAcco

[2021-08-12 15:16] twistypigeon opened #3479 "Missing capabilities parameter on create-stack example"
### Tell us what you need

The create stack script requires the `--capabilities CAPABILITY_NAMED_IAM` parameter in order to execute

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking/
* **OS**: Windows 10
* **Browser**: Firefox 90.0
* **Device**: Unknown

[2021-08-12 15:25] twistypigeon opened #3480 "Example Intrumentation link 404"
### Tell us what you need

The example instrumentation link at the top of the page 404s

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/instrument-your-own/
* **OS**: Windows 10
* **Browser**: Firefox 90.0
* **Device**: Unknown

[2021-08-12 17:17] CherylFrankenfield opened #3481 "Issue: Update Browser Docs on JavaScript Errors Global and Generic Errors piece"
### Tell us what you need

Specifically, the header Global and generic errors needs to be reviewed by engineering and updated as applicable.

Recap for reference:

The docs state _Unavailable errors include: SyntaxError or Script error: These occur while the script is loading, so they do not produce a stack trace._ In Support we see some syntax errors reported and some have a stack trace. Addition

[2021-08-12 17:20] CherylFrankenfield commented on #3481
Previous docs jiras:
https://newrelic.atlassian.net/browse/DOC-6096
https://docs.newrelic.com/node/1911/draft

Tickets/Eng:
https://newrelic.atlassian.net/browse/GTSE-4038
https://newrelic.zendesk.com/agent/tickets/419630
https://newrelic.zendesk.com/agent/tickets/465281

[2021-08-13 18:22] jbotuck opened #3483 "Issue: Java agent: Instrument Kafka message queues"
lots of deprecated things on this page!

[2021-08-16 04:33] #382 closed

[2021-08-16 05:34] #3318 closed

[2021-08-16 08:29] urbiz-nr commented on #3471
Hello @mnyk - thanks for getting in touch with us.

This team takes care of [New Relic public docs](https://docs.newrelic.com/), we'll have a look at the attributes on our docs that are causing trouble and update them accordingly.

However, if you have more specific questions about how to set your settings I recommend you drop them on our Explorers Hub at [discuss.newrelic.com](https://discuss.new

[2021-08-16 08:48] urbiz-nr commented on #3472
Thanks for reaching out, @neilpdx - we'll update the docs!

[2021-08-16 09:02] urbiz-nr commented on #3474
Thanks for reaching out, @qryuu - we'll have a look!

[2021-08-16 09:53] urbiz-nr commented on #3477
Thanks for letting us know, @dlesniak-NR! It's being fixed in #3485.

[2021-08-16 09:53] #3477 closed

[2021-08-16 14:13] bradleycamacho commented on #3411
This should be fixed now @vuqtran88. Please let us know if this happens again :)

[2021-08-16 14:14] #3411 closed

[2021-08-16 15:28] zuluecho9 commented on #3277
I talked to dralph about this and made some edits.

[2021-08-16 15:28] #3277 closed

[2021-08-16 15:38] Julien4218 opened #3487 "Issue: JMX monitoring integration"
### Tell us what you need

The "Quick start" section needs to be removed since we've removed the JMX installation from the Guided install.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/integrations/host-integrations/host-integrations-list/jmx-monitoring-integration/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**: Unknown

[2021-08-16 15:47] austin-schaefer commented on #2668
Nice try stalebot

[2021-08-16 15:48] jpvajda commented on #382
Letting this stay closed as we haven't come back to it. If we decide to take this on it can be re-opened.

[2021-08-16 15:56] austin-schaefer commented on #2668
Closing in favor of #3400 which has a better solution

[2021-08-16 15:57] #2668 closed

[2021-08-16 16:19] jpvajda opened #3489 "Research if `Github Codespaces` could work to ease contributor toil for Docs"
I read a cool article about how[ Github used codespaces](https://github.blog/2021-08-11-githubs-engineering-team-moved-codespaces/) to reduce their own toil for managing Github's code base, so I thought could we also take a similar approach to ease the toil for our docs contributors?

### Acceptance Criteria

- [ ] [Confirm how billing works](https://docs.github.com/en/billing/managing-billing-for

[2021-08-16 16:52] aswanson-nr opened #3490 "Old localized URL is not redirecting to current"
### Issue

The `https://docs.newrelic.co.jp/` URL does not point to a valid domain.

### Some approaches

1. Solve it with our own normal redirects

2. Submit a feature request to gatsby

3. Move back to Amplify or use Netlify under the hood

### Expected behavior
The domain should redirect to `https://docs.newrelic.com/jp/`.  to do this we need to:

- [ ]     Figure out how to redirect requests f

[2021-08-16 16:55] paperclypse commented on #3479
Hi @twistypigeon! Thanks for letting us know. I'll look into getting this fixed.

[2021-08-16 16:55] paperclypse commented on #3480
Thanks for letting us know! I'll look into getting this fixed.