[2021-08-16 16:58] austin-schaefer commented on #1599
@rhetoric101 : Can you take a look at this one? I think we had a fix IDed for this, right?

[2021-08-16 16:59] paperclypse commented on #3481
Thanks for letting us know, @CherylFrankenfield! I'll look into the best way to move forward on this one.

[2021-08-16 17:00] paperclypse commented on #3483
Hi @jbotuck! Thanks for filing an issue. Would you like to get a little more specific? :)

[2021-08-16 17:01] paperclypse commented on #3487
Thanks for letting us know, @Julien4218! I'll look into getting this removed soon.

[2021-08-16 17:12] jbotuck commented on #3483
https://docs.newrelic.com/docs/agents/java-agent/instrumentation/java-agent-instrument-kafka-message-queues/ references `.acceptDistributedTracePayload` which is deprecated

`class_transformer:
  kafka-clients-spans:
    enabled: true ` is also  generating deprecation warning for me

[2021-08-16 17:18] Julien4218 opened #3492 "Issue: New Relic guided install overview"
### Tell us what you need
Remove the JMX line item with "newrelic install -n jmx-open-source-integration" since it's no longer supported in the guided install.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/full-stack-observability/observe-everything/get-started/new-relic-guided-install-overview/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**: Unknown

[2021-08-16 17:22] paperclypse commented on #3492
Thanks @Julien4218! I'll take care of this soon.

[2021-08-16 18:18] paperclypse commented on #3462
Hi @dralph3344! This does seem like a useful thing to add. Do you have a list of requirements?

[2021-08-16 18:45] paperclypse commented on #3467
Hi @ElementalWarrior, here's the PR with this change. In it, you can find the information that was removed: https://github.com/newrelic/docs-website/commit/33105490b9a6c5929af6044e58019f7b31efe6e4#diff-7654c234bf4f9f858956e83311f0d4dac15ae52ae67240db748ff37389b29541

Because this is deprecated, I'd say that the documentation is correct here. In general, we recommend that people update to the lates

[2021-08-16 18:45] #3467 closed

[2021-08-16 19:20] zuluecho9 commented on #3463
Created this clarification https://github.com/newrelic/docs-website/pull/3496. Thanks a lot @dralph3344, that was rather confusing. Let us know if it looks better, makes more sense.

[2021-08-16 19:20] #3463 closed

[2021-08-16 20:52] paperclypse commented on #3462
I asked the Pixie hero for info on this.

[2021-08-16 20:57] paperclypse commented on #3462
Pixie requirements are described in their own docs here: https://docs.px.dev/installing-pixie/requirements/

[2021-08-16 21:02] aswanson-nr commented on #3490
@jpvajda here's an update:

The `https://docs.newrelic.co.jp/` domain was forgotten during migration, so it does not currently point to anything. This is an old address for localized content, so broken links shouldn't be wide spread. While the site was running on Amplify, we had a redirect rule setup through Amplify to automatically send requests for `https://docs.newrelic.co.jp/` to `https://docs

[2021-08-16 21:08] jpvajda commented on #3490
@aswanson-nr what's the actually count of redirects from `https://docs.newrelic.co.jp/` do we have any idea? I'm opting we just let this redirect go at this point instead of spending time on how to figure out to set it up I'd imagine the amount of redirects is low, but I'm not sure how to validate that assumption.

Perhaps @austin-schaefer has some thoughts here.

[2021-08-16 21:24] jpvajda opened #3502 "Confirm that the Gatsby PR builds work the same as our Github workflow builds"
### Relates to

- https://github.com/newrelic/opensource-website/issues/821
- https://github.com/newrelic/docs-website/issues/3415
- https://github.com/newrelic/developer-website/issues/1509

In order for us to take action on the above issues we need to confirm the assumption that PR builds in Gatsby will work the same as Github.

_We setup GitHub to build the site as we had issues with Amplify no

[2021-08-16 21:31] aswanson-nr commented on #3490
It's a weird one, since it isn't like our other redirects. Our normal ones just change the url path to another path on the same domain. This one existed outside of our actual site and just handled `.co.jp` to `.com/jp`. I took a crack at checking our PageView events to see if it was being used and I'm not seeing any requests for that domain in the last 5 months, although there are a 400 or so requ

[2021-08-16 21:32] jpvajda commented on #2139
In our standup we discussed this is not working as expected on the Docs site after the theme bump, so @rudouglas what next steps are you taking for this issue?

[2021-08-16 22:30] #3472 closed

[2021-08-16 23:07] jpvajda commented on #3490
@aswanson-nr good point, and thanks for the data pull. 📊    if we need to redirect it anyway, we might as well direct it to the jp site url. How much effort do you think this is?

[2021-08-16 23:10] jpvajda commented on #3398
What's blocking us from getting this to done @rudouglas ?

[2021-08-16 23:14] paperclypse opened #3505 "Add "data type" information to our data dictionary entries (DOC-7235)"
Currently, the data dictionary sometimes contains units of measurement, but never contains data types. By "data types," I mean "string," "numeric," and "boolean" (there may be others I'm not thinking about now).

Data type is important because it informs how a user will query any given attribute. Knowing an attribute shows bytes is useful, but whether that is stored as a string or a number dictate

[2021-08-16 23:24] aswanson-nr commented on #3490
That's the difficult part, still waiting on some internal folks to get back to me on whether or not this can just be configured on their end. If it can't, we would have a few options:
1. Solve it with our own normal redirects
    * I'm not sure that this is possible since the meta-redirects plugin seems to just work on relative urls
1. Submit a feature request to gatsby
1. Move back to Amplify or

[2021-08-17 07:34] urbiz-nr commented on #3478
Thanks for reporting this @twistypigeon - it will be fixed in #3510.

[2021-08-17 07:34] #3478 closed

[2021-08-17 08:26] urbiz-nr commented on #3483
Hello @jbotuck! Some of it has been addressed in #3508. Let me check what's going on with `class_transformer: kafka-clients-spans: enabled: true`.

[2021-08-17 08:36] urbiz-nr commented on #3469
Thanks for reporting this @jamesmacwhite. Let me check with the team so we can update the docs.

[2021-08-17 09:32] urbiz-nr commented on #3474
Closed via #3513.

[2021-08-17 09:32] #3474 closed

[2021-08-17 10:35] #3398 closed

[2021-08-17 13:46] rudouglas commented on #2139
@LekoArts we have been doing some testing on this and the issue does not actually seem to be resolved. You can see the behaviour via this link. We upgraded to `Gatsby v3.10.1` but the same behaviour persists both locally and in Gatsby Cloud:

https://docswebsitedevelop-rubumpgatsby.gtsb.io/docs/insights/new-relic-insights/using-new-relic-query-language/nrql-reference#functions

You will see the ha

[2021-08-17 14:56] jpvajda commented on #3490
@aswanson-nr

`1` --> let's see if we can do some research to see if that is possible.
`2` --> if it comes to that, I can reach out to Gastby
`3` --> 🤣  we won't do this 😉

[2021-08-17 16:43] jpvajda opened #3520 "Setup Gatsby Cloud for access via SSO"
`Note`: We found out in our SSO testing that Gatsby Cloud doesn't support the ability to overwrite access levels once SSO is setup. so we are not doing this until they put that feature in place, as all users are default to Editor via the SSO login.

In order to pick this back up, we'd need to request our OKTA tile for Gatsby cloud is reactivated by requesting that from `#ask-it`

### Acceptance Cr

[2021-08-17 17:06] #3487 closed

[2021-08-17 17:06] #3492 closed

[2021-08-17 18:59] #3483 closed

[2021-08-17 19:08] dbarnesbrownNR commented on #3476
Hi @djaffinito, can you provide me with defs for each attribute so that I can appropriately update the attribute list table? Thanks!

[2021-08-17 19:16] dbarnesbrownNR commented on #3479
Currently awaiting input from an FSO PM who can advise how best to make the update. To be continued...

[2021-08-17 19:23] dbarnesbrownNR commented on #3462
@paperclypse does this issue already have an associated PR or should I create one to add the link in? Thanks!

[2021-08-17 20:48] rhetoric101 commented on #3458
@adiosspandit, I just confirmed that the Apdex settings are not visible for apps that are not reporting. I am going to add a note at the top of the Apdex settings document explaining that (https://docs.newrelic.com/docs/apm/new-relic-apm/apdex/change-your-apdex-settings/).

[2021-08-17 21:08] rhetoric101 commented on #3458
This is resolved in PR #3529.

[2021-08-17 21:08] #3458 closed

[2021-08-17 21:23] jpvajda commented on #2602
Since this involves most of the team for an hour I put a 3pt estimate on it.

[2021-08-17 22:02] jpvajda commented on #3490
after discussions with the team bumping to a P1 and added some specific AC.

[2021-08-17 22:16] jpvajda commented on #3490
To add some context on the increase in priority:  the entry point from  https://docs.newrelic.co.jp/ was the primarily URL being used in sites like docs.newrelic.co.jp  to point users to to localized version of docs.newrelic.com. So now with this being broken, it's impacted a lot of users in Japan that either have bookmarked that URL or visit docs.newrelic.co.jp  and try to go our Docs.

[2021-08-18 06:04] qryuu opened #3533 "broken link: AWS Lambda monitoring integration"
### Tell us what you need

The link is broken.
 [Lambda@Edge](https://docs.newrelic.com/docs/integrations/amazon-integrations/aws-integrations-list/aws-lambda-monitoring-integration/mailto:Lambda@Edge)

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc inf

[2021-08-18 06:40] urbiz-nr commented on #3469
The ALIFE team has opened a ticket to fix this bug: ALIFE-840.

[2021-08-18 06:49] urbiz-nr commented on #3480
Closed via #3534.

[2021-08-18 06:49] #3480 closed

[2021-08-18 07:03] urbiz-nr commented on #3533
Thanks for catching this @qryuu!

[2021-08-18 14:19] urbiz-nr commented on #3471
Hi again @mnyk! The Kubernetes team says that `memoryLimitBytes` is most likely the issue here, since the queries we provide are correct. If you don't have a memory limit set in your container specs, this attribute will report with no data.

[2021-08-18 17:56] zstix opened #3538 "Update gatsby-plugin-mdx"
## Description
One of the biggest areas that we can see an improvement to our build-time performance is by updating the Gatsby MDX plugin to the latest version. This is due to [some performance issues](https://github.com/mdx-js/mdx/issues/1152) with MDX itself.

| Effort  |Impact |
|---|---|
| LOW  | HIGH  |

## Acceptance Criteria
* [x] Update `gatsby-plugin-mdx` to latest stable version (>= `2.1

[2021-08-18 17:58] zstix opened #3539 "[Gatsby] Explore taking advantage of Parallel Query Running"
## Docs

https://www.gatsbyjs.com/blog/whats-new-in-gatsby-4/

### References
The complete build audit can be found in the directory: `G:drive: Gatsby Cloud Build Audit`

## Description
Gatsby has an experimental feature called [Parallel Query Running](https://github.com/gatsbyjs/gatsby/discussions/32389) that has been proven to improve our build time. We should look into implementing this.

### H

[2021-08-18 18:46] aswanson-nr commented on #3490
`docs.newrelic.co.jp` now points directly to the english site. The current workaround is to then swap the language.
We are looking into options to handle the missing redirect.

[2021-08-18 18:46] #3490 closed

[2021-08-18 19:14] jpvajda opened #3542 "reroute requests to `https://docs.newrelic.co.jp/` to`https://docs.newrelic.com/jp/` with URL rewriting"
This is a follow up issue to determine how we route https://docs.newrelic.co.jp/  > https://docs.newrelic.com/jp/ as since switching to Gatsby Cloud this is no longer working. We implemented a fix in #3490 which was the first step to resolving this problem.

### Acceptance Criteria

- [x] Talk to Gatsby about what is limited on Gatsby cloud, that amplify and netlify both provide to solve this issu

[2021-08-18 19:15] jpvajda commented on #3490
@aswanson-nr Nice. I created a follow up issue for next steps here: https://github.com/newrelic/docs-website/issues/3542

[2021-08-18 19:28] #2602 closed

[2021-08-18 20:27] TrainnosaurusRex commented on #3335
+1 for this, the "related resources" are not as essential as the actual page contents.

[2021-08-18 20:41] barbnewrelic commented on #3335
+1 for this! For me, the "Related resources" is not particularly valuable, and it blocks the "On this page" content, which IS important. Two examples:
1-I was looking at a doc that I knew it had 8 specific agent-related H2s, but I could only see the first 2 headings, and I didn't immediately notice the vertical scrollbar because I'm using a tiny laptop. It looked like the doc had no agent-specific

[2021-08-18 23:48] jpvajda opened #3546 "Bump `GATSBY_EXPERIMENTAL_QUERY_CONCURRENCY` to 8"
Speed up run page queries by bumping up GATSBY_EXPERIMENTAL_QUERY_CONCURRENCY from 4 to 8

| Effort  |Impact |
|---|---|
| LOW  | LOW  |

<img width="1384" alt="Screen Shot 2021-08-18 at 5 52 09 PM" src="https://user-images.githubusercontent.com/1395158/129986628-82de8b62-d7ee-4faa-ab8e-bc22ce696531.png">

[2021-08-18 23:55] jpvajda opened #3547 "[Gatsby] Improve Sourcing Nodes with `lessBabel=true option`"
| Effort  |Impact |
|---|---|
| HIGH | LOW  |

<img width="689" alt="Screen Shot 2021-08-18 at 5 56 30 PM" src="https://user-images.githubusercontent.com/1395158/129986767-39753ed8-bb84-4dca-a523-b57054107ddf.png">

### Docs

https://www.gatsbyjs.com/plugins/gatsby-remark-copy-linked-files/
https://www.gatsbyjs.com/plugins/gatsby-plugin-mdx/

### References
The complete build audit can be found in

[2021-08-18 23:58] jpvajda opened #3548 "[Gatsby] Move HTML generation to custom GraphQL resolvers"
| Effort  |Impact |
|---|---|
| HIGH | LOW  |

### References
The complete build audit can be found in the directory: `G:drive: Gatsby Cloud Build Audit`

### Acceptance Criteria

- [ ] Move render html out of createPages OR we remove auto index pages altogether, which we have done. But there are other places we generate HTML for JSON output, so this may still be applicable.
- [ ] Move to custom G

[2021-08-19 00:08] jpvajda commented on #2615
closing as we discussed a lot of this in our build audit and it's captured as issues in our theme and docs projects under the build audit label

[2021-08-19 00:08] #2615 closed

[2021-08-19 06:39] LekoArts commented on #2139
Aye, thanks for the note. As a start I've added the e2e tests that were missing on my previous PR and they also show this. Will work on a fix for this :)

[2021-08-19 06:59] urbiz-nr commented on #3533
Fixed in #3549.

[2021-08-19 06:59] #3533 closed

[2021-08-19 07:19] urbiz-nr commented on #3481
I've created a jira (DOC-7244) so we can add it to our next sprint and give it the time it deserves.

[2021-08-19 09:10] mnyk commented on #3471
Hi, thanks for your answer. Will you put an instruction with it into your docs? I think it will help more people to use this alert.
mnyk.

[2021-08-19 10:34] rudouglas commented on #2534
Here is the **_!Internal_** [Blog Post](https://nerdlife.datanerd.us/new-relic/see-gatsby-shine-at-the-overlook-otel-06c3fd38-7752-4866-a4b1-1f5e2823a93b)

[2021-08-19 12:48] jpvajda commented on #2534
@rudouglas this is amazing, i'm going to share this with some folks to spread the word also  removed the direct link to nerdlife 😉

[2021-08-19 13:22] jpvajda commented on #2139
@LekoArts thanks for pointing that out! We'll look into the recommendations made by @KyleAMathews .

[2021-08-19 13:23] #2534 closed

[2021-08-19 14:08] LekoArts commented on #2139
I've published https://github.com/gatsbyjs/gatsby/pull/32850 under `gatsby@next` so that you can try it out in a PR build to see if it's fixed.

I don't think that you'll need to bump the dependency in your theme as it's only a `devDependency`. Depending on how you actually use your theme you can drop the `devDependencies` all together. You'll only need this if you want to run your theme standalon

[2021-08-19 14:38] rudouglas commented on #2139
Excellent thanks @LekoArts, i'll do some testing on this and keep you udpated 🥳

Currently building with some test changes on `gatsby@next` : #3555

[2021-08-19 15:02] rudouglas commented on #2139
This works nicely in `develop` locally...

[2021-08-19 15:16] jpvajda commented on #3542
Gatsby doesn't support this yet but has a Feature Request made on our behalf...

[2021-08-19 16:58] linbaker opened #3558 "Issue: Mention agent restart required for adding tags"
### Tell us what you need

For adding tags through agent config or after adding APM tags in the UI, you need to restart the agent in order to have the tags added to APM data. the tags will then only be added to new incoming data, and not apply retroactively to past data.

I tested the agent config and APM UI methods, and a restart is required for this section:

https://docs.newrelic.com/docs/new-r

[2021-08-19 17:16] roadlittledawn opened #3559 "[Nav] Apply same nav menu logic to file nodes as auto index pages"
## Description

When the local plugin `gatsby-source-nav` decides which nav YAML data to attach to a page to display the left nav menu, it only applies the new logic to auto index pages. The new logic accounts for a page link in multiple nav YAML files and tries to determine which menu to attach by comparing the page's root path (e.g., `/docs/integrations/...` with the top most path in the nav YAM

[2021-08-19 17:16] linbaker opened #3560 "Issue: Add example for `noticeError` for Node.js agent API"
### Tell us what you need

An example of how to implement `noticeError()`

* https://docs.newrelic.com/docs/agents/nodejs-agent/api-guides/nodejs-agent-api/#noticeError

Or it may be best to add an example in the agent code examples section here and just link the location in our docs:

https://github.com/newrelic/node-newrelic/tree/main/examples

Or add an example in the API docs on Github here:

[2021-08-19 17:24] roadlittledawn commented on #3502
Submitted support ticket with Gatsby 2 days ago re: PR Previews for forks. Waiting to hear back. Moved to blocked for now

[2021-08-19 17:48] dbarnesbrownNR commented on #3560
Hi @linbaker, do you have an example of implementation ready to go, or should I find a SME who can assist with this? Thanks!

[2021-08-19 17:49] dbarnesbrownNR commented on #3558
Hi @linbaker, would you mind going ahead and completing a PR for this change? I can review and push it through promptly if you're able to make a quick update to the MDX. Thanks!

[2021-08-19 21:29] dbarnesbrownNR opened #3566 "Issue: Write your first NRQL alerts condition"
This issue relates to [this already-merged PR](https://github.com/newrelic/docs-website/pull/3557). The PR updates the text to match the values reflected in Step 2 and Step 3 screenshots, but there is a secondary issue with these screenshots whcih is that they were taken in a demo environment where CPU usage was between 0.66% and 0.7% (as in < 1.0%, so very, very low), and real-world alerting on C

[2021-08-20 00:42] linbaker commented on #3558
Done! Thanks @dbarnesbrownNR !

Another ticket came through, this time using NerdGraph so I tested that too and it also requires a restart of the service so I made a PR to the NerdGraph docs while I was at it

* https://github.com/newrelic/docs-website/pull/3572
* https://github.com/newrelic/docs-website/pull/3571

[2021-08-20 06:43] LekoArts commented on #2139
I think for I'd propose to first just upgrade `gatsby` to `next` (which I don't see in the PR you linked) and then when it works trying out turning off the `redirectInBrowser` :)

[2021-08-20 07:23] urbiz-nr commented on #3471
We'll be adding a note in docs in #3573, @mnyk.

[2021-08-20 07:23] #3471 closed

[2021-08-20 08:00] urbiz-nr commented on #3558
Thanks @linbaker!

[2021-08-20 08:00] #3558 closed

[2021-08-20 14:11] zsistla commented on #1820
I still think this is a worthwhile endeavor that would help redirect
customer queries to appropriate teams.

On Fri, Aug 20, 2021 at 4:18 AM stale[bot] ***@***.***> wrote:

--
Amber Sistla
Software Engineer
New Relic

[2021-08-20 15:35] rudouglas commented on #2139
Ah yes i messed up the original PR, but this still doesn't seem to be working after upgrading to next, am I missing something @LekoArts

#3574
https://docswebsitedevelop-ruparameterfix.gtsb.io/docs/insights/new-relic-insights/using-new-relic-query-language/nrql-reference#functions

It is working on `develop` locally though, i'm gonna try it on a local prod build just to check

[2021-08-20 16:56] barbnewrelic commented on #3566
Whoever takes this one on, please be sure to use a test environment. I understand the need for robust data, but due to Security requirements for screenshots, we cannot use real New Relic or customer accounts. Our internal policy re: screenshots is in NerdLife. Thanks for understanding!

[2021-08-20 17:28] #3559 closed

[2021-08-20 17:35] rhetoric101 commented on #3566
We're going to track this work in doc-7250 for a future sprint.

[2021-08-20 17:47] Saltibarsciai opened #3582 "Issue: Install infrastructure on-host integrations"
When trying to install nginx integration I get error `Unable to locate package nri-nginx` when running command in Dockerfile
[code]
I found this instructions in the link below, but the main point was:
[code]
Not really sure how to procced from this point, I'm using nginx:alpine docker image, but changed to nginx:1.21.1 in order to try apk and apt-get commands, but neither seems to work.

I also fo

[2021-08-20 18:26] #3462 closed

[2021-08-20 18:41] zstix commented on #3520
We need to figure out how we provision access and how that relates to the opensource bot.

[2021-08-20 18:43] nr-kkenney commented on #3520
as part of this, we should consider having another user as an admin / owner of the account. this is not fully thought out on my part, but i know for demotron, we have a non-user @ newrelic.com as owner of accounts, but nobody can use sso login for a newrelic domain that is not for their user.

[2021-08-20 18:44] #3431 closed

[2021-08-20 19:19] jpvajda commented on #3431
This is now resolved 🪄

[2021-08-20 19:22] jpvajda commented on #2421
closing as there is no additional info showing this issue in action and i can't reproduce

[2021-08-20 19:22] #2421 closed

[2021-08-20 20:10] zstix opened #3586 "Create / Update Synthetic Monitor(s) For URL(s)"
## Description
When we migrated from AWS Amplify to Gatsby Cloud, one of the URLs into the site was not working (#3490). In order to prevent this occurring in the future, we should do the following:

* Audit and create a list f all the domains (and subdomains) that the Developer team owns
* For each domain, setup up (or modify an existing) synthetic monitor
* For each web property, set up an alert

[2021-08-20 20:32] zstix opened #3587 "Create Alert Conditions for Instrumentation Statistical Outliers"
## Description
There have been a few instances in which our instrumentation has stopped reporting (or started reporting incorrectly). When discussing it with the team, we realized that there might be some value in reporting if / when a deviation occurs in the metrics we expect. This would help us know about and respond to our instrumentation breaking. Some possible metrics to watch out for include

[2021-08-20 22:34] austin-schaefer opened #3589 "Fire an event for clicks to related resources"
### Is your feature request related to a problem? Please describe

I'm curious how much usage "related resources" get, and whether the feature is worth the cognitive overhead for users.

### Describe the solution you'd like

Fire an NR custom event for each "related resources" click that includes:

* Which page the user was on
* Which page the user was taken to

### Describe why this important to

[2021-08-20 22:43] austin-schaefer commented on #3589
Closing in favor of turning #3393 into an omnibus issue for all the event tracking on both navs

[2021-08-20 22:43] #3589 closed

[2021-08-20 22:50] austin-schaefer opened #3590 "`PageAction` events on the docs site have stopped firing"
### Description

Since August 4, 2021 no PageAction events on docs.newrelic.com are firing.

You can reproduce this with the following query in the team staging account:

```SELECT count(*) FROM PageAction where appName = 'docs.newrelic.com' since 28 days ago timeseries 2 hours```

### Expected behavior

We fire the necessary PageAction events to track our custom events, traffic, and other KPIs.

[2021-08-20 22:51] austin-schaefer commented on #3393
This would also help us assess the impact of #3335

[2021-08-20 23:02] dbarnesbrownNR opened #3591 "Issue: Configure control plane monitoring"
We've received the following customer feedback on the [control plane monitoring page](https://docs.newrelic.com/docs/integrations/kubernetes-integration/installation/configure-control-plane-monitoring/):

`I’m finding that the k8s integration fails to discover anything at all about the control-plane or the etcd since apparently it only works if you are using a k8s that runs everything as pods. I h

[2021-08-20 23:14] jpvajda commented on #3590
this seems to be related to the :gatsby: :cloud: migration, same data as the other issue

[2021-08-20 23:16] roadlittledawn commented on #3587
Thus far this appears to be related to the fact that since we migrated we weren't setting `GATSBY_NEWRELIC_ENV` on production builds, so the browser agent JS wasn't being added to the site. Alec and I just added those env variables in production gatsby sites for docs, developer, opensource

[2021-08-20 23:21] roadlittledawn commented on #3590
Thus far this appears to be related to the fact that since we migrated we weren't setting `GATSBY_NEWRELIC_ENV` on production builds, so the browser agent JS wasn't being added to the site. Alec and I just added those env variables in production gatsby sites for docs, developer, opensource

[2021-08-20 23:31] jpvajda opened #3593 "turn off sign up button test in split.io"
It was requested to turn this test off to reduce our monthly MTK usage with split

[2021-08-20 23:36] jpvajda commented on #3593
To resolve I:

1. set the default color to New Relic Bluer
2. killed the test
3. which defaults the button to the default color.

[2021-08-20 23:36] #3593 closed

[2021-08-20 23:41] #3590 closed

[2021-08-20 23:56] rhetoric101 commented on #1158
@GaPeppy, we are looking at some ways to improve the environment variables for those who don't use the CLI-helper. We're going to track our work in DOC-7242.

[2021-08-21 09:06] Saltibarsciai commented on #3582
Tried different approach:

TLDR; But got error `Could not find recipe with name nginx-open-source-integration.`
![Screenshot_16](https://user-images.githubusercontent.com/57238127/130316867-75b7e335-3aad-44db-b7cc-c0cadba6556b.png)

coppied raw https://raw.githubusercontent.com/newrelic/newrelic-cli/master/scripts/install.sh removed all sudo commands and but put it into install.sh file

in Dockerf

[2021-08-23 07:23] urbiz-nr commented on #3591
I've talked to @mangulonr, he'll have a look.

[2021-08-23 14:00] zuluecho9 commented on #3027
Fixed this https://github.com/newrelic/developer-website/pull/1529

[2021-08-23 14:00] #3027 closed

[2021-08-23 14:06] rudouglas opened #3600 "[Gatsby] Investigate our use of redirectInBrowser"
### Description
We currently use `redirectInBrowser: true` exclusively in the Docs site, however, Gatsby have let us know that this isn't necessary in the majority of cases. We may need this for certain legacy redirects between docs site pages, but we might not need it for all our redirects.

This ticket is to investigate whether we need to use this setting for all our redirects.

Here’s an exampl

[2021-08-23 14:10] LekoArts commented on #2139
I've tried some default starters from us and they have correct redirects + our tests are working. I then tried this new relic site and yeah, I also see locally that it doesn't work. At the moment I don't know exactly why.

I think as a next step it would be great to have a minimal reproduction of the problem as running the docs site takes long and a lot of stuff is going on.
Maybe the theme needs

[2021-08-23 17:04] jpvajda commented on #3415
Blocked while we confirm if forks can build on this site.

[2021-08-23 17:05] jpvajda commented on #3415
Confirmed forked prs work again... 🥳

[2021-08-23 17:36] aswanson-nr commented on #3586
We have seen a lot of false positives come out of our alerting strategy. In most of these cases we see spikes in errors or drops in response, but the site continues to function fine. Moving more checks to synthetics should allow us to be more confident that a critical alert is actually critical and hopefully allow us to move away from alerting causing false positives.
Some suggested synthetics pin

[2021-08-23 18:51] zuluecho9 commented on #3062
I'm looking into this, taking it off Bradley's hands.

[2021-08-23 19:01] #3415 closed

[2021-08-24 06:47] urbiz-nr commented on #3385
Closed via #3615.

[2021-08-24 06:47] #3385 closed

[2021-08-24 11:32] rudouglas commented on #2139
Thanks for looking at that @LekoArts appreciate it, we're going to deprioritise this work for the next few weeks to focus on other things, but when we come back to it we'll keep you updated 🥳

[2021-08-24 16:44] #3502 closed

[2021-08-24 17:04] nr-kkenney opened #3620 "Translation PR"

[2021-08-24 18:39] jpvajda commented on #3620
Error:

[code]

[2021-08-24 18:49] jpvajda commented on #3620
@roadlittledawn said he may know what is occuring here and is going to take a look see

[2021-08-24 19:20] zuluecho9 opened #3629 "Create a default `set nav file` feature for mdx files when a page nav fails to load"
Talked to @roadlittledawn about this a bit, but basically it'd be nice to be able to set the preferred nav file (or maybe even nav file section?) to use for an mdx file, in the off chance the 'auto-load of nav file for sidebar or category view' isn't working correctly.

Instances when this may be a problem:
• When a doc URL is used in two nav files and it's first URL segment (e.g., docs/*integrati

[2021-08-24 21:07] linbaker commented on #3560
Hello @dbarnesbrownNR - I checked in with the Node team and filed a Github issue for the Node agent directly to get an example added: https://github.com/newrelic/node-newrelic/issues/850

[2021-08-24 21:16] zuluecho9 commented on #3062
Solved in https://github.com/newrelic/docs-website/pull/3632.

[2021-08-24 21:16] #3062 closed

[2021-08-25 00:30] rhetoric101 commented on #3566
It turns out we had some SME assistance with this and were able to expedite this. This work is being done in PR #3588.

[2021-08-25 00:31] #3566 closed

[2021-08-25 05:59] urbiz-nr commented on #3560
Thanks @linbaker!

[2021-08-25 06:06] dlesniak-NR opened #3638 "Issue: Duplicate aggregator functions"
### Tell us what you need

I've run into the issue where having multiple aggregator functions of the same type in a NRQL query will cause an issue in most chart types, unless you assign an alias using the `as` clause. So, for example if you have, `SELECT median(a_metric), median(another_metric)`,  the UI will only display one of the two medians, as it only recognizes `median()`. However, `SELECT m

[2021-08-25 08:28] qryuu opened #3639 "request: JVMs page (Java): View app server metrics from JMX"
### Tell us what you need

Tabs available by app server
I want you to add **JBoss 7EAP** information to the list.

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/agents/java-agent

[2021-08-25 08:29] alvarocabanas commented on #3582
Hello @Saltibarsciai, in order to install the nri-nginx or any other integration, you also need to have installed the agent. There are specific instructions for each linux distro in https://docs.newrelic.com/docs/infrastructure/install-infrastructure-agent/get-started/install-infrastructure-agent/#install.
If you follow the one for Debian, you will see that in order to install the agent, you will

[2021-08-25 11:02] rodrigo-corgozinho opened #3640 "Rest API calls to alerts -- 404"
### Tell us what you need

[[This page]](https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/rest-api-alerts/rest-api-calls-alerts/) is returning a 404 error

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/rest-api-alerts/rest-api-calls-alerts/
* **OS**: Mac OS 10.15.7
* **Browser**: Chrome 92.0

[2021-08-25 12:19] urbiz-nr commented on #3640
Thanks for reporting the broken link, @rodrigo-corgozinho. It will be fixed in #3641.

[2021-08-25 13:29] zuluecho9 commented on #3582
Going to close this one, hopefully @Saltibarsciai got what they needed.

[2021-08-25 14:27] zuluecho9 commented on #3638
@dlesniak-NR making sure I understanding this: you're saying that it's merely by separating them a bit that it works properly? So it's not so much the 'as' clause that is required as the fact that they're being separated? If that's right, can you think of other ways to separate them? And would you consider this a NRQL bug that should be fixed?

[2021-08-25 15:43] roadlittledawn commented on #3620
per thread with Tech Docs folks in #documentation, Zach removed the `jp` flag yesterday because they recently split that doc up into multiple docs and left "legacy" bits in that one. since it will no longer be translated, i'm going to remove the file via that PR and see if we get a build

[2021-08-25 15:53] roadlittledawn commented on #3620
got another error right away. i assume something with deserializing, but will have to dig later.

[code]

[2021-08-25 17:59] GaPeppy opened #3648 "Issue: Introduction to the Event API"
Docs say prefer **License-Key** over Insights-Key (recent change).  However testing with my personal account is not working with License-Key.  Did the doc update go too early?

curl -v -X POST -H "Content-Type: application/json" -H "Api-Key: LICENSE_KEY" -H "Content-Encoding: json" https://insights-collector.newrelic.com/v1/accounts/1977586/events --data-binary '[{"eventType":"Purchase","account":

[2021-08-25 18:01] #3648 closed, assigned to zuluecho9

[2021-08-25 21:11] jpvajda opened #3658 "[Repository] Fork PR Process for PR reviews"
## Summary
To ensure the security of our repositories and related systems we need to take extra steps when handling pull requests submitted from a fork. This is because anyone can submit a pull request and we want to make sure that the code is vetted before allowing our workflows to run it.

### How?
Github helps to prevent this problem by not running workflows for forked pull requests that come i

[2021-08-26 00:13] sarcasticdward opened #3660 "DO NOTE MERGE: BRAD : Intro is badly written and needs a rewrite"
A customer complained that this intro is badly written and needs to be updated. Feel free to ping me on slack if you need more info.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/query-your-data/explore-query-data/browse-data/introduction-data-explorer/
* **OS**: Mac OS 10.15
* **Browser**: Firefox 91.0
* **Device**: Unknown

[2021-08-26 05:36] #3660 closed, assigned to nobody

[2021-08-26 20:08] jerelmiller opened #3673 "A link is added to the right rail for each page heading (only `H2`s - no sub-bullets in nav)"

[2021-08-26 20:08] #3673 closed, assigned to nobody

[2021-08-26 21:29] nr-kkenney opened #3677 "translation pr follow up - specific issues / bugs"
## Summary

This ticket is kind of a follow up to #3620. As part of that work, I had to manually fix up a couple of files which had 'invalid' content, where invalid means that the site wouldn't build based on the file we created. This implies that we have some deserialization bug(s) since we are generating content that should be valid (and builds), but actually doesn't.

### Example 1 - [src/i18n/

[2021-08-26 22:52] roadlittledawn opened #3679 "[Swiftype] Update related resources query for quick starts"
## Summary

Update the swiftype query in `src/scripts/get-related-resources.js` to also search the `quick_start_name` field and weight it to 8 (we can adjust once quick start pages are indexed and we see results).

*Example*
[code]

## Acceptance criteria
- [ ] Query runs successfully / normally _without_ that field present in the index
- [ ] Query is updated to include searching / weighting the n

[2021-08-27 16:03] #3679 closed, assigned to nobody

[2021-08-29 09:51] lwanyintaung opened #3700 "Lya"
### Tell us what you need

* If you've found something inaccurate, what is it?
* If something is hard to read, confusing, or missing information, let us know.
* If you're having trouble completing a task or are uncertain what to do next,
  tell us what you're trying to do so we can provide more useful information.

### Anything else you'd like to share?

Add other context like screenshots, links t

[2021-08-29 14:12] thedownwardspiral opened #3701 "Issue: Set up network flow data monitoring"
### Tell us what you need

One of the flags is incorrect and causes an error when starting the container.  "-flow_only=true results" in the error "flag provided but not defined: -flow_only".  This flag isn't listed at kentik/ktranslate.

Also, since both this and the SNMP containers are using "--net=host", you get an error "Error running meta server: listen tcp 0.0.0.0:8083: bind: address already

[2021-08-30 04:03] urbiz-nr commented on #3700
Hello @lwanyintaung - thanks for reaching out. Would you mind explaining what issues are you having with our doc so we can address them? Thank you!

[2021-08-30 06:09] qryuu opened #3705 "Issue: Write synthetic API tests"
### Tell us what you need

[http-request](https://github.com/request/request)

As far as I can tell from the documentation, New Relic Synthetics' API Test Monitor uses the
The http-request module is used.
https://docs.newrelic.com/docs/synthetics/synthetic-monitoring/scripting-monitors/write-synthetic-api-tests/

However, the Github page for the http-request module states the following
https://git

[2021-08-30 07:31] urbiz-nr commented on #3705
Thanks @qryuu - let me get in touch with the team to clear this issue!

[2021-08-30 11:06] liamhurrell opened #3706 "404 missing content / bad link for 'Mobile Apps' from the 'Instrument Everything' page"
### Tell us what you need

* Bad link for 'Mobile Apps' from this page: https://docs.newrelic.com/docs/full-stack-observability/instrument-everything/
* This is the missing resource: https://docs.newrelic.com/docs/mobile/table-of-contents/

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, appl

[2021-08-30 12:30] x8a commented on #3701
Het, @thedownwardspiral! Thanks for reaching out! I'll pass on these questions and get back to you.

[2021-08-30 13:20] urbiz-nr commented on #3706
Thanks for reporting this, @liamhurrell - we'll look into it.

[2021-08-30 14:36] nr-jbiggley commented on #3701
Thanks for the excellent feedback, @thedownwardspiral. I've provided some insights and questions below to help solve these issues.

**1) -flow_only=true**
Can you paste your docker run command? Make sure your remove your API key and account ID before doing so! -flow_only is a supported flag in the YAML and _should_ be supported flag when launching the container. However, there is a mismatch. I'll

[2021-08-30 15:14] x8a commented on #3701
@nr-jbiggley already fixed some of the issues you pointed out in #3709.

[2021-08-30 15:27] zuluecho9 commented on #3638
Created PR to attempt to fix this: https://github.com/newrelic/docs-website/pull/3710

[2021-08-30 16:24] LizBaker opened #3712 "Fix related resources action"
The fetch swiftype results action (related resources script) hasn't run successfully in about a month https://github.com/newrelic/docs-website/actions/workflows/fetch-swiftype-content.yml

AC
- [x] research cause of issue
- [x] create a fix

[2021-08-30 16:38] zuluecho9 opened #3713 "Request for ability to add h3s and collapsers to doc's right-nav"
### Is your feature request related to a problem? Please describe

Currently, our h2s are automatically added to the right-navigation. We used to have the ability to, on one-off basis, add specific h3s or h4s to the right nav. This often comes up for longer docs where we have to nest some h3s or h4s under a broader h2 category but would very much like to have those exposed on right nav for custome

[2021-08-30 22:02] zstix opened #3721 "[I/O] 🌐 Standalone Site & Search"

[2021-08-30 22:34] jpvajda commented on #3520
I followed up with Gatsby on next steps as I haven't heard back on this request.

[2021-08-31 09:13] newtob-DB opened #3724 "Issue: Manage data retention"
Hi,
The Metric Data Rollup language could be improved:
https://docs.newrelic.com/docs/telemetry-data-platform/manage-data/manage-data-retention/#metric-data-rollup

See this quote from the page:
"Then aggregated to 1-hour roll-ups for 90 days"

Oisin McColgan @newrelic suggests that it's not just 90 days their rolled up to 1-hour, he suggests this 1 hour roll up lasts for as long as the metrics ar

[2021-08-31 09:24] urbiz-nr commented on #3724
Thanks for getting in touch, @newtob-DB! I'm sharing this with the team so we can work on improving and clarifying the docs.

[2021-08-31 12:50] ktst79 opened #3728 "Python 3.9 is already supported, but not written in the compatibility list."
### Tell us what you need

Python 3.9 is already supported from the agent (v5.20.1.150), but it is not written in the compatibility list.
https://docs.newrelic.com/jp/docs/release-notes/agent-release-notes/python-release-notes/python-agent-5201150/

https://docs.newrelic.com/docs/agents/python-agent/getting-started/compatibility-requirements-python-agent/
https://docs.newrelic.com/jp/docs/agents/p

[2021-08-31 14:51] jpvajda commented on #3520
Gatsby confirmed this isn't ready yet, so they'll keep us posted on the progress of the feature.

[2021-08-31 16:30] rudouglas commented on #3712
The related resources workflow has been failing for the last ~month, seems like this was due to an incorrect redirect url that had no leading slash ([this one](https://github.com/newrelic/docs-website/pull/3726/files). When `normalizeUrl` is called on it [here](https://github.com/newrelic/docs-website/blob/645e2c2ed3ad390fa28714786edb376062ad2bf9/scripts/actions/get-related-resources.js#L118) it r

[2021-08-31 17:16] #3638 closed

[2021-08-31 17:44] carrieschmid opened #3730 "Issue: How alert condition violations are closed"
### Tell us what you need

https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/alert-violations/how-alert-condition-violations-are-closed/#close-automatic

My question is about this passage:

For example: If the violating behavior is "Apdex score below 0.80 at least once in 5 minutes," then the violation will automatically close when the Apdex score is equal to or higher th

[2021-08-31 20:13] jpvajda opened #3731 "Instrument the new Tessen library version that manages the Amplitude session on the Docs site"
Related [Trello Issue](https://trello.com/c/EOal4dV6/52-docsnewreliccom-instrument-the-new-tessen-library-version-that-manages-the-amplitude-session-on-the-docs-pages)

# Solution

1. We need to upgrade to the latest Tessen library and make sure the the basic page navigation events are being fired and that they get to Amplitude

2. We need to send a new Page Loaded event for every page user visits

[2021-08-31 22:40] jpvajda opened #3734 "Research Workflow status monitoring for Github workflows failure"
We seem to have failures in our github workflows that suprise us from time to time. Is there a way to setup monitoring an alerting of these workflows so we know when they are failing faster then someone reporting a hero issue, or us discover it by seeing a broken site feature?

### Considerations

- [ ] Could we use [workflow status badges ](https://docs.github.com/en/actions/monitoring-and-troubl

[2021-09-01 07:57] x8a commented on #3730
Hi, @carrieschmid! Thank you so much for your question 🙌🏻.

In the case of the following violation: `Apdex score below 0.80 at least once in 5 minutes`, it means that a violation will be open when this happens. Therefore, it'll close when the opposite happens, that is,` when the Apdex score is equal to or higher than .80 for 5 consecutive minutes`. Let me know whether this is still not clear.

Abo

[2021-09-01 16:25] zstix opened #3745 "[Docs] Simplify I/A, home page"
### Epic Milestones

Simplify site information architecture and redesign home page

### Epic Plan

https://docs.google.com/document/d/1o34XDj1-VMyVFjPOGVNDZfPhQlAum4cRkW7HWvAMk5E/edit#

## Captain

@roadlittledawn

[2021-09-01 17:20] zstix opened #3746 "[Docs] 🤖 Machine Translation"
### Epic Milestones

Setup machine translation for the Docs site

### Epic Plan

https://docs.google.com/document/d/17uQThi9jiXpsrbuslBo1LbW87seSR0L72h8i_LYpn7c/edit#

## Captain

@rudouglas

[2021-09-01 17:21] carrieschmid commented on #3730
Thanks for your message. I understand how the recovery period works. Can you explain the difference between these two configurations?
`for at least`
`at least once in`

Also, I understand this configuration impacts how violations close. But can you explain why choosing this configuration would **not** be part of setting a threshold? It's a choice made during set-up right?

[2021-09-01 17:28] zstix opened #3747 "[I/O] 🧪 Feature Research & Experimentation"

[2021-09-01 17:30] #3747 closed

[2021-09-01 17:57] zstix opened #3748 "[Docs] 🔐 Authentication"
## Description
This is a placeholder issue for roadmap planning.

[2021-09-01 23:55] rhetoric101 opened #3756 "SIGBUS error"
### Description

I periodically encounter SIGBUS errors which terminate the local site.

### Steps to reproduce

1. Pull down my branch rhs-hero-spankind-fix
2. Build the site locally.
3. Go to `localhost:8000`.
4. Click on **Our data dictionary**.

This has been a pretty reliable way to generate a SIGBUS error in both Chrome and Firefox.

### Expected behavior

I expected the Data Dictionary to l

[2021-09-02 06:27] urbiz-nr commented on #3705
Hi again @qryuu! The team is aware of this little inconsistency and plans to replace the module sometime this fall. Since the module works we don't want to mention anything because we don't want to prevent people from using it in the meantime. We'll update the docs with the new info once it's done. Hope this helps!

[2021-09-02 06:27] #3705 closed

[2021-09-02 08:52] urbiz-nr commented on #1158
Docs are being updated in #3758.

[2021-09-02 11:39] x8a commented on #3730
Sure!
- `for at least`: Consistently during a period of time.
- `at least once in`: Once in a set period of time.

You need to consider that the violations will automatically close when the opposite condition to the one you configured for the violation to be open comes true.

The thresholds are directly related to the violations, but they are treated independently. That is, violations close automa

[2021-09-02 13:13] #3712 closed

[2021-09-02 14:39] throck opened #3764 "Example images are missing from some docs pages"
Images on this page that include working examples are incorrectly linked and do not render, for [example](https://docs.newrelic.com/docs/integrations/prometheus-integrations/view-query-data/translate-promql-queries-nrql/#prom-ql-example):

![image](https://user-images.githubusercontent.com/1069674/131863332-2ba4e352-5be8-4bc3-b33c-eba1af1afcac.png)

I see them in [docs-website](https://github.com/

[2021-09-02 15:05] carrieschmid commented on #3730
Thanks for the explanation on the difference between the thresholds.  Please consider putting this in the docs, as it would be helpful for customers and those of us doing support.

[2021-09-02 17:55] paperclypse commented on #3764
Thanks for letting us know, @throck! I'll look into getting these fixed.

[2021-09-02 23:59] rhetoric101 commented on #3756
SIGBUS happened again today on this branch doing release notes for Go: https://github.com/newrelic/docs-website/pull/3782/files

![image](https://user-images.githubusercontent.com/18040274/131930615-7114bc2f-ac3b-4bf3-a639-caf40a4d93be.png)

[2021-09-03 02:09] bradleycamacho commented on #3071
Removing the stale label as it'd still be great to do this eventually when DevEn isn't being pulled in every direction possible!

[2021-09-03 13:07] urbiz-nr commented on #3706
Closed #3706 via #3784.

[2021-09-03 13:07] #3706 closed

[2021-09-03 15:01] mmfred commented on #3269
How do we get work like this prioritized?

[2021-09-03 16:20] jpvajda commented on #494
@x8a here is a ticket that may interest you. 👋

[2021-09-03 16:56] paperclypse commented on #3764
I tried to fix this in this PR (https://github.com/newrelic/docs-website/pull/3777), but there's nothing obviously, technically wrong with the syntax for these images. There's some deeper, underlying technical issue that's worth investigating. If it's happening here, it's probably happening elsewhere on the site.

[2021-09-03 17:05] jpvajda commented on #3764
After chatting about this issue the team wants to take a look at what may be occurring here and if there is a better to programmatically prevent this from occurring. It's not clear how many pages could be impacted but we agreed it's not a P1 at the moment.

[2021-09-03 20:24] jpvajda opened #3793 "On this page titles in search results are clickable and link to the docs page header"
![Screen Shot 2021-09-03 at 2 20 16 PM](https://user-images.githubusercontent.com/1395158/132061904-fb6f8023-61f7-4960-9164-b96dc4748c60.png)

[2021-09-06 07:27] urbiz-nr commented on #3700
Closing this, will reopen if we receive feedback.

[2021-09-06 07:27] #3700 closed

[2021-09-06 12:35] x8a commented on #3701
Hi, @thedownwardspiral! I'll close this issue later this week if you don't have any more questions. Fell free to reopen this one at any time or open a new one with new questions. Thank you for the feedback!

[2021-09-07 08:19] qryuu opened #3803 "Issue: Set thresholds for an alert condition"
### Tell us what you need

The minimum time interval is listed, but
Is there any information about the Max time interval that can be set?

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc information (don't delete this section)

* https://docs.newrelic.co

[2021-09-07 08:43] x8a commented on #3803
Hi, @qryuu! I'll ask about this and get back to you. Thanks for reaching out!

[2021-09-07 08:52] #3730 closed

[2021-09-07 18:57] iAMNABHON opened #3810 "This is an enhancement request!"
### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

### Describe the solution you'd like

A clear and concise description of what you want to happen. What is the expected outcome?

### Describe why this important to you

Why should we work on this? What use cases does it support?

### Additional context

Add any other context

[2021-09-07 22:57] #3377 closed

[2021-09-08 06:28] urbiz-nr commented on #3591
Integrations team is on it. Removing this from board.

[2021-09-08 09:28] #3701 closed

[2021-09-08 09:28] x8a commented on #3803
The maximum time interval is 120 minutes.

Please let me know whether you have any other questions.

[2021-09-08 15:06] brianbegy opened #3822 "Issue: Collect custom metrics (APM, browser, mobile)"
https://docs.newrelic.com/docs/agents/manage-apm-agents/agent-data/collect-custom-metrics/

Says "Always start your metrics with Custom"

But maybe that doesn't apply in New Relic agents starting with 6?

https://docs.newrelic.com/docs/agents/nodejs-agent/extend-your-instrumentation/nodejs-custom-metrics/#metric_names

Which set of NewRelic docs is right?

[2021-09-08 15:52] roadlittledawn opened #3823 "Add NR subdomain for `docs-website-develop`"
## Summary

Add New Relic subdomain to DNS for `docs-website-develop` gatsby cloud site. This helps us test feature work that requires being on a NR subdomain.

### Security requirements
* does it need to be password protected / inaccessible to anonymous users?

Previously, we used `docs-dev.newrelic.com`.

## Acceptance criteria
- [ ] Address any security related concerns
- [ ] The Gatsby Cloud s

[2021-09-08 16:42] barbnewrelic commented on #3822
@brianbegy  Thanks for reporting this! You're right, it is confusing! This will take a bit of digging to sort out, so I have created a Jira to resolve your question and update the docs as applicable.

[2021-09-08 17:47] #2743 closed

[2021-09-08 18:47] roadlittledawn commented on #2340
This is actually done when we re-worked nav a couple months ago.

[2021-09-08 18:47] #2340 closed

[2021-09-08 19:19] roadlittledawn commented on #2535
To tack on to this. We _could_ add a filter in the global search for records with `document_type` of `troubleshooting`. We used to have a filter for types of docs in the old search (and it was an often requested feature for Support peoples like you mentioned)

[2021-09-08 19:23] roadlittledawn commented on #2763
@bradleycamacho Kris recently added a script to run a MDX parser on files in a given path so you can get a bit more error detail AND you don't have to run a build.

i believe it's `yarn verify-mdx`

[2021-09-08 21:18] jmiraNR opened #3830 "Partnership page is empty"
### Description

The [Japanese Partnerships page](https://docs.newrelic.com/jp/docs/new-relic-partnerships/) is empty.

### Steps to reproduce

1. Go to https://docs.newrelic.com/jp/docs/new-relic-partnerships/
2. See error

### Expected behavior

Page shows same content as English.

### Screenshots

<img width="1189" alt="Screen Shot 2021-09-08 at 3 16 52 PM" src="https://user-images.githubuserco

[2021-09-08 21:53] bradleycamacho commented on #2763
@roadlittledawn This is great! Thanks for letting me know!

[2021-09-08 22:40] bradleycamacho commented on #2763
@roadlittledawn I've been toying around with the new command and it works great. I think this actually solves 99% of our issues, so I'm going to close this issue for now. Thanks!

[2021-09-08 22:40] #2763 closed

[2021-09-08 23:11] rhetoric101 commented on #3810
@iAMNABHON, since this GitHub issue doesn't have any content, I'm going to close it, but feel free to create a new one if you find any issues you want us to fix.

[2021-09-08 23:11] #3810 closed

[2021-09-09 01:26] barbnewrelic commented on #3822
DOC7336

[2021-09-09 09:52] greenszpila opened #3837 "Issue: Diagnostics CLI (nrdiag)"
### Tell us what you need

Would be helpful to have a section that covers Diagnostic CLI/NRDiag for Windows.

### Anything else you'd like to share?

Here are the steps that have worked for me:

1. Edit `C:\Program Files\New Relic\newrelic-infra\newrelic-infra.yaml`
2. Add a log file path and enable verbosity by adding below two lines to the `newrelic-infra.yaml`

[code]

 3.  [Download the latest

[2021-09-09 10:07] doctornkz opened #3838 "Helm documentation link gives 404"
### Tell us what you need
Link gives 404 status code.

Page : https://docs.newrelic.com/docs/integrations/kubernetes-integration/installation/kubernetes-integration-install-configure/#install-amazon-eks

Link : https://docs.newrelic.com/docs.newrelic.com/docs/integrations/kubernetes-integration/installation/install-kubernetes-integration-using-helm/

Link context :

[code]

### Doc information (do

[2021-09-09 11:19] x8a commented on #3838
Thanks for spotting this, @doctornkz! I fixed the broken link in #3840.

[2021-09-09 11:19] #3838 closed

[2021-09-09 12:09] x8a commented on #3837
@greenszpila will create a PR to add these steps. Thanks a lot!

[2021-09-09 13:43] urbiz-nr commented on #1599
Closed #1599 via #3834 and #3835. See DOC-7243 for more details.

[2021-09-09 13:43] #1599 closed

[2021-09-09 15:18] urbiz-nr opened #3845 "Remove watermarks code"
Following #1599 and DOC-7243, we (as in the Docs team) are no longer using watermarks on docs. We can now proceed to remove the related code from our site.

[2021-09-09 19:52] jpvajda opened #3848 "Implement One Trust on Docs Site"
Relates to: https://github.com/newrelic/gatsby-theme-newrelic/issues/347

One Trust is a product that is currently going to be used by New Relic to manage cookie acceptance and GDPR compliance,  we'll need to turn this on for the Docs Site once the related issue is resolved and after the I/O Launch.

### References

https://www.onetrust.com/products/cookie-consent/

### Acceptance Criteria

- [x]

[2021-09-09 22:07] #3640 closed

[2021-09-10 04:55] shinji-newrelic opened #3852 "Issue: Authentication domain settings: SAML SSO, SCIM, and more"
Link to [Auth0](https://developers.auth0.com/newrelic) is not available.
The developer plan is might be closed but free plan is now available.

[2021-09-10 05:04] nr-kkenney opened #3853 "[Translation] Have translation workflow alert stakeholders when translation PR is created"
## Summary
Currently, when the translation workflow creates a PR as the last step of the translation process, the content team aren't alerted and aware that they have a PR they need to review. To make it clearer, the workflow should alert them when the PR is created so they can review it.

The action we currently use to generate PRs ([create-pull-request](https://github.com/peter-evans/create-pull

[2021-09-10 05:09] nr-kkenney opened #3854 "Add failure alerting to workflows"
## Summary
Currently, whenever a workflow fails, only the most recent contributor to the workflow is alerted, and its through email. In the past, we have left workflows broken for extended periods of time because we were unaware they were failing. To remedy this,
each important workflow should have a step that alerts us when a failure occurs, so we know there is a problem to address.

The step wil

[2021-09-10 06:33] urbiz-nr commented on #1158
Closed #1158 via #3758.

[2021-09-10 06:33] #1158 closed

[2021-09-10 14:17] zoezhou1113 opened #3863 "[DOCS] Referrer tracking in Tessen Events"
Relates to https://github.com/newrelic/docs-website/issues/2841 and https://github.com/newrelic/docs-website/issues/1816

### Description

The referrer tracking (context.page.referrer) in Tessen is only working for the signup button, but it’s not working for other links directing traffic to the other NR domains.

It's also not working for internal links on docs.newrelic.com.

### Steps to reproduc

[2021-09-10 15:15] jpvajda commented on #3863
This seems to be the 3rd case of this occurring...

[2021-09-10 15:36] rudouglas opened #3865 "[Docs] The mdx workflow passes but the Gatsby build fails"
### Description

We had a hero request earlier this week were a Gatsby Build was failing due to mdx formatting issues, but the `verify-mdx` workflow was passing without an issue. The error in the build logs was also misleading, as it referred to the line after the one that the issue was on which the contributor had not touched, so it was difficult to track down.

Putting up a Draft PR to show an e

[2021-09-10 15:55] jpvajda commented on #3865
What is the urgency on this? Is there a slack convo I can look at it set priority?

[2021-09-10 15:55] jpvajda commented on #3865
@roadlittledawn might know...

[2021-09-10 16:11] rudouglas commented on #3865
I'm currently editing the Description A/C @jpvajda you're too quick 😂  i'd say p3 though

[2021-09-10 16:19] LizBaker commented on #3863
we set 'no-opener no-referrer' on all links as a best practice for security purposes. this isn't really an issue if the thing we're linking to is internal which almost all of these links are, but this is why it keeps coming up, we set that by default. modern browsers are good with just no-opener which gives us the security we need, but some legacy browsers only listen to no-referrer. however.. as

[2021-09-10 16:41] paperclypse commented on #3852
@shinji-newrelic thanks for filing this issue. Do you mind expanding a little more on what you mean?

Are you saying that we should be removing the Auth0 link from this doc? https://docs.newrelic.com/docs/accounts/accounts-billing/new-relic-one-user-management/authentication-domains-saml-sso-scim-more/

[2021-09-10 17:07] roadlittledawn commented on #3863
also FWIW re: internal links. we do manually set a `referrer` path in `properties. referrer` when a user arrives on a docs page from a previous doc page if you wanted to use that temporarily in any queries.

[2021-09-10 18:32] bradleycamacho commented on #1023
Closed in Doc-7105

[2021-09-10 18:32] #1023 closed

[2021-09-10 18:38] shhudspethnr1 opened #3869 "Issue: Add users to SAML accounts (original user model)"
### Tell us what you need

* If you've found something inaccurate, what is it?
* If something is hard to read, confusing, or missing information, let us know.
* If you're having trouble completing a task or are uncertain what to do next,
  tell us what you're trying to do so we can provide more useful information.

There is a dead link under Requirements.
Clicking Auth0 goes to the site below and

[2021-09-10 20:27] jpvajda commented on #3845
@x8a would you want to try to take this one?

[2021-09-10 20:29] jpvajda commented on #3830
are here a corresponding files for this page in english that would allow that list of links to actually populate?  https://docs.newrelic.com/docs/new-relic-partnerships/

I'd assume that we'd rendered any pages in that list of links if they were translated, but @roadlittledawn may have same thoughts here.

[2021-09-10 20:39] roadlittledawn commented on #3830
at quick glance, looks like a bug to me. we should display same links on the page with japanese titles if we have them. if we don't, it should just display english.

[2021-09-10 20:47] jmiraNR commented on #3830
I second @roadlittledawn's comment.

[2021-09-10 21:16] paperclypse commented on #3852
@zuluecho9 Do you have any thoughts on this one?

[2021-09-10 21:44] paperclypse commented on #3869
This is related to (and is a duplicate issue) #3852.

@shhudspethnr1 Thanks for letting us know. We're looking into it.

[2021-09-10 22:51] jpvajda commented on #3830
👍

[2021-09-11 00:27] mmfred opened #3873 "Add delete entities to Remove applications from New Relic doc"
We got this feedback in the documentation channel:

Currently, we have some issues with deleted apps still showing up in the UI, and the option that works most consistently right now is one that is not listed in our main Remove applications from New Relic (https://docs.newrelic.com/docs/apm/new-relic-apm/maintenance/remove-applications-new-relic/) doc. The option that works most consistently right

[2021-09-11 02:32] kyranb opened #3874 "Throttling the ingestion of kubernetes events"
### Tell us what you need

I've having trouble determining how to throttle the `metrics` being sent to New Relic.

I'm running a cluster where 75% of the data ingested is coming from the kubernetes metrics integration.

I don't need second by second visibility. Am I missing something or is there a way to throttle how often data is sent to new relic?

### Anything else you'd like to share?

![Scree

[2021-09-11 20:30] #316 closed

[2021-09-12 22:50] shinji-newrelic commented on #3852
@paperclypse
Since I don't know what is shown previously, it is difficult to say how to fix it.

However I think you can user either url described in below;

- https://auth0.com/
This is top page of auth0
- https://marketplace.auth0.com/integrations/new-relic-sso
This is new relic integration page but this integration doesn't work with new account model.

[2021-09-13 05:28] qryuu opened #3875 "Request: NRQL syntax, clauses, and functions"
### Tell us what you need

There are no in-page links for the latest( ) function.
The other functions have links, so please set a link for latest( ) as well.

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc information (don't delete this section)

* http

[2021-09-13 06:58] urbiz-nr commented on #3875
Thanks for catching this, @qryuu! It will be fixed in #3876.

[2021-09-13 06:58] #3875 closed

[2021-09-13 08:28] qryuu opened #3878 "Question: Import, export, add, and share dashboards and charts"
### Tell us what you need

Is the URL retrieved by `Get chart link` a generic one that includes parameters such as time picker?
Or will a random URL be generated for each link retrieved, and the same parameter will be a different URL?

Can you change the time setting of the Chart link and use it around?
Or do I just share what I'm seeing?
I would like to see a clear description of the Chart link s

[2021-09-13 08:32] roobre commented on #3874
Hi @kyranb!
Thaks for raising your concerns over this. If I'm not mistaken, the usage for `Metrics` here should correspond to the prometheus metrics captured by `nri-prometheus` in you kubernetes cluster. This can happen if you have many services exporting large amounts of Prometheus metrics in your cluster, as those will be automatically found by `nri-prometheus` and scraped for you.

There are s

[2021-09-13 10:22] kyranb commented on #3874
Thanks so much :)

I came across this too which may help other folks that stumble on this issue too:

https://discuss.newrelic.com/t/reduce-the-amount-of-ingested-data-by-kubernetes-integration/127217/6

[2021-09-13 12:19] urbiz-nr commented on #3878
Hi @qryuu, thanks for getting in touch!

The URL corresponds to an embedded view of the chart, you just share what you're seeing. Unfortunately, we can't change the time setting of the chart link and use it around.

I'm reaching out to the Engineering teams to learn more.

Hope this helps.

[2021-09-13 13:12] zuluecho9 commented on #3852
@paperclypse I'll handle this one! I

[2021-09-13 13:25] rudouglas opened #3879 "[Docs] Hero request to fix mdx failing"
We got a hero request were the Gatsby Build was failing due to mdx parsing issue. Resolved this and created a ticket to follow-up on why the `mdx` verify is successful and gatsby build isn't

https://github.com/newrelic/docs-website/pull/3783

https://github.com/newrelic/docs-website/issues/3865

[2021-09-13 13:27] #3879 closed

[2021-09-13 15:54] Julien4218 opened #3881 "Issue: Microsoft SQL Server monitoring integration"
### Tell us what you need

The NewRelic Microsoft SqlServer documentation should highlight the requirement that Sql Server Mixed authentication is required, since we need to have a username/password for the integration.

### Anything else you'd like to share?

Here is a Microsoft documentation illustrating how to change the authentication mode https://docs.microsoft.com/en-us/sql/database-engine/c

[2021-09-13 17:51] paperclypse commented on #3869
@zuluecho9 This is related to the other one you're working on, issue #3852.

[2021-09-13 20:25] zuluecho9 commented on #3852
Fixed with https://github.com/newrelic/docs-website/pull/3887.

[2021-09-13 20:25] #3852 closed

[2021-09-13 20:25] zuluecho9 commented on #3869
Closed with https://github.com/newrelic/docs-website/pull/3887.

[2021-09-13 20:25] #3869 closed

[2021-09-13 21:05] austin-schaefer commented on #2067
I want to experiment with this one in Q3 as part of increasing edits to docs.

[2021-09-13 23:32] #3538 closed

[2021-09-14 06:29] #3874 closed

[2021-09-14 13:12] Saltibarsciai commented on #3582
Hey @bradleycamacho , I see some activity like adding it to blocked and removing from it. Maybe I can try something else to improve feedback. Or maybe my question is very custom and you can't really help, I'd really appreciate a suggestions after which I could try to make it work by myself

[2021-09-14 15:02] jake-codes opened #3894 "Kubernetes events/attributes not listed in the attribute dictionary causes confusion to customers"
Here's a quote from one team:

*Many times when we search for some column name in the attribute directory, we don’t find them but they actually exist in some table. For eg: “isReady” is the column name in one of the table(K8sPodSample) but I didn’t find that when I Searched in attribute directory. https://docs.newrelic.com/attribute-dictionary/?attributeSearch=isReady . How does the attribute dict

[2021-09-14 15:19] vhenriq opened #3897 "MSSQL docs seems to have the word MySQL on it instead of MSSQL"
[MySQL Instance Settings](https://docs.newrelic.com/docs/integrations/host-integrations/host-integrations-list/microsoft-sql-server-monitoring-integration/)

 yes

### How can we make our docs better? Review the link above where say MySQL and make sure if that is correct or is just a speeling that should be MSSQL instead of MySQL

* Is something confusing? yes
* Is something inaccurate or missing?

[2021-09-14 15:53] zuluecho9 commented on #3897
we actually have a pending edit related to this, so it's being fixed. thank you. https://github.com/newrelic/docs-website/pull/3886

[2021-09-14 15:53] #3897 closed

[2021-09-14 16:03] jpvajda commented on #849
reopening stale bot. 🤖

[2021-09-14 16:03] jpvajda commented on #1607
reopening stale bot 🤖

[2021-09-14 16:39] bradleycamacho commented on #3582
Hey @Saltibarsciai, sorry for the delayed response on this issue! The activity above was from some repo-wide organization of issues, not any specific activity on this individual issue.

As for the issue at hand: I think you'd probably get more useful answers by going to our Explorers Hub forum at [discuss.newrelic.com](https://discuss.newrelic.com/). I believe this has grown out of scope for a doc

[2021-09-14 17:26] kaylareopelle opened #3899 "Issue: Thread profiler tool"
### Tell us what you need

Under the [**Start the Profiler**](https://docs.newrelic.com/docs/apm/apm-ui-pages/events/thread-profiler-tool/#starting) section, the image link for the Thread profiler tool is broken. Instead it shows this:

![This is an image of the thread profiler.](./images/thread-profiler-session.png "Thread profiler overview)

### Anything else you'd like to share?

![Screen Shot

[2021-09-14 19:44] zuluecho9 commented on #3873
Created this PR to address this. https://github.com/newrelic/docs-website/pull/3900

[2021-09-14 19:44] #3873 closed

[2021-09-14 20:34] zuluecho9 commented on #3881
Closed with this PR: https://github.com/newrelic/docs-website/pull/3886

[2021-09-14 20:34] #3881 closed

[2021-09-15 01:47] tanaka-takayoshi opened #3907 "Add the correct format of SystemSample style query with Cloud Integration Metadata"
### Is your feature request related to a problem? Please describe

When we're querying the Infrastructure Agent event (e.g. SystemSample) with Cloud Integration Metadata (e.g. aws account id), some style is not working always while the other style is working well.

### Describe the solution you'd like

According to our internal discussion GTSE-11129, the following style is the correct style as far

[2021-09-15 03:05] #3429 closed

[2021-09-15 11:16] lucascepeda-nr commented on #3878
Hi @qryuu !

The link generated already contains the value selected on the timepicker, but you can change it once you open the link.
The URL changes every time to generate a new chart link, even if the timepicker selection hasn't changed.
On the chart link URL, you can't change the NRQL query that feeds the charts, but you can select a different time range.

You can also explore the option of usin

[2021-09-15 15:57] pberryman opened #3910 "Issue: Data privacy with New Relic"
### Tell us what you need

Broken link - Under the Personal data transfer section, the 2nd hyperlink in the first paragraph goes to a blog title How the Demise of Privacy Shield Affects Your New Relic Account. Link says access denied. Link is broken. Please update.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/security/security-privacy/data-privacy/data-privacy

[2021-09-15 15:58] bradleycamacho commented on #3910
Hey @pberryman, thanks for finding this! I will look into this in a second and open a PR fixing it.

[2021-09-15 16:11] bradleycamacho commented on #3910
@pberryman I'm hunting down what happened to the original blog post and why it was removed. For now, if you need access to the content you can find a cached version here:

https://webcache.googleusercontent.com/search?q=cache:vSMRcnff1GQJ:https://newrelic.com/resources/articles/how-demise-of-privacy-shield-affects-you+&cd=1&hl=en&ct=clnk&gl=us&client=firefox-b-1-d

[2021-09-15 16:20] nr-kkenney opened #3913 "[Translation Workflow] Problematic file causing send translation workflow to fail"
## Summary
[The most recent run](https://github.com/newrelic/docs-website/runs/3605265246?check_suite_focus=true) of the send translation workflow failed due to a single file not being uploaded.

The specific file & error:
[code]

## Acceptance Criteria
- [ ] fix failing file

[2021-09-15 16:34] #3863 closed

[2021-09-15 19:15] leifan89 opened #3916 "docs-issuesIssue: shutdown_agent (Python agent API)"
### Tell us what you need

Python agent docs for "shutdown_agent" mentions that the method takes an optional timeout int, but no unit is specified.

Is the timeout value in seconds? minutes? The rest of the doc seems to suggest that it is seconds, but it is not clear.

### Anything else you'd like to share?

N/A

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/age

[2021-09-15 20:20] LizBaker commented on #3863
@zoezhou1113 we made the change for this but it's part of a package we don't want to update in the sites until our upcoming release which is in 2 weeks. when we release, the fix will automatically get brought in

[2021-09-15 21:11] jpvajda commented on #3863
To add a little context, in the global theme we have made our changes for the new I/O nav item, so we are going to deploy that change by Sept 29th, with this change we'd also resolve this problem. So it will be resolved by the time we launch I/O @zoezhou1113

[2021-09-15 22:53] jpvajda opened #3920 "Docs Site node 16 upgrade"
Relates to https://github.com/newrelic/gatsby-theme-newrelic/issues/462

On Wednesday, September 29, Gatsby will be updating the default version of Node.js in Gatsby Cloud to v16. We'll want to upgrade our sites to node 16 soon after so we can get ready for Gatsby 4.

### Acceptance Criteria
- [ ] Depends on newrelic/gatsby-theme-newrelic#495
- [x] Confirm with Gatsby that Gatsby 4 supports node 1

[2021-09-16 01:14] shinji-newrelic opened #3928 "It's better to describe what is supported url syntax by Synthetics monitor"
There are some types of synthetics monitor and some of them support simple monitor without code implementation e.g. ping, simple monitor and so on.

However there is no description what is supported url syntax. for example, is the query string is supported?
Please specify supported syntax by these synthetics monitors.

https://docs.newrelic.com/docs/synthetics/synthetic-monitoring/getting-started/

[2021-09-16 05:35] qryuu opened #3929 "Issue: Synthetic monitoring: Aggregate monitor metrics"
### Tell us what you need

The Synthetics documentation describes the NRQL for calculating SLAs.
https://docs.newrelic.com/docs/synthetics/synthetic-monitoring/pages/synthetic-monitoring-aggregate-monitor-metrics/#generating_sla_in_insights

However, even after running this NRQL, the Apdex Score is still 0 and
It does not match the ApdexScore on the Synthetics SLA page.

Perhaps there is a problem

[2021-09-16 06:02] urbiz-nr commented on #3907
Hi @tanaka-takayoshi - thanks for touching base! I'm talking to the Engineering teams to figure this one out. In the meantime, could you give us more details about when the query works and when it doesn't?

[2021-09-16 06:05] tanaka-takayoshi commented on #3907
It's complicated to identify this situation when the query works and when it doesn't. Actually, the engineering team just says "please use the correct format".  Therefore, we should have to explain the correct format.

[2021-09-16 06:18] urbiz-nr commented on #3894
Thanks for getting in touch, @jake-codes! Our data dictionary doesn't include Kubernetes at the moment, I've created a jira to add it in one of our next sprints.

In the meantime, you can read about our Kubernetes data here: https://docs.newrelic.com/docs/integrations/kubernetes-integration/understand-use-data/find-use-your-kubernetes-data/  - hope this helps!

[2021-09-16 06:21] urbiz-nr commented on #3907
I see. I'll get to it! Thanks!

[2021-09-16 06:35] urbiz-nr commented on #3928
Hello @shinji-newrelic, thanks for getting in touch. We have [this doc](https://docs.newrelic.com/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors/) on how to add monitors, does it help? What else do you think would be useful?

[2021-09-16 07:08] urbiz-nr commented on #3929
Hello @qryuu - let me check with the team!

[2021-09-16 15:06] urbiz-nr commented on #3929
Hi @qryuu - we're fixing this in #3933. As you can see, it's a units issue.

[2021-09-16 15:06] #3929 closed

[2021-09-16 18:58] zuluecho9 commented on #3899
fixed with https://github.com/newrelic/docs-website/pull/3938. thanks @kaylareopelle.

[2021-09-16 18:58] #3899 closed

[2021-09-16 20:33] GaPeppy opened #3942 "Issue: Examples for Fintech with mixed resource zones"
NR seems to have lost all references or example of Synthetics proxy situation with mixed network resources as typical in a enterprise Fintech customer.

Please add this example to the docs:
[code]

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/synthetics/synthetic-monitoring/scripting-monitors/set-proxy-settings-properties-scripted-monitors/
* **OS**: Unknown
*

[2021-09-16 21:05] zuluecho9 commented on #3942
@GaPeppy is this something that would live in the examples section in this area? https://docs.newrelic.com/docs/synthetics/synthetic-monitoring/scripting-monitors/set-proxy-settings-properties-scripted-monitors/#setproxy-advanced Is that what you were thinking?

[2021-09-16 21:48] bradleycamacho commented on #2026
@mmfred Looks like the corresponding jira was close during introspection. I am closing this issue too, but feel free to reopen it if you believe it should stay open.

[2021-09-16 21:48] #2026 closed

[2021-09-16 21:48] bradleycamacho commented on #2102
@dbarnesbrownNR This is pretty stale. Can you re-triage this and see if it's still needed?

[2021-09-16 21:50] bradleycamacho commented on #1962
@zuluecho9 Looks like the corresponding jira was closed. Can you re-triage this issue and figure out the next steps and/or if we should close it?

[2021-09-16 21:52] bradleycamacho commented on #1890
@urbiz-nr Could you re-triage this and edit the issue with specific action items so we can share with the GM group? Thanks!

[2021-09-16 21:53] bradleycamacho commented on #1885
@zuluecho9 @dbarnesbrownNR Can you two take a look at this issue and update it with the current status? Thanks!

[2021-09-16 21:55] bradleycamacho commented on #2349
@zuluecho9 Could you take a look at this and update it with the status? Thanks!

[2021-09-16 22:00] bradleycamacho commented on #2565
@mmfred @barbnewrelic I got a bit lost at the status of this issue and the corresponding jira. Could one of you two provide a status update?  (@barbnewrelic I'm tagging you since I see your face on the Jira)

[2021-09-16 22:02] bradleycamacho commented on #3004
@dbarnesbrownNR @zuluecho9 Can one of you two provide a status update on this? I'm not sure why we converted this issue from a jira and then just refiled another jira.

[2021-09-16 22:04] bradleycamacho commented on #2974
@barbnewrelic Can you provide an update on this issue and corresponding jira?

[2021-09-16 22:05] bradleycamacho commented on #2945
@paperclypse Any status update on this issue?

[2021-09-16 22:07] bradleycamacho commented on #3124
@dbarnesbrownNR Can you re-triage this issue and ping relevant SMEs to figure out next steps? Thanks!

[2021-09-16 22:09] bradleycamacho commented on #3101
@zuluecho9 Could you take a look at this issue and make sure it's still relevant?

@jpvajda Doesn't seem like this is a priority, but maybe this is something one of those new incoming SEs could knock out early on? Thanks!

[2021-09-16 22:10] bradleycamacho commented on #3094
@barbnewrelic Can you update the status of this issue?

[2021-09-16 22:10] paperclypse commented on #2945
I don't have an update. The last I did on this was to create a jira.

[2021-09-16 22:11] bradleycamacho commented on #3030
@dbarnesbrownNR @zuluecho9 Could you two please take a look and post the status of this issue? Thanks!

[2021-09-16 22:12] bradleycamacho commented on #3005
@austin-schaefer Could you update the title? Thanks!

[2021-09-16 22:12] bradleycamacho commented on #3591
@urbiz-nr Can you update this with the status of the issue? Thanks!

[2021-09-16 22:13] bradleycamacho commented on #3591
And please add the relevant `pg` tags. Thanks!

[2021-09-16 22:14] bradleycamacho commented on #3481
@urbiz-nr Can you update this issue? Thanks!

[2021-09-16 22:15] bradleycamacho commented on #3479
@dbarnesbrownNR Can you update the status of this issue? Thanks!

[2021-09-16 22:17] bradleycamacho commented on #3724
@urbiz-nr @mmfred Could one of you update the status of this issue? Thanks!

[2021-09-16 22:18] bradleycamacho commented on #3803
@x8a Should we add that info to the doc above? If not feel free to close this issue!

[2021-09-16 22:18] bradleycamacho commented on #3822
@barbnewrelic Can you let us know the status of this issue? Thanks!

[2021-09-16 22:30] barbnewrelic commented on #3822
As noted in the comments, a Jira has been created for this work.

[2021-09-16 22:31] barbnewrelic commented on #3094
As noted in the comments, a Jira has been created for this. DOC-7178

[2021-09-16 22:35] barbnewrelic commented on #2974
As noted in the comments, a Jira has been created for this. DOC-7177

[2021-09-16 22:36] barbnewrelic commented on #2565
The corresponding Jira was finished in July 2021. DOC-6983

[2021-09-16 22:38] mmfred commented on #3724
I'm working on this now. Kept getting pulled off to other things.

[2021-09-16 22:45] #2565 closed

[2021-09-16 23:45] jpvajda commented on #3101
@roadlittledawn 👋  --> TPM life. 😉

[2021-09-17 02:02] shinji-newrelic commented on #3928
Hello.
I cannot get clear understating about what is allowed as "URL".
I'm happy if there are some url examples including query string like 'https://domain.com/path/?type=a'.

[2021-09-17 04:57] urbiz-nr commented on #3928
@shinji-newrelic, I've added a ticket to the tech writers' backlog to update the docs with the examples you request. Thanks for the suggestion!

[2021-09-17 05:06] #3878 closed

[2021-09-17 05:15] urbiz-nr commented on #3481
There's a jira tracking this, and the Browser team is working on a PR to address it. They'll ping the hero when it's ready.

[2021-09-17 05:41] urbiz-nr commented on #1890
@bradleycamacho - adding this back to the board so we can start over.

[2021-09-17 11:36] urbiz-nr commented on #3591
@mangulonr's team will file a PR in the next few days to address this.

[2021-09-17 14:02] zuluecho9 commented on #3101
@bradleycamacho yes, still relevant and be nice to have.

[2021-09-17 14:55] mangulonr commented on #3591
Hi @bradleycamacho

[2021-09-17 17:48] GaPeppy opened #3953 "custom parsing logsource=file - vague documentation"
The documentation is fairly vague on how a customer would set up the most common logsource (`file`) with custom parsing.  While `logsource=syslog` shows a `parser` attribute; there is no mention or examples of it for `logsource=file`.

With experimentation, the only way I could get it to work is specifying everything as a native fluentbit.conf file and simply using file.yml to reference/include th

[2021-09-17 20:15] rhetoric101 commented on #1890
@open768, I apologize for the late response to your issue. Have you figured this out already using the existing documentation?

If you still find this unclear, could you clarify where there's a gap in these current steps? These seem pretty explicit and are followed by some examples of rules in the next section called `Create rules`:

1. Go to one.newrelic.com > Browser > (select an app) > Settings

[2021-09-17 20:30] dbarnesbrownNR commented on #2102
Ask is still relevant @bradleycamacho. I've reached out to someone on the NRQL team to get either a rec for how to update or a PR submitted. Will put back in to do for now but if there's not someone to work on it by early next week I think we can close.

[2021-09-17 20:32] dbarnesbrownNR commented on #3030
@bradleycamacho @zuluecho9 there is a docs ticket but it keeps getting bumped for critical product work. Should be able to pull in to next sprint and is currently in the backlog for that sprint.

[2021-09-17 20:33] #3030 closed

[2021-09-17 20:42] open768 commented on #1890
Hi,  thanks for your feedback, but it's been  years after the report and I've moved on long ago . I was an operational team lead for jlp waitrose at the time. Inbetween i was a snr solution designer for o2 uk. I now work for a competitor of nr (appd)  as a professional services consultant. I only used nr briefly but I was impressed with its human centric design, which contrasted the technical ui o

[2021-09-17 20:52] dbarnesbrownNR commented on #3479
@bradleycamacho I got as far as labeling but not investigating as it's not a domain I traditionally cover so I am . Action items are for the assignee on docs side to seek out a SME and work with them on validating and getting a PR cooking. Let me know if you need more context!

[2021-09-17 21:01] dbarnesbrownNR commented on #3004
@bradleycamacho I think we were struggling on this one to figure out what the scope was and it really requires a bit more looking into because it's important and I or whoever covers it will need a better idea of the technical details before we proceed. @zuluecho9 the Jira mentioned seems to cover another area, is there another Jira issue that might be the correct one? If you can provide some clari

[2021-09-17 21:09] mmfred commented on #3724
@newtob-DB - Thanks again for your request. I hope the updates pushed today are a bit clearer.

[2021-09-17 21:09] #3724 closed

[2021-09-17 21:14] dbarnesbrownNR commented on #3124
@bradleycamacho have pinged SME for recs on whether and how to address. Moving back to blocked pending hearing back from that person.

[2021-09-17 21:15] dbarnesbrownNR commented on #1885
Jira still relevant and should be covered next sprint. Jira number has changed to DOC-7304 and it's in backlog for next sprint. Closing this issue since it's covered elsewhere.

[2021-09-17 21:15] #1885 closed

[2021-09-17 21:52] rhetoric101 commented on #3953
@GaPeppy, thanks for the heads-up about logsource with custom parsing. I am checking with our team to see how we can improve this and will keep you posted.

[2021-09-17 22:46] dralph3344 opened #3960 "Issue: Alerts best practices"
### Tell us what you need

* In the Best Practices section, please add links and VERY BOLD callouts to Null Value and Loss of Signal handling.

* Please reference these materials in this docs page. They should be REQUIRED READING for all alert-creating customers:

- https://discuss.newrelic.com/t/relic-solution-how-can-i-figure-out-when-to-use-gap-filling-and-loss-of-signal/120401
- https://docs.n

[2021-09-17 23:52] paperclypse commented on #3960
Hey @dralph3344, I'd love for @HenryTech to chime in on this one.

[2021-09-18 07:39] roharon opened #3962 "subtitle shown html named anchor"
### Description

named anchor is shown on subtitle

### Steps to reproduce

1. Go to [ruby-agent-installation-rails-plugin](https://docs.newrelic.com/docs/agents/ruby-agent/installation/ruby-agent-installation-rails-plugin/)

### Expected behavior

`Update the newrelic.yml file [#Updating_newrelic.yml]`

Expect to looks like `Update the newrelic.yml file`

### Screenshots
![image](https://user-ima

[2021-09-20 11:24] jsubirat commented on #3953
Hi there @GaPeppy , thanks for your feedback! We actually provide an easy way to specify the `logType` when using the `file` log source: using the `attributes` field (documentation [here](https://docs.newrelic.com/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/forward-your-logs-using-infrastructure-agent/#attributes)). The following configuration should result in the sam

[2021-09-20 13:05] zuluecho9 commented on #3962
solved with https://github.com/newrelic/docs-website/pull/3963.

[2021-09-20 13:05] #3962 closed

[2021-09-20 13:14] zsistla commented on #1820
I think this would still be useful for all agent teams.

On Sun, Sep 19, 2021 at 11:58 AM stale[bot] ***@***.***>
wrote:

--
Amber Sistla
Software Engineer
New Relic

[2021-09-20 13:28] zuluecho9 commented on #3953
This issue addressed with PR https://github.com/newrelic/docs-website/pull/3967.

[2021-09-20 13:30] #3953 closed

[2021-09-20 15:21] zuluecho9 commented on #3942
@GaPeppy wanted to make sure you saw my question above.

[2021-09-20 15:57] barbnewrelic commented on #3335
I got a message this issue will be automatically closed but I'm not clear if that's because a-GH bot thinks this is unimportant or b-if it has already been fixed. If a-please don't close, this is important! If b-thanks for fixing this!

[2021-09-20 16:00] HenryTech commented on #3960
"This is a counter-intuitive aspect of the alerting platform, and we need to be overly communicative on how this works, and how it affects alert creation."

Dallas is very correct and I would agree with this!

[2021-09-20 16:23] GaPeppy commented on #3942
Yes - separate block next to the auth-credentials example.  Proxied network with mixed network zone assets.

[2021-09-20 17:21] nr-kkenney opened #3974 "investigate data dictionary alerting"
## Summary
It looks like the current alerting we have for data dictionary service includes an alert which triggers when the web throughput drops below a threshold. Anecdotally, we seem to see this trigger when upstream services are struggling and calling our downstream service less. This may not be true, and we should verify before doing meaningful work.

In the case that this is true, if upstream

[2021-09-20 17:57] zuluecho9 commented on #3942
@GaPeppy does this addition look good? https://github.com/newrelic/docs-website/pull/3975

[2021-09-20 18:17] GaPeppy commented on #3942
Looks good!

[2021-09-20 18:19] zuluecho9 commented on #3942
thank you.

[2021-09-20 18:22] #3942 closed

[2021-09-20 22:32] paperclypse opened #3982 "This generated table of contents is duplicated"
### Tell us what you need

The New Relic One table of contents is repeated.

### Anything else you'd like to share?

<img width="1009" alt="New Relic One toc" src="https://user-images.githubusercontent.com/7992384/134084638-ccbc054c-b67d-44f7-a3dd-0282dc76bb9c.png">

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/new-relic-one/use-new-relic-one/
* **OS**: Mac OS

[2021-09-20 23:39] #3721 closed

[2021-09-21 12:10] x8a commented on #3803
I added the info with PR #3985. Thanks for your question again, @qryuu.

[2021-09-21 12:10] #3803 closed

[2021-09-21 12:11] #3837 closed

[2021-09-21 18:13] dbarnesbrownNR commented on #3178
@bradleycamacho @jpvajda this looks like a small but worthy improvement to me, so I'd be for keeping it open if it does not bork up other priorities of yours!

[2021-09-21 18:14] dbarnesbrownNR commented on #1397
@LizBaker and @jpvajda this got auto-closed as stale, what are your thoughts on whether to pursue?

[2021-09-21 18:51] iAMNABHON opened #3998 "This is an enhancement request!"
### Is your feature request related to a problem? Please describe

A clear and concise description of what the problem is.

### Describe the solution you'd like

A clear and concise description of what you want to happen. What is the expected outcome?

### Describe why this important to you

Why should we work on this? What use cases does it support?

### Additional context

Add any other context

[2021-09-21 20:46] jpvajda commented on #1397
@dbarnesbrownNR 👋   it's still valid, Stalebot is a bit aggressive so we dialed it back to only tag stale on 90 day increments instead of 30. 🤖

[2021-09-21 23:13] dbarnesbrownNR commented on #1397
Gotcha, will reopen @jpvajda!

[2021-09-22 15:05] kscaldef commented on #3124
Just noting, we should correct "NRQL results are based on your system time" while we're at it, since that's not true.

[2021-09-22 18:27] philn5d-ar opened #4017 "Issue: Install the ECS integration"
### Tell us what you need

"For Fargate launch type:

The infrastructure agent (newrelic-infra) gets deployed as a sidecar in every task to monitor.
"

"sidecar" is confusing, what does that mean? Maybe link to the definition or have a help bubble to explain.

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (op

[2021-09-22 18:53] barbnewrelic commented on #4017
@philn5d-ar  That is a great question, thanks for calling this out! I'm checking with the team for a better explanation and will update the doc ASAP.

[2021-09-23 00:57] barbnewrelic commented on #4017
@philn5d-ar  I've updated https://docs.newrelic.com/docs/integrations/elastic-container-service-integration/installation/install-ecs-integration/ with a quick description of "sidecar" and a link to the gospel according to AWS ECS. Hope this helps!

[2021-09-23 00:57] #4017 closed

[2021-09-23 18:44] GaPeppy opened #4038 "OTLP not listed in network doc"
NR went GA with OTLP at otlp.nr-data.net:4317

Neither **OTLP** nor the root domain of **nr-data.net** is listed in the networks doc.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/using-new-relic/cross-product-functions/install-configure/networks/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**: Unknown

[2021-09-23 20:29] #1890 closed

[2021-09-23 20:45] dbarnesbrownNR commented on #3124
Thanks @kscaldef - they are based on time zone where query is made, yes? If not, what is the correct thing to note in place of the text above?

[2021-09-23 21:49] dbarnesbrownNR commented on #3124
FYI @austin-schaefer and @bradleycamacho I'm actively working on this but ran in to some complexities around locating the right SME and also how we explain timezones overall. To be continued as info rolls in...

[2021-09-24 01:12] shinji-newrelic opened #4048 "Issue: Data requirements and limits for custom event data"
There is a description about naming syntax for event type as following but it seems there are some additional undocumented rules.

https://docs.newrelic.com/jp/docs/telemetry-data-platform/custom-data/custom-events/data-requirements-limits-custom-event-data/

I tried using flex integration and there are some issues as following;

1. If the name is starting with number (e.g. 1_MyEvent), New Relic o

[2021-09-24 05:03] dlesniak-NR opened #4049 "Broken link in "Errors Inbox: Now in APM""
### Tell us what you need

Hi all,

The [Learn more](https://docs.newrelic.com/blog/how-to-relic/errors-inbox-with-slack-and-apm/) link at the top of the page leads to a 404.

Thanks!

### Anything else you'd like to share?

### Doc information (don't delete this section)

* https://docs.newrelic.com/whats-new/2021/09/whats-new-errors-inbox-slack-apm/
* **OS**: Mac OS 10.15.7
* **Browser**: Chrome

[2021-09-24 08:01] shinji-newrelic opened #4050 "Issue: CocoaPods installation"
### Tell us what you need

* Please add description about how to add prefix header and update setting if there is missing.

### Anything else you'd like to share?

Today latest Xcode doesn't add prefix header automatically (maybe it is NOT added from Xcode6). Then most of customers cannot find prefix header from their project.

### Doc information (don't delete this section)

* https://docs.newrel

[2021-09-24 21:35] mmfred commented on #4049
@dlesniak-NR - thanks for the info on the broken link. The fix will be published later this afternoon.

We recommend joining the New Relic organization on GitHub -- that way, helps us know where information is coming from. To do that, you ask in the #help-opensource slack channel.

[2021-09-24 21:35] #4049 closed

[2021-09-24 21:50] jpvajda opened #4059 "Finalize script instruction spec for docs 3.0 Site Unification"
tbd

[2021-09-24 21:55] jpvajda opened #4060 "test"

[2021-09-24 21:55] #4060 closed

[2021-09-24 21:56] dralph3344 opened #4061 "Issue: Create NRQL alert conditions"
### Tell us what you need

Under the loss of signal documentation, please also clarify:

When you have a faceted query, each facet is a signal. So if _any one of those signals ends - any of the faceted signals at all (for the duration specified) - that will be considered a loss of signal._

This is to clarify that it if there are, for example, 100 entities in the facet, if any one of those 100 ent

[2021-09-24 22:23] Julien4218 opened #4062 "Issue: Forward your logs using the infrastructure agent"
### Tell us what you need

The requirement for Debian should be updated to exclude Debian 11 since it doesn't appear to be supported at this time.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/logs/enable-log-management-new-relic/enable-log-monitoring-new-relic/forward-your-logs-using-infrastructure-agent/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**:

[2021-09-24 22:28] barbnewrelic commented on #4048
@shinji-newrelic Thanks for reporting this! We're going to have to do a bit more digging to find the exact rules and will update the docs as soon as we can!

[2021-09-24 22:51] mmfred commented on #4038
Thanks again @GaPeppy - this is fixed by PR 4041.

[2021-09-24 22:51] #4038 closed

[2021-09-24 23:03] mmfred commented on #4061
@dralph3344 - thank you for the request! I added the info to the NRQL doc, as you can see here: https://github.com/newrelic/docs-website/pull/4064/files

Let me know if you have further edits to this.

[2021-09-24 23:21] #4062 closed

[2021-09-24 23:29] barbnewrelic commented on #4050
@shinji-newrelic  Thanks for pointing this out! I'm checking with our support team about what's the best way to message this. I'll update the doc as soon as I get good info.

[2021-09-27 16:39] mmfred opened #4070 "Gatsby build issues"
This issue problems we're seeing with Gatsby builds. One thing we noted in discussion is that when a build gets "fixed" there is often not a way to track the problem that was happening. So when you add to this issue, please provide a link to the PR, and a description of what happened or is happening, and how you fixed it.

**PR**: Release to main: https://github.com/newrelic/docs-website/pull/4035

[2021-09-27 16:46] barbnewrelic commented on #4050
Fixed with https://github.com/newrelic/docs-website/pull/4071

[2021-09-27 17:54] aswanson-nr opened #4073 "Evaluate our workflows to make sure that they do not run for new fork contributors"
## Description
To ensure the security of this repository when working with forks, we need to evaluate our workflows to make sure that they do not run for new fork contributors to the repository. This will allow us to manage the risk by reviewing the submitted code before running any workflows. Most of our workflows should follow this model already, we just need to reaffirm that they do what we exp

[2021-09-27 18:16] #4050 closed

[2021-09-27 18:16] rhetoric101 commented on #4070
@mmfred, here are some additional examples of mysterious issues:

* [PR 3811](https://github.com/newrelic/docs-website/pull/3811/checks?check_run_id=3625059031) and the related [Slack discussion](https://newrelic.slack.com/archives/C01R2TB8BUZ/p1631827425199200). It turns out I was able to close and reopen the PR to unstick this.
* [PR 3817](https://github.com/newrelic/docs-website/pull/3817) and

[2021-09-27 18:31] jpvajda commented on #4073
@roadlittledawn if we did this, what is the impact to the docs team?

[2021-09-27 23:33] barbnewrelic commented on #4048
The wording in the linked PR was not quite right, so I'm checking with the help team for what exactly to say and will submit another PR

[2021-09-28 01:38] qryuu opened #4085 "Issue: AWS Lambda for sending logs from S3"
### Tell us what you need

https://serverlessrepo.aws.amazon.com/applications/us-east-1/463657938898/NewRelic-log-ingestion
Looking at the AWS application registry, it looks like NewRelic-log-ingestion-s3 has been merged into NewRelic-log-ingestion.

Currently I can't find NewRelic-log-ingestion-s3 in the AWS application registry.

### Anything else you'd like to share?

Add other context like scr

[2021-09-28 08:03] x8a commented on #4085
Hi, @qryuu 👋🏼 Thanks for filing this issue! I'll look into this and get back to you.

[2021-09-28 14:00] x8a commented on #4085
The responsible team confirmed that `NewRelic-log-ingestion-s3` hasn't been merged into `NewRelic-log-ingestion`; it was disabled. They enabled it again and you should be able to use it again with no further setup.

Thanks again for reaching out!

[2021-09-28 16:28] nr-kkenney opened #4088 "placeholder - translation broken files"

[2021-09-28 16:56] jpvajda commented on #4073
Can we get some numbers on how many fork PRS we'd have to be involved with?

[2021-09-28 21:49] roadlittledawn opened #4094 "[i18n] Fix deserialization issues"
After revamping translation workflows, seems to be running pretty well with the exception of a couple files in each PR that cause the PR build preview to fail, which then requires engineering intervention. This can take some time to hunt down small syntax errors or deserialization blips.

In some cases the deserialization actually completes successfully, but when the renderer is run, it barfs.

##

[2021-09-28 23:15] roadlittledawn commented on #3982
this is due to the fact that this path is used twice in the `src/nav/new-relic-one.yml` file

[code]

[2021-09-28 23:19] roadlittledawn commented on #3998
Closing since no info have we

[2021-09-28 23:19] #3998 closed

[2021-09-28 23:25] roadlittledawn commented on #3865
i have to take closer look, but i _think_ it may be because `@mdx-js/mdx` (the package used by `verify_mdx.js`) doesn't account for the frontmatter when converting to jsx.

[2021-09-28 23:56] roadlittledawn commented on #3764
seems to have something to do with being inside a `Collapser`. locally, i moved the image md at the top of the file and it rendered

[2021-09-29 00:12] roadlittledawn commented on #3764
using a straight up `<img>` tag works inside a collapser as well

[2021-09-29 19:33] gitcos opened #4107 "Issue: NRQL syntax, clauses, and functions"
https://docs.newrelic.com/docs/query-your-data/nrql-new-relic-query-language/get-started/nrql-syntax-clauses-functions/

Description of the SINCE clause says that an absolute UTC time can be given, but does not describe the format (syntax) to give that time in.  Description of the UNTIL clause doesn't even clearly say you can do this, although I'm pretty sure you can.  Neither SINCE nor UNTIL show

[2021-09-29 20:09] paperclypse commented on #3764
Since we don't really want to move the images, the guidance here would be: If an image doesn't render, try an <img> tag?

[2021-09-29 21:53] vocatan opened #4115 "Issue: Report metrics via the Metric API"
### Tell us what you need

* The instructions at https://docs.newrelic.com/docs/telemetry-data-platform/ingest-apis/metric-api/report-metrics-metric-api/ give a recipe for ingesting data, but the supplied NRQL command to see the data within New Relic does not yield results.

``
curl -vvv -k -H "Content-Type: application/json" \
-H "Api-Key: NEW_RELIC_LICENSE_KEY" \
-X POST https://metric-api.newre

[2021-09-29 23:12] ckden opened #4118 "No "un-install" doc for logging tools"
### Tell us what you need

Hi, first great job on explaining and documenting the various ways to bring data into New Relic logging.  However, once these things are setup, the process to unwind them does not seem to be easy to identify.    In particular, if I have a application team who is sending log test data to the logs.API (For example), it would be helpful to have something documented that app

[2021-09-29 23:24] bradleycamacho commented on #4118
Hey @ckden, thanks for the very thoughtful feedback! This is a great call, and we can explore documenting this with our product teams. I am going to tag in @barbnewrelic, one of our docs writers with more context about logs.

[2021-09-29 23:27] bradleycamacho commented on #4115
Hey @vocatan, thanks for reporting this issue! I'll look into this and escalate it to our product teams. We'll update this issue once we fix the command.

[2021-09-29 23:31] bradleycamacho commented on #4107
Hey @gitcos, thanks for reporting this issue! I will escalate this to our product team so we can add more context to description.

[2021-09-30 05:09] bradleycamacho commented on #4070
#4116 - This one really hurt. This was a last minute breaking change, and the build stalled out for upwards of an hour. Strangely enough, I noticed this one NEVER even started. It was eternally stuck in "waiting for queue.

[2021-09-30 16:03] #4061 closed

[2021-09-30 18:06] bradleycamacho opened #4128 "Issue: Introduction to New Relic for Python"
I'm not sure, but I think Python should be lowercase!

[2021-09-30 18:08] bradleycamacho commented on #4128
This update looks good in the preview, let me know if you think otherwise!

[2021-09-30 18:22] roadlittledawn opened #4129 "Issue: Users, roles, permissions (New Relic One user model)"
## Description

Short and simple one, BUT looks like this table header has inline style which makes it look weird in dark mode. Can we just remove OR use a more dark-mode-friendly color?
![2021-09-30_11-20-53](https://user-images.githubusercontent.com/2952843/135510003-825899f0-2335-4c2e-af74-ba3ee2182b9d.png)

[2021-09-30 21:02] barbnewrelic commented on #4118
@ckden  I reviewed our backlog of log doc requests and discovered this was on the roadmap 2 years ago, but then the team decided not to document uninstall procedures at that time. Thanks for raising this issue again. I'll get it back into the queue!

[2021-09-30 21:32] TestTr0n opened #4134 "Issue: Introduction to New Relic for Python"
This intro sucks!

[2021-09-30 22:11] mmfred commented on #4134
@TestTr0n -- Thank you for taking the time to let us know how you feel. Can you be more specific? Thanks!

[2021-09-30 22:11] #4134 closed

[2021-09-30 22:17] mmfred commented on #4129
@zuluecho9 - can you take a look at this feedback? I think it might be of interest to you.

[2021-09-30 22:24] #4128 closed

[2021-09-30 23:05] TestTr0n opened #4139 "I don't like this intro"
This intro should be friendlier and address the user and audience.

[2021-09-30 23:57] #4139 closed

[2021-10-01 04:00] nr-kkenney commented on #3913
a few more files failed in the most recent run: https://github.com/newrelic/docs-website/runs/3762530772?check_suite_focus=true

files are:
src/content/docs/integrations/host-integrations/host-integrations-list/mysql-monitoring-integration.mdx
src/content/docs/integrations/host-integrations/host-integrations-list/apache-monitoring-integration.mdx
src/content/docs/integrations/host-integrations/hos

[2021-10-01 13:48] barbnewrelic commented on #4118
@ckden  Do you only need procedures to uninstall/stop Log API, or are there other log forwarders your teams currently use? There are several different ways to get logs into New Relic, and the logging SMEs want to prioritize the ones you use first. Thanks for confirming!

[2021-10-01 16:19] TestTr0n opened #4148 "Issue: Introduction to New Relic"
Can you add specific examples of how you can respond to incidents quickly?

[2021-10-01 16:47] TestTr0n opened #4150 "Issue: Introduction to New Relic"
Can you add specific examples of how you can respond to incidents quickly?

[2021-10-01 18:04] jpvajda opened #4153 "How can we track and notify user for translation PRs?"
Julien asked because he’s unaware when they’re created. This one from [Sept 10](https://github.com/newrelic/docs-website/pull/3859) is still open Suggestion: make tech docs / julien aware (maybe via label?), if there’s a problem tell them to report to our hero.

[2021-10-01 18:12] #4153 closed

[2021-10-01 18:13] jpvajda commented on #3853
solves this https://github.com/newrelic/docs-website/issues/4153

[2021-10-01 18:13] aswanson-nr commented on #3853
If Github mentions are enough of a notification, then this https://github.com/marketplace/actions/issue-label-notifier action might be perfect!

[2021-10-01 20:09] jpvajda commented on #3853
@aswanson-nr That approach will work as github sends email notifications to users which is a good way to get notified.

[2021-10-04 06:37] shinji-newrelic opened #4160 "Issue: Step 4: Instrument your own Lambda functions"
### Tell us what you need
The action name should be updated to follow current aws console UI.

Current documentation says 'choose Stream to AWS Lambda' but 'Stream to AWS Lambda is missing today.

It it now in sub menu in Actions and name is changed like following.
Actions > Subscription filters > Create Lambda subscription filter

Unfortunately I cannot attach screenshot of aws console, please co

[2021-10-04 09:01] x8a commented on #4160
Thanks for the feedback, @shinji-newrelic! I fixed it with PR #4161.

[2021-10-04 09:01] #4160 closed

[2021-10-04 09:06] sskilbred opened #4162 "Issue: Networks"
### IP range used by Cloud Integrations

The Networks doc is important for customers to understand which endpoints, domains and IP ranges they need to allow (inbound/outbound). This also applies to the cloud integrations, but there are no references to our cloud integrations on this page. After consulting with support and engineering, the correct range is specified in the #webhooks section if this

[2021-10-04 09:19] x8a commented on #4162
Thanks for the suggestions, @sskilbred! I fixed it with PR #4164.

[2021-10-04 09:19] #4162 closed

[2021-10-04 16:56] zuluecho9 commented on #4129
Made it slightly lighter background color w/ https://github.com/newrelic/docs-website/pull/4167

[2021-10-04 16:56] #4129 closed

[2021-10-05 02:25] sanjubaba2008 opened #4177 "Issue: Install the Java agent"
While installing the agent, I noticed that we have to execute -javaagent:/full/path/to/newrelic.jar command in commandLine, however the full path to the newrelic.jar needs to be enclosed around quote as follows: -javaagent:"/full/path/to/newrelic.jar". If we do not include Quotes, we will get the following errors: "Error opening zip file of JAR manifest missing : /opt/newrelic/newrelic.jar " , "er

[2021-10-05 02:26] sanjubaba2008 commented on #4177
The full path to the newrelic.jar needs to be enclosed around quote as follows: -javaagent:"/full/path/to/newrelic.jar".

[2021-10-05 05:23] urbiz-nr commented on #4177
Thanks for getting in touch, @sanjubaba2008 - we'll have a look!

[2021-10-05 05:33] urbiz-nr commented on #3591
Closed via #3948.

[2021-10-05 05:33] #3591 closed

[2021-10-05 15:13] jasonjkeller commented on #4177
This is not accurate as general guidance but could potentially be encountered as a peculiarity of a specific environment.

I've installed the agent many times, mainly on OS X and some variants of Linux, and never had to add quotes around the path to the agent. The only times that I've encountered path issues have been with Windows OS and in some containerized environments where I misconfigured thi

[2021-10-05 15:19] sskilbred opened #4180 "Issue: Forward your logs using the infrastructure agent"
### Not applicable for manual installations

Clarify that the logging extension is not included when the infra agent is implemented using tarball (Linux) or ZIP (Windows) installation.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/logs/forward-logs/forward-your-logs-using-infrastructure-agent/
* **OS**: Mac OS 10.15.7
* **Browser**: Chrome 94.0.4606.61
* **Devi

[2021-10-05 15:24] sanjubaba2008 commented on #4177
I am running the agent on OS. I am invoking the java process manually. Thank you
<img width="588" alt="Screen Shot 2021-10-04 at 7 34 08 PM" src="https://user-images.githubusercontent.com/49997055/136052629-29ebe29e-6e06-43db-b5ed-24dbd10531ed.png">
!!

[2021-10-05 15:54] roadlittledawn commented on #3793
not sure this is possible in current setup. we get those section heading values from swiftype, so we don't know what the ID for each heading is

[2021-10-05 16:02] roadlittledawn commented on #3629
@zuluecho9 can you add a couple of example use cases that could benefit from this today?

[2021-10-05 16:11] roadlittledawn commented on #3548
OR we remove auto index pages altogether, which we plan to do this quarter. but there are other places we generate HTML for JSON output, so this may still be applicable

[2021-10-05 16:20] roadlittledawn commented on #3006
this may have been related to our hosting. i'm not seeing this behavior anymore. if it crops up again, we can revisit

[2021-10-05 16:20] #3006 closed

[2021-10-05 16:26] roadlittledawn commented on #2667
the site structure was reworked quite a bit since this was file. we also deployed an update so left nav menu data is used to populate the index page menus. so i think this was likely fixed. i'll close for now, but if you notice any more weird menu-ing, @fightingmonk , please let us know!

also, just a heads up, in the next month or so, the site is going through another big round of content structu

[2021-10-05 16:26] #2667 closed

[2021-10-05 16:42] roadlittledawn commented on #1370
i believe this was deployed couple months ago.

[2021-10-05 16:42] #1370 closed

[2021-10-05 17:03] roadlittledawn opened #4183 "[404] Surface related content when page not found"
## Summary

Over the past couple months, the 404 page gets very roughly [2k hits a month](https://staging.onenr.io/0xVwgGm0ZwJ). Most of those are from NR UI to the old search URL `/search` that we do not redirect.

A user might land on our 404 page if there is no page at a requested URL because:
* the page was moved / removed and no redirect was created
* the link is bad / spammy
* the NR UI send

[2021-10-05 17:21] roadlittledawn opened #4185 "[Docs I/A] Create file mapping script"
## Summary

Create 3 scripts to:
* add redirects for all .mdx files in specified directories.
* "clean up" redirects in frontmatter for files that did not move (where the redirect url is the same as the current file path).
* generate a separate set of nav YAML files for tech docs to use in updating `src/nav` files.

Applies to files in `src/content/docs`.

## Who is doing what when
* Tech docs wil

[2021-10-05 20:07] roadlittledawn commented on #3848
this was deployed on docs site...last week i think? we didn't run lighthouse reports and we still don't have access to OneTrust though. are we okay to close, @jpvajda ?

[2021-10-05 21:49] Jagadish-0668 opened #4190 "I am not able see my project ACCUPLACE"
When i login into my account my dashboard is empty I am not able to see my project ACCUPLACER

[2021-10-05 22:32] dbarnesbrownNR commented on #4190
Hi @Jagadish-0668, since I'm not able to see your settings or history it's a bit hard for me to troubleshoot from here, but I'd suggest you go to GitHub technical/help docs to see if there's some info there, as this project does not appear to be part of New Relic. Thanks!

[2021-10-05 22:32] #4190 closed, assigned to nobody

[2021-10-05 23:51] roadlittledawn opened #4195 "[Docs] Make home page nav more customizable by authors"
## Summary

Currently the home page nav is dynamically generated via nav YAML data and the `RootNavigation` component.

Content authors want to be able to exert more control over exactly what is on the nav and in what order (similar to other nav YAML files).

## Acceptance criteria
- [x] The left nav on the home page is driven via a YAML file in `src/nav`

## Helpful links

[2021-10-06 00:09] TestTr0n commented on #3910
This is published and live!

[2021-10-06 02:40] barbnewrelic commented on #4180
@sskilbred  Thanks for this important clarification! I'm in the process of making numerous edits to all the log forwarder docs, and your comment is being fixed with https://github.com/newrelic/docs-website/pull/4187

[2021-10-06 14:52] #4048 closed

[2021-10-06 15:41] shhudspeth opened #4198 "Issue: Hostname logic in Java"
### Tell us what you need

could you add sample yml file copy command for process host? And with clear instructions on whether a nested stanza is needed and with an example of it in the nested stanza form.

### Anything else you'd like to share?

could it also be added to the example yml file but commented out?
I have a customer whose servers are not picking up their server instance names and stru

[2021-10-06 16:54] bradleycamacho commented on #4070
#4200 : The build just canceled itself randomly. No idea why.

[2021-10-06 17:35] bradleycamacho commented on #4070
#4200 never completed the check after restarting. After I restarted the check, it just got stuck in a queue and never started up.

[2021-10-06 17:56] roadlittledawn opened #4203 "[Component] Create DoNotTranslate component for content authors"
## Summary

Content authors want to be able to flag certain pieces / sections of content that should not be translated when we send it.

You can add a class to an HTML element to tell Smartling to exclude it from translation:

[code]

## Acceptance criteria
- [x] Verify with Julien this approach will work from his / Smartling's perspective
- [x] A new component can be used in .mdx files that outpu

[2021-10-06 18:35] roadlittledawn opened #4204 "[Machine Translation] Modify scripts to Download translations"
## Summary

Similar to #2536 the interaction with the Smartling API is identical for both Machine/Human Translation.
The deserializing method should also not change apart from the additional considerations.

In the current script called in the workflow [check-job-progress.js](https://github.com/newrelic/docs-website/blob/feature/docs-upgrades/scripts/actions/check-job-progress.js) we are picking u

[2021-10-06 19:40] #3848 closed

[2021-10-06 20:42] #4180 closed

[2021-10-06 21:04] retishp opened #4210 "Issue: .NET agent: compatibility and requirements for .NET Core"
The Messaging section refers to RabbitMQ 5.1.0. Can you please mention that it is RabbitMQ Client Library 5.1.0. This is because RabbitMQ (server) latest version is 3.9.7. Customer was confused as to what we were referring to.

Thanks

### Tell us what you need

* If you've found something inaccurate, what is it?
* If something is hard to read, confusing, or missing information, let us know.
* If

[2021-10-06 22:05] austin-schaefer opened #4214 "Cull redirects we know from Drupal were under-used"
We have thousands of redirects, many of which are not used or little used. We know redirects create build issues and complexity.

We had data in Drupal on which redirects got used and which didn't. If we could pull that data, we could find all the redirects with less than <N uses and delete them programatically.

[2021-10-06 22:24] austin-schaefer opened #4215 "Generate list of auto-index views"
I would like a list of all URLs associated with auto-index views (docs catgory views). This would let me cross-check this with traffic data to see how many of these views are really used.

[2021-10-06 22:59] barbnewrelic opened #4217 "Issue: Zip manual install of the infrastructure agent for Windows"
cconde reported in the documentation channel that the link in https://docs.newrelic.com/docs/infrastructure/install-infrastructure-agent/windows-installation/zip-manual-install-infrastructure-agent-windows/#agent-directory gives a 404 on the link in "newrelic-integrations: Directory that stores the New Relic official integrations." Rather than `https://docs.newrelic.com/docs/infrastructure/integra

[2021-10-06 23:23] #4215 closed, assigned to nobody

[2021-10-06 23:42] barbnewrelic commented on #4118
@ckden  We are happy you are using so many options for logs, and we are also sad that uninstall procedures never got documented. I'm going to file a ticket for the documentation work, but I don't think I can file a support ticket on your behalf to get immediate help from support. I've already notified them about your question, but I wonder if it would help expedite if the request for immediate ass

[2021-10-07 14:40] #4217 closed, assigned to barbnewrelic

[2021-10-07 14:50] destumme opened #4224 "Issue: Node.js: Configure logs in context"
### Tell us what you need

The portions in this page which talk about a log line simply needs the `trace.id` and `span.id` are misleading for those attempting to manually instrument log context in node without the winston enrichment.

I am attempting to configure logs with several fastify apis which requires manual instrumentation. Simply ensuring that the `span.id` and `trace.id` is logged seems

[2021-10-07 16:52] jpvajda commented on #3731
we had one more thing to confirm with Luka...

[2021-10-07 16:53] mscharlock opened #4225 "Adding a second secure credential is a total hassle"
### Tell us what you need

Hi there - so I am recommending that you add some details to how to add a second secure credential. Right now the docs say
"Follow the UI instructions to add, edit, or delete a secure credential, then save any additions or changes you make". Maybe this used to be more intuitive, but in my version of NROne, adding a second secure credential for a synthetic monitor (after

[2021-10-07 17:03] #4148 closed

[2021-10-07 17:08] roadlittledawn opened #4226 "[Docs] Remove auto index pages, landing pages"
## Summary

We want to remove index pages and landing pages from the site. This includes:
* removing the local plugin that does this
* removing all directory level links in nav YAML
* remove taxonomy-redirects.json
* remove related templates that auto index pages plugin referenced

Tech docs will also have some changes that we want in the [same feature branch](https://github.com/newrelic/docs-webs

[2021-10-07 17:11] roadlittledawn opened #4227 "[Docs] Assist Tech Docs in updating home page to reflect new I/A"
## Summary

Help tech docs make any updates to home page and root nav to reflect new I/A.

This could include:
* Helping troubleshoot any issues with new home page YAML file
* Helping update the `index.js` page for new links, updating/removing defunct sections (FSO, TDP, etc)

## Acceptance criteria
- [x] Help tech docs out as needed to update index.js page (or root nav related components)

[2021-10-07 17:42] roadlittledawn opened #4228 "Setup I/A feature branch"
## Summary

Create a feature branch

## Acceptance criteria
- [ ]

## Helpful links

[2021-10-07 18:12] roadlittledawn commented on #3731
just asked Luka to verify in #wizards-amplitude

[2021-10-07 20:46] roadlittledawn commented on #4185
Considerations:
If there's an operation to move all files in a directory, and the script creates frontmatter redirects for each file. Then the next operation renames one of those files, that redirect would be the one we care about. We probably need to account for this in the script

[2021-10-07 21:14] roadlittledawn opened #4232 "[Research] How to handle file path changes in `i18n` counterparts"
## Summary

Right now if a PR contains changes that include moving a file from directory to another (which is a status of `removed` from git's perspective), we check to see if the file has counterparts in the `src/i18n` language dirs and if it does, we throw a warning as part of the `validate-pr` workflow check.

We haven't really run into this case yet since that check was put in place. But we wi

[2021-10-07 22:12] jpvajda opened #4235 "[I/O] 👉 Migrate external I/O catalog to newrelic.com"
## Epic Milestones

- Build a new Gatsby site from the ground up  for this new property.
- Move the complete I/O experience (components, code, etc)  from developer.newrelic.com to new standalone the gatsby site
- Ensure all the necessary domain level changes are made to correctly route newrelic.com/instant-observability to this new Gatsby site
- Ensure all instrumentation is updated to ensure even

[2021-10-08 05:10] dlesniak-NR opened #4240 "Issue: App data NRQL query examples"
### Tell us what you need

Broken links in the following section:

### Anything else you'd like to share?

Add other context like screenshots, links to other docs, and information about
your environment (operating system, application framework, etc.).

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/query-your-data/nrql-new-relic-query-language/nrql-query-tutorial

[2021-10-08 14:16] #4225 closed, assigned to zuluecho9

[2021-10-08 17:03] jpvajda commented on #2139
@rudouglas remind me, what are the next steps on this to resolve it?

[2021-10-08 19:53] CherylFrankenfield opened #4251 "Please add example queries for mobile/browser metrics"
### Tell us what you need

* Can you please add browser and mobile metrics similar to what APM already has listed in documentation?

### Anything else you'd like to share?

All of the information tips/tricks for querying is scoped to APM and other examples for mobile/browser data would be useful. Thanks!

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/telemetry-d

[2021-10-08 20:11] destumme commented on #4224
Appreciate the quick reply.

If it's helpful at all, for my api's I'm using pino logger, which has a mixin() function on the configuration, https://github.com/pinojs/pino/blob/master/docs/api.md#mixin-function.

Once I realized I needed to use the linkingMetatdata, simply returning the getLinkingMetadata from that function was all I needed to do. The 'Logs' tab in APM was populated as I expected a

[2021-10-08 21:06] rhetoric101 commented on #4251
@CherylFrankenfield, thanks for this suggestion! We'll present this to our SMEs and see if they can add examples for browser and mobile.

[2021-10-10 03:49] Ampa143 opened #4255 "I can't access my account"
### Tell us what you need

* If you've found something inaccurate, what is it?
* If something is hard to read, confusing, or missing information, let us know.
* If you're having trouble completing a task or are uncertain what to do next,
  tell us what you're trying to do so we can provide more useful information.

### Anything else you'd like to share?

Add other context like screenshots, links t

[2021-10-11 06:35] urbiz-nr commented on #4255
Hello @Ampa143! Have you tried the options here https://docs.newrelic.com/docs/accounts/accounts-billing/account-setup/troubleshoot-new-relics-password-email-address-login-problems/?

[2021-10-11 16:24] zuluecho9 commented on #4224
@destumme Okay, thank you, I shared that information. From what I'm understanding, you've figured this out so I'm going to close this. Thanks a lot for drawing our attention to this.

[2021-10-11 16:24] #4224 closed, assigned to zuluecho9

[2021-10-11 16:47] #3731 closed

[2021-10-11 19:14] kaschaefer opened #4264 "Issue: Dashboard API migration: from Insights API to NerdGraph"
### Tell us what you need
On the Dashboard API migration page, there's a section of bullet points with some of the details of the migration. The third bullet point, which starts out "The REST API for Insights is not affected...", starts to tell the reader to go somewhere else for more information, but never actually says where to go. It just says, "For more information about which key to use with

[2021-10-11 20:28] #4264 closed, assigned to zuluecho9

[2021-10-11 20:37] zuluecho9 commented on #4264
@kaschaefer Regarding your question about the difference between the Dashboard API and the Insights query API: the Insights query API (https://docs.newrelic.com/docs/apis/insights-apis/query-insights-event-data-api/) is a way to query New Relic data via NRQL; it has been mostly deprecated because NerdGraph is now the recommended API for that. The Insights Dashboard API, which is deprecated now, wa

[2021-10-12 10:56] rudouglas commented on #2139
@jpvajda we still haven't discovered a resolution for this so we'll have to do more investigating and testing on it to move it forward :/

[2021-10-12 15:42] roadlittledawn opened #4272 "[Analytics] [Docs] Track usage of various navigational page components"
## Summary

We want to get a better sense of how useful some navigational components are on docs pages. We want to capture this data via the Browser agent's `PageAction` event and create a simple dashboard for tech docs to view / use queries.

## Components to track
1. Nav filter: track number of searches and search terms used.
2. Left nav items: track clicks on arrow button to collapse / uncollap

[2021-10-13 01:44] ckden commented on #4118
Hi again @barbnewrelic , understood and no problem.  I will open one this evening as a follow up to this thread.   Thank you.

[2021-10-13 13:25] JimHagan opened #4295 "Issue: Example for Facet Cases Seems Spurious"
* The example shown in this section seems spurious in the sense that we are trying to produce the facets AWS and On-Premises.  The underlying condition based on Transaction durations may work syntactically but isn't a great query to share with users as it's kind of meaningless (seems fabricated to demonstrate syntax, but not a realistic example).

[code]

I suggest a simpler example not related to

[2021-10-13 16:36] #4295 closed, assigned to JimHagan

[2021-10-14 18:41] paperclypse opened #4320 "Improve Gatsby local build stability"
## Description

Anecdotally, the Gatsby local build has become so unstable as to be basically unusable by the Docs team. Which is a shame, because I got a lot of value out of it when it was more stable. (Related #3756)

I wanted to create a grab-bag issue where people on my team could add specific issues that they're experiencing (for example, today I had three sigbus crashes in a row without any

[2021-10-14 20:19] cityfurn-2020-cs opened #4323 "Issue: NewRelic DB2 monitor - will it work for Db2 for IBMi (formally AS400)?"
## How can we make our docs better?

* Is something confusing?
* Is something inaccurate or missing?
* Were you unable to complete a task? (What task?)

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/agents/java-agent/getting-started/introduction-new-relic-java/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**: Unknown

[2021-10-14 20:42] ferdinand-p opened #4325 "Issue: Alert custom violation descriptions"
## How can we make our docs better?

- Link to "full attribute list" only opens png file and not link to documentation

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/advanced-techniques/alert-custom-violation-descriptions/
* **OS**: Mac OS 10.15.7
* **Browser**: Chrome 94.0.4606.81
* **Device**: Unknow

[2021-10-14 20:45] #4325 closed

[2021-10-15 04:19] dlesniak-NR opened #4331 "Issue: REST API calls for alerts"
## How can we make our docs better?

since_value, aggregation_window, and evaluation_offset are deprecated methods in favor of the new aggregation method. However, this isn't reflected in the examples in this doc.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/rest-api-alerts/rest-api-calls-alerts/
* *

[2021-10-15 07:09] skeemer opened #4332 "Issue: Proactive Detection with Applied Intelligence"
## How can we make our docs better?

* It appears that the information for the Slack integration is completely out of date. The referenced Slack app no longer exists and doesn't explain how to fill in the fields for the Slack notification channel.
* The new New Relic Slack app just links to this page when click on the "Add to Slack" button.

### Doc information (don't delete this section)

* https

[2021-10-15 15:22] bradleycamacho commented on #4198
Hey @shhudspeth! I am going to route this to the a product team who can assist in providing a great example here!

[2021-10-15 17:55] roadlittledawn opened #4342 "Refactor how authors customize For more help section"
## Summary

The `For more help` section at the bottom of most docs pages may go away. But if it doesn't, we should revisit how authors add customize that content, because I think how we do it now may have a performance drag.

Currently, authors can override that block of content by adding their own For more help section in an .mdx file. And the template (docPage.js for example) uses the mdxAST (wh

[2021-10-17 06:39] skeemer commented on #4332
No, that doesn't help. It says there is supposed to be an app called "New Relic AI" which I can't find. And I already mentioned that trying to install the app "New Relic" just results in a redirect to that page.

[2021-10-18 13:29] #4255 closed, assigned to urbiz-nr

[2021-10-18 21:57] #4195 closed

[2021-10-18 23:22] aswanson-nr commented on #3658
@jpvajda Updated!

[2021-10-18 23:34] LizBaker opened #4383 "Images are broken in development until you build"
Clinton and I were chatting about how new images in docs content are broken unless you build the site. we can't remember if it was always this way but it's worth investigating if we can do anything about that since building is a time commitment (even locally)

[2021-10-19 08:46] #4331 closed, assigned to x8a

[2021-10-19 09:41] GreenStaradtil opened #4386 "Alters Intenlligencs"
`

## How can we make our docs better?

* Is something confusing?
* Is something inaccurate or missing?
* Were you unable to complete a task? (What task?)

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/get-started/introduction-applied-intelligence/
* **OS**: Android 11
* **Browser**: Edge 93.0.961.69
* **Device**: [mo

[2021-10-19 10:01] x8a commented on #4386
Hi, @GreenStaradtil! Could you describe your issue? Thanks!

[2021-10-19 16:16] #4272 closed, assigned to roadlittledawn

[2021-10-19 16:32] #4073 closed

[2021-10-19 17:53] shhudspeth opened #4392 "Issue: Azure Cosmos DB (Document DB) monitoring integration"
## How can we make our docs better?

Is there a reference to old metrics that we can see? Trying to troubleshoot what metrics we have collected for CosmosDB and the link in the yellow box goes to a 404.

* Is something confusing?
* Is something inaccurate or missing?
* Were you unable to complete a task? (What task?)
clicking in the yellow box about the depreciated integration goes to a 404 page.

[2021-10-19 18:12] jpvajda commented on #3658
I love this idea of code owners

[2021-10-19 19:09] mmfred opened #4395 "Enable images to left-justify"
We would often like to left-justify images, particularly in lists. In addition, sometimes we have to reduce the size of an image to make it less overwhelming, and in those cases, we would usually want to left-justify.

@LizBaker tested out some current behavior and found that if you use the <image> tag, then the image automatically left-justifies, but it no longer expands. Can we get a fix that wi

[2021-10-19 20:41] dbarnesbrownNR commented on #4392
Hi @shhudspeth, thanks for reaching out! I'm looking into this for you now. Will try to get you some answers on whether that content is still available, and if so, where to find it.

[2021-10-20 02:05] StingyJack opened #4404 "Issue: Docker container for infrastructure monitoring"
## How can we make our docs better?

This only gives directions that use your existing image as the base. I have another image already. What has to be done differently in order to use our own image?

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/infrastructure/install-infrastructure-agent/linux-installation/docker-container-infrastructure-monitoring/
* **OS**: U

[2021-10-20 05:58] icypig opened #4406 "What does the apm-jvms page cpu tab means?"
## How can we make our docs better?

* Is something confusing?
Where is the cpu tab comes from and how can i use it as a reference?
* Is something inaccurate or missing?
* Were you unable to complete a task? (What task?)

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/agents/java-agent/features/jvms-page-java-view-app-server-metrics-jmx/
* **OS**: Mac OS 10.15.7

[2021-10-20 08:14] x8a commented on #4404
Hi, @StingyJack! I'll ask the team whether this is possible and get back to you 🙌🏻.

Thank you!

[2021-10-20 15:28] #3920 closed

[2021-10-20 16:44] LizBaker opened #4425 "What's new IDs aren't getting deleted"
(The work is done for this, making the ticket retroactively to track)

We have two endpoints associated with whats new posts. one is generated based on the current posts and grabs their IDs from our ID json. the other grabs just the IDs and returns the full list. This resulted in the two endpoints not matching because deleted posts don't show up in the first endpoint, but they do show up in the ID

[2021-10-20 17:01] #4228 closed, assigned to nobody

[2021-10-20 17:04] roadlittledawn commented on #4320
i've been battling SIGBUS errors as well. we should be able to allocate some points to performance related tickets this quarter and hopefully soon. and some of the work we're doing for the commits may improve performance as well (removing auto index pages for example).

definitely want to be able to run the site locally. it's been a frustrating developer experience for me as well recently

[2021-10-20 19:17] #4323 closed

[2021-10-20 23:29] roadlittledawn opened #4430 "[Docs] Follow up fix to Make home page nav more customizable by authors"
## Description

The root nav menu was used on almost all pages on the feature branch. Also, many were blank.

Issue described in more detail in https://github.com/newrelic/docs-website/pull/4391

[2021-10-20 23:53] roadlittledawn opened #4431 "[Docs] [Docs I/A] Apply new home page design"
## Summary

Apply design to `src/pages/index.js`.

I don't think any of this _needs_ to be in the theme.

For any design related questions, feel free to reach out to Àngel Ordax

## Design

### Questions

- [x]  icons: for time being, can we stick with feather instead of switching to eva based icons?

### Notes on design
- `Popular content` section: Hard coded list of links. Tech docs team will up

[2021-10-21 02:40] icypig commented on #4406
thx a lot, very urgent

[2021-10-21 08:01] x8a commented on #4332
Hi, @skeemer! The issue was that the name of the app has changed and it's now called `New Relic`. Here's the PR #4424 that fixes it.

Please let me know if you need further assistance. Thanks!

[2021-10-21 08:04] x8a commented on #4406
Here's what the team passed on:

"It is possible that it comes from the metric `CPU/User/Utilization`.
Which we calculate by dividing the CPU time used by the application in the period by the elapsed time multiplied by the number of CPUs."

Please let me know whether this solves your issue. Thank you!

[2021-10-21 09:31] rudouglas commented on #4430
Not sure how I missed this 🤷 Thanks @roadlittledawn 🚀

[2021-10-21 17:00] #4332 closed, assigned to x8a

[2021-10-21 20:37] austin-schaefer opened #4448 "Remove duplicated words"
@LizBaker put together this magical regex that pulls duplicated/repeated words:

```\b(\w+)\s+\1\b```

A quick search found a couple hundred. Many are correct repetitions (things in code blocks, for instance) but many are just oversights. This ticket is to sweep and remove the dupes.

Make sure to set your vscode exclude rules correctly to ignore these directories and filetypes:

<img width="471"

[2021-10-21 21:19] danemacaulay opened #4451 "my user is broken"
my user is broken, i get the following screen on login:
![Screen Shot 2021-10-21 at 4 16 02 PM](https://user-images.githubusercontent.com/2157691/138358307-2727c693-9215-4b7a-a3f7-cb66f83299c3.png)
i cant file a ticket through your user interface because there is no account to select in the dropdown
please help!

[2021-10-21 23:11] bkucey opened #4452 "Issue: noticeError (browser agent API)"
## How can we make our docs better?

The link in this sentence seems necessary, yet does not go to a relevant page. That goes to `Browser settings: UI options for Apdex and geography`.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/browser/new-relic-browser/browser-agent-spa-api/noticeerror-browser-agent-api/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**

[2021-10-21 23:21] bradleycamacho commented on #4451
Hey @danemacaulay, thanks for letting us know! I am unable to personally help out, but I've internally reached out to a few people to try and find some answers. I'll get back to you soon!

[2021-10-22 02:22] abeerag opened #4455 "ECS integration Fargate"
## How can we make our docs better?

While trying to install the ECS integration via the install script, I get an error while trying to use fargate mode:

curl -O https://download.newrelic.com/infrastructure_agent/integrations/ecs/newrelic-infra-ecs-installer.shchmod +x newrelic-infra-ecs-installer.sh
./newrelic-infra-ecs-installer.sh -fargate
./newrelic-infra-ecs-installer.sh: illegal option -- a

[2021-10-22 02:54] icypig commented on #4406
I don't think it's the usage per CPU. cause we are seeing that the usage is beyond 100% up to 300%.
![image](https://user-images.githubusercontent.com/89767005/138246311-13683404-cd53-4bbb-8905-f893c943c20f.png)

[2021-10-22 08:58] #4455 closed, assigned to nobody

[2021-10-22 09:58] shortcutBoy opened #4456 "Issue: REST API calls for alerts"
## "Oops! Something went wrong" when I open the policy condition~

I cannot review this policy condition after I created an NRQL condition in this policy by REST API.
[Related Links](https://discuss.newrelic.com/t/oops-something-went-wrong-when-i-open-the-policy-condition/165218)

Here is my rest API config:  policyId: 1667289, conditionId: 22972814

[code]
If there is any solution, free feel to e

[2021-10-22 11:19] rudouglas opened #4458 "[Team] Create NR Workloads for each area in our scope"
### Description

Workloads are great for collecting all relevant data associated with a specific discipline in the teams scope. They are also great references for things like useful links and processes.

I've already created a few example ones but we should flesh these out and add more as central sources of truth for team work.

What we can do:
 - Collect all entities associated with a specific ar

[2021-10-22 11:59] #4456 closed, assigned to nobody

[2021-10-22 16:36] alaiavee opened #4465 "Issue: Amazon S3 monitoring integration"
## How can we make our docs better?

* Is something confusing? Yes
* Is something inaccurate or missing? Yes

Under [Amazon S3 data for request metrics](https://docs.newrelic.com/docs/integrations/amazon-integrations/aws-integrations-list/aws-s3-monitoring-integration/#provider-S3BucketRequests) we have the following:

`AllRequests` | The total number of HTTP requests made to an Amazon S3 bucket,

[2021-10-22 22:09] austin-schaefer opened #4477 "404 link checker"
Add the ability to automatically check the validity of links. I suspect we wouldn't want to do it on every build (tens of thousands of links). But perhaps as a one-off tool we can run periodically.

[2021-10-22 22:14] austin-schaefer opened #4478 "Refactor left nav to show same root nav menu on all pages"
💍 ONE NAV TO RULE THEM ALL

[placeholder]

[2021-10-22 22:15] austin-schaefer opened #4479 "Add "featured" support to WN"
WN posts can be "featured" in NR1 UI

* How does that look on https://docs.newrelic.com/whats-new/
* How does that look on new hompage design

[2021-10-22 22:15] austin-schaefer opened #4480 "Refactor issue buttons/feedback UI"
I want to play with more concepts on how we can generate more GH issues and feedback from users through docs.

Ideas we can play with:

- Separate the yes/no feedback buttons from the right nav, and instead put them on the top (and/or bottom) of the page as a standalone component
- Change the design of the right nav to just make the buttons more visible
- Change the copy to be clearer, or reduce t

[2021-10-22 22:39] austin-schaefer opened #4481 "[Docs] Decommission related resources"
## Summary

Data showed low engagement in links in related resources in right menu on content pages. We want to remove that section and extend the On this page where related resources ended.

## Screenshots
<details>
<summary>Screenshot of related resources section</summary>

![2021-12-13_15-21-12](https://user-images.githubusercontent.com/2952843/145904890-e7670547-4b72-473f-b7fc-7d71172f8285.png

[2021-10-22 22:41] austin-schaefer opened #4482 "[Docs] Decommission for more help"
## Summary

Data showed very low engagement in the For more help sections at the bottom of content pages. We already removed most/all of the custom For more help sections in MDX files. Now we want to remove the default for more help and related code in any templates.

## Screenshots
![2021-12-13_15-03-12](https://user-images.githubusercontent.com/2952843/145903062-c33b170c-17e6-42e5-a67d-797d66865

[2021-10-22 22:45] austin-schaefer opened #4483 "Decommission nav filter? (wait for usage data)"
Depending on how the usage data shakes out, we should decommission the nav filter field

* Remove code/component

[2021-10-23 00:05] dbarnesbrownNR commented on #4392
Circling back to this. It appears we've removed the content for the deprecated software, as we no longer support it. I will update the documentation so that it does not go to a dead link.

[2021-10-24 20:58] TheFrogPrince opened #4495 "Issue: scripts getting John 10:1"
https://isitup.org/js-agent.newrelic.com
This says:
js-agent.newrelic.com seems to be down 💥

this probably explains why folks can't access:
https://js-agent.newrelic.com/nr-loader-full-current.min.js

This is not a browser or OS specific thing.  It seems to affect the entire subdomain.

[2021-10-25 07:31] #4386 closed, assigned to x8a

[2021-10-25 15:37] toobagrrl opened #4506 "license page for Auto-telemetry with Pixie"
## How can we make our docs better?

* Is something confusing?
* Is something inaccurate or missing?
* Were you unable to complete a task? (What task?)

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/licenses/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**: Unknown

[2021-10-25 18:55] roadlittledawn opened #4516 "[Docs] Prevent clickable links to auto index / landing pages in left nav"
## Summary

On the docs site, if a user clicks on the left nav, they are often shown an auto index page (menu of links that mirror the left nav menu) / landing page which can confuse / disorient them. We want to reduce the visibility of the pages in advance of removing them entirely in a later sprint.

We can't yet remove auto index pages / landing pages, so until we can we want to prevent the lef

[2021-10-25 20:35] #4227 closed, assigned to nobody

[2021-10-25 21:19] siogah opened #4519 "Issue: NerdGraph tutorial: Loss of signal and gap filling"
## How can we make our docs better?

* Is something confusing?
* Is something inaccurate or missing?
* Were you unable to complete a task? (What task?)

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/advanced-alerts/alerts-nerdgraph/nerdgraph-api-loss-signal-gap-filling/
* **OS**: Unknown
* **Browser**: Unknown
* **Dev

[2021-10-25 22:51] roadlittledawn opened #4523 "[Data Dictionary] Avoid cache clean when adding/editing data dictionary files"
## Summary

When a content author makes changes to content in `src/data-dictionary` files, they typically will not see those changes unless a cache clean is triggered. It would be nice if we could just do that via the plugin.

It looks like we have access to a [cache API via gatsby node APIs](https://www.gatsbyjs.com/docs/build-caching/#the-cache-api). Maybe we can use that?

## Acceptance criteri

[2021-10-26 00:19] roadlittledawn opened #4527 "[Docs I/A] Create script to generate set of separate nav YAML files"
## Summary

Split out from #4185 .

Create a utility script that can be run via yarn alias that generates a separate set of nav YAML files that reflect the file system in `src/content/docs`.

## Spec: Generate nav YAML set
Create separate, standalone script (runnable on its own, via a yarn alias) to generate a separate set of nav YAML files that reflect the file system:
* Generate a separate set o

[2021-10-26 02:54] 65pony opened #4528 "Issue: Java: Configure logs in context"
## How can we make our docs better?
In the various steps using gradle the dependencies are still using "compile". I believe "compile" has been deprecated and should be replaced with "implementation"

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/logs/logs-context/java-configure-logs-context-all/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**: Unknown

[2021-10-26 08:08] shinji-newrelic opened #4530 "Issue: Metric API limits and restricted attributes"
## How can we make our docs better?

It is difficult to understand about define of the timeseries.

It is better to add actual example with multiple attributes.
For example, if there are ten hosts and 7 attributes, this equals there are 70 unique metric timeseries.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/data-apis/ingest-apis/metric-api/metric-api-limits-

[2021-10-26 10:15] #4528 closed, assigned to x8a

[2021-10-26 13:09] #4519 closed, assigned to zuluecho9

[2021-10-26 18:01] jpvajda opened #4542 "[Docs] quickstarts should exist in related resources for docs."
###  Summary
quickstarts should exist in related resources for docs.

### Acceptance criteria
- [ ] ensure related resources contains quickstarts for docs
- [ ] change the swiftype `type`  filter, to quickstarts from quick_starts

[2021-10-26 19:50] lfv89 opened #4545 "Issue: Notification channels: Control where to send alerts"
## How can we make our docs better?

There is no `Notification channels` after clicking `Alerts & AI`.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/alerts-applied-intelligence/new-relic-alerts/alert-notifications/notification-channels-control-where-send-alerts/
* **OS**: Unknown
* **Browser**: Unknown
* **Device**: Unknown

[2021-10-26 21:46] #4545 closed, assigned to rhetoric101

[2021-10-26 22:41] #4506 closed, assigned to mmfred

[2021-10-26 23:04] bradleycamacho opened #4553 "Process council: PM handbook updates"
# Overview
We are going to roll out a process council in the next week or so. In the spirit of such, we should follow our proposed council process for these changes.

# Proposal
The process for a change will be:
1. Someone has an idea for a process change or experiment. This can also just be identifying the issue without a solution.
2. They file and bring it up in Slack and file an issue.
3. Anyon

[2021-10-27 02:01] dbarnesbrownNR opened #4557 "Docs bug: PDF link in license page is dead"
Looks like the PDF link on [https://docs.newrelic.com/docs/licenses/license-information/special-services-licenses/new-relic-premium-support](https://docs.newrelic.com/docs/licenses/license-information/special-services-licenses/new-relic-premium-support) is 404ing and the file has not changed but needs to be added back to the repo. I've got an ask in to our legal content buddies for the replacement

[2021-10-27 17:01] jpvajda opened #4562 "[DOCs] Gatsby Build Failures"
TBD

[2021-10-27 17:02] aswanson-nr opened #4563 "[Docs] Build is timing out"
## Description
The build running on Gatsby Cloud is timing out.

### Acceptance criteria

- [x] resolve build issues  ASAP
- [ ] conduct retro on this problem with team to indentify root cause

[2021-10-27 17:03] #4562 closed, assigned to nobody

[2021-10-27 17:15] roadlittledawn opened #4564 "[Localization] Determine how to handle existing translation PRs"
## Summary

We have two outstanding PRs resulting from our translation workflow. The [first failed the build](https://github.com/newrelic/docs-website/pull/4334) (likely a deserialization / parsing error we've seen before). [The second](https://github.com/newrelic/docs-website/pull/4459) successfully built.

Subsequently, the docs team moved a bunch of files around for IA updates (including corres

[2021-10-27 18:40] nr-kkenney opened #4569 "[Docs] Update release process"
## Summary
Tech docs folks have been experimenting with improving the release process for the docs-website to reduce toil. The idea they want to implement is the use of `release` branches for merging content into the `main` branch.

Release branches would be cut from develop when merges to main are needed, and this allows for content to keep being merged into develop, but having a static / control

[2021-10-27 18:45] jpvajda opened #4571 "[Docs] Gatsby 4 upgrade"
Relates to: https://github.com/newrelic/developer-website/issues/1821

[Migration docs](https://www.gatsbyjs.com/docs/reference/release-notes/migrating-from-v3-to-v4/)

## Things to look for
- Update deprecated `nodeModel.runQuery()` & `nodeModel.getAllNodes()`
  - `gatsby-source-nav` & `gatsby-source-data-dictionary`

### Acceptance Criteria

- [ ] Upgrade site to Gatsby 4 (Locally)
- [ ] review

[2021-10-27 20:02] coreyarnold opened #4577 "Vague bullet point in "For more help" section on many(all?) docs pages."
Looks like the "For more help" section on all the pages has "Review New Relic's and and documentation." as the last bullet. The user is looking at the docs, is there something specific to point them to? Also we should clean up the "and and" grammar.

## How can we make our docs better?

* Is something confusing?
* Is something inaccurate or missing?
* Were you unable to complete a task? (What task

[2021-10-27 20:15] austin-schaefer opened #4578 ""For more help" footer is missing "security" link"
The For More help footer is missing the security link:

![image](https://user-images.githubusercontent.com/55203603/139140146-1c8b0c53-a8b2-4933-8761-5dbfd84a0ddf.png)

I'm not sure why, since it appears to be present in `/src/components/DefaultRelatedContent.js` . I presume this bug is related to the recent changes for #4272 in some way.

[code]

Originally reported in DOC-7506

[2021-10-27 21:03] austin-schaefer opened #4583 "Bounce rate data in GA broken since Sep 30"
Bounce rate data seems to have dropped off dramatically (by ~90%) since September 30. I presume this is related to OneTrust? Regardless, there's something here that we should dig into next spritn and resolve (might need input from analytics teams to understand what happened here)

[2021-10-27 21:17] jpvajda opened #4585 "Setup SLI / SLO and Lighthouse dashboards for Docs Site."
Similar to the dashboard we made for the I/O ecosystem we'll make one for Docs Ecosystem.

### Acceptance Criteria

- [x] setup [new lighthouse synthetic check](https://newrelic.com/blog/how-to-relic/monitoring-with-google-lighthouse) for docs.newrelic.com
- [x] set up Lighthouse scores
- [x] setup ecosystem dashboards
- [x] setup workloads to generate SLO/SLI data , like the devsite.

[2021-10-27 21:51] ktst79 opened #4587 "Issue: New Relic Instant Observability overview - Broken link to I/O site"
## How can we make our docs better?

The link on the button "New Relic I/O" is broken.
Currently it is linked to https://newrelic.com/jp//instant-observability, which doesn't exist as of now.
This should be https://newrelic.com/instant-observability

### Doc information (don't delete this section)

* https://docs.newrelic.com/jp/docs/using-new-relic/welcome-new-relic/get-started/new-relic-quicksta

[2021-10-27 22:05] #4578 closed, assigned to LizBaker

[2021-10-27 22:15] rhetoric101 opened #4589 "Create script to find repeated links (AKA dummy docs) in navigation files"
## Is your feature request related to a problem? Please describe

The docs team is exploring a shift to a new model where each left-navigation link is unique (never repeated across the left navigation). Currently,  we reuse left-navigation links across the site in various places, both in the same navigation file and across navigation files.

The user experience isn't too bad if the same link is us

[2021-10-27 22:26] paperclypse opened #4590 "Replace current open image in new tab with an in-page Lightbox (or similar)"
(related to issue #850)

## Is your feature request related to a problem? Please describe

I don't think that clicking an image and having it open in another tab is ideal.

## Describe the solution you'd like

I'd love to click our images and see a bigger version of the image directly on the page.

We should have a UI affordance to close the ligthbox (a close icon). Also close the lightbox with th

[2021-10-27 22:48] paperclypse opened #4591 "Add more and better options for displaying images on a docs page"
## Is your feature request related to a problem? Please describe

Currently, images display at their actual size, center-aligned and that's it.

Austin: There's little ability to flow images inline with the page.

## Describe the solution you'd like

I'd love to have a set of style options for images:
* Resize/scale
* Alignment (left, center, right)
* More readable captions (c.f. #4658)
* Text wra

[2021-10-27 22:55] #4563 closed, assigned to aswanson-nr

[2021-10-28 14:22] tanaka-takayoshi opened #4599 "Add timeout description for Event Flow"
## How can we make our docs better?

According to the internal discussion, event flow doesn't work well with infrequent data and there is a timeout. If you have one data point and no data points fore aggregation windows beyond the Delay setting come in for a certain time, the data point is dropped. Could you add these features into the doc with the actual value of timeout time?

### Doc informatio

[2021-10-28 14:44] adiosspandit opened #4601 "Request to document flamegraph interpretion"
## How can we make our docs better?
* The flamegraph documentation does not give details of how to interpret the flamegraph
It mentions you can troubleshoot by finding methods that are hotspots but does not descrive how to interpret the flamegraph.

I ran into a similar situation while helping couple customers set up for JFR. Another user on discussion forum mentions a similar challenge: https://d

[2021-10-29 07:33] #4404 closed, assigned to x8a

[2021-10-29 16:25] #4599 closed, assigned to zuluecho9

[2021-10-29 18:55] jpvajda opened #4628 "[Docs] Sustaining Epic [Q4 Priority]"

[2021-10-29 18:57] jpvajda commented on #4628
@roadlittledawn will fill this epic with important sustaining tickets.

[2021-10-29 19:44] jpvajda commented on #4589
This may fit nicely into the sustaining epic we created  #4628

[2021-10-29 20:38] jpvajda commented on #4226
This is a sprint or 2 out...

[2021-10-29 23:34] jpvajda commented on #4585
@rudouglas i've gotten the[ lighthouse score working](https://staging.onenr.io/0PLRENb9bja) with a new synthetic check i setup for docs. I was curious about where you stored the API key used in that query.

Also perhaps you and I can pair on the workload part of this ticket, I'm interested in that setup up.

[2021-11-01 11:07] rudouglas commented on #4585
@jpvajda that looks great, assume you're talking about the `$secure.PAGESPEED_API_KEY` in the script? That's stored as a Secure Variable which is a feature of Synthetics.

Happy to go over this with you today if you have time 🕺

[2021-11-01 15:28] jpvajda commented on #4585
@rudouglas oh great, I was curious if it was stored in a place where the entire team had access. Sounds like it is.

[2021-11-01 16:26] jpvajda commented on #3520
Still working with IT on this setup.

[2021-11-01 17:35] rhetoric101 opened #4644 "Create CSS for nested numbered list"
## Is your feature request related to a problem? Please describe

We sometimes encounter situations where we need to nest two ordered lists, and we currently use numbers for both, but this is not ideal. Note that in the example below, GitHub formats the two child steps differently, which is what we want. In the case of our docs site, it just uses arabic numerals for each.

1. Remove the cap from t

[2021-11-01 17:43] rhetoric101 opened #4645 "Please provide a table class that isn't 100% width"
## Is your feature request related to a problem? Please describe

If we have a table with two narrow columns of data, our only choice currently is to have a table that spans the entire width of the page. This means that the headings and the data are clustered on the left and blank table space appears on the right.

## Describe the solution you'd like

Could you provide us a CSS table class that al

[2021-11-01 17:47] rhetoric101 commented on #4591
I would like to echo the request of @paperclypse. I would prefer to have the option to left-justify images within the numbered lists (procedures). In other words, could we have the option to keep images within the bounds of the numbered list items but justified to the left so they match the  indentation of the number?

[2021-11-01 18:04] #4516 closed

[2021-11-01 20:43] barbnewrelic commented on #4577
@coreyarnold  I just checked and this has been fixed. Thanks again for letting us know!

[2021-11-01 20:43] #4577 closed

[2021-11-01 20:50] barbnewrelic commented on #4557
@dbarnesbrownNR  In documentation channel our SME confirmed that this doc is being deleted entirely, so no need to restore the PDF. I'll go ahead and close this issue for you.

[2021-11-01 20:50] #4557 closed

[2021-11-01 21:01] CherylFrankenfield opened #4648 "Update link and remove reference"
## How can we make our docs better?

* Is something inaccurate or missing? - There are two, hopefully easy fixes needed here. The first, for the caption under the first image, the link needs to be update for: deprecated UI.

_one.newrelic.com > Browser > (select an app) > JS errors: Use this page to group and filter errors, explore stack trace details, and examine trends. (If your UI page looks di

[2021-11-01 21:19] paperclypse commented on #4648
@CherylFrankenfield Thanks!

On the first point, it looks like the content at that deprecated UI link has been gone for a long time. I'm going to remove that link and reference to that.

Happy to remove the JSErrors reference.

[2021-11-01 21:46] GaPeppy opened #4654 "Issue: Guide to using the Java agent API"
The method signatures for insertDistributedTraceHeaders() and accept DistributedTraceHeaders() reference the parameter `Header` with no information on concrete type or example of what type should be used.

Neither the NR-docs or the java-docs explain how `Header`should be constructed.

Did find an example here
[dt-kafka-example](https://github.com/newrelic/newrelic-java-examples/tree/main/newrelic

[2021-11-01 22:34] #4587 closed

[2021-11-01 23:10] nr-kkenney commented on #4564
just had to merge develop into the translation branch. git knew that they were renames on the merge.

[2021-11-01 23:10] #4564 closed

[2021-11-01 23:24] jpvajda commented on #4585
I have done it.. Workloads for [docs is here. ](https://staging.onenr.io/0LkjnK11XQo)

[2021-11-01 23:39] paperclypse opened #4658 "Create a more visible image caption style"
Our image captions are pretty hard to spot. Let's come up with a caption style that's a bit more visible. (The text is so small and grey!)

For example:
https://docs.newrelic.com/docs/codestream/start-here/codestream-new-relic/#repo-ui

[2021-11-01 23:45] jpvajda commented on #4585
I wonder what else we can use workloads for? 🤔

[2021-11-02 02:46] qryuu opened #4662 "Issue: Add and edit monitors"
## How can we make our docs better?

There is no timeout information for the newly added Monitor.
Monitor settings > Type
https://docs.newrelic.com/docs/synthetics/synthetic-monitoring/using-monitors/add-edit-monitors/#setting-type

There is no timeout information for **step monitor**,**certificate check**, and  **broken links check**
Please add the specifications for these new monitors as well.

[2021-11-02 08:30] #4495 closed

[2021-11-02 09:31] urbiz-nr commented on #4654
Hello @GaPeppy - thanks for reaching out! Since we prefer not to duplicate information, I think a good option is to link to the [doc you mention](https://github.com/newrelic/newrelic-java-examples/tree/main/newrelic-java-agent/distributed-tracing/kafka-examples) from our Java API guide. Do you think that would work? Thanks!

[2021-11-02 09:46] urbiz-nr commented on #4662
Thanks @qryuu - I'll pass this on to the team!

[2021-11-02 12:14] GaPeppy commented on #4654
Linking would be good from NR-Docs.  However the vagueness of the java docs still seems like an undesirable customer experience.

-------- Original Message --------
Subject: Re: [newrelic/docs-website] Issue: Guide to using the Java
agent API  (Issue #4654)
From: Anna Urbiztondo ***@***.***>
Date: Tue, November 02, 2021 2:31 am
To: newrelic/docs-website ***@***.***>
Cc: GaPeppy ***@***.***>,  Ment

[2021-11-02 13:37] urbiz-nr commented on #4654
Let me pass this on to the team!

[2021-11-02 18:03] jpvajda commented on #2537
Not sure of the design status on this one, so I can bring it up with @legnaleama for direction.

[2021-11-02 18:05] #4648 closed

[2021-11-02 22:46] jpvajda opened #4683 "[Dashboards] Define DevEn Docs Site OKR metrics and setup dashboards"
In order to better measure key results for the DevEn team's work on the Doc Site, let's define some important metrics to track each quarter. Ideas such as:

- build times
- site uptime
- PR merge to close time
- maybe there is some localization PR metric we can track

### Acceptance Criteria

- [x] Work with @roadlittledawn on which metrics make sense for DevEn
- [x] Ensure we understand what metr

[2021-11-02 22:51] jpvajda commented on #4683
I've reached out to @austin-schaefer via slack  confirm what metrics the Docs Team is tracking too, and if he felt these made sense to him for DevEn to focus on it.

[2021-11-02 23:02] #4585 closed

[2021-11-02 23:57] jpvajda commented on #4431
@roadlittledawn thought by end of this week, this design may be finalized.

[2021-11-02 23:58] bkucey opened #4685 "Issue: PageViewTiming: Async or dynamic page details"
## How can we make our docs better?

* Is something inaccurate or missing?
* `Support for Google's Core Web Vitals` requires a Pro or above Browser agent. The Lite Browser agent won't work.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/browser/new-relic-browser/page-load-timing-resources/pageviewtiming-async-or-dynamic-page-details/
* **OS**: Unknown
* **Browse

[2021-11-03 01:02] rhetoric101 commented on #4591
I also had a recent experience where I needed to center images in a table column so they would like up correctly. To accomplish, I inserted inline table formatting, which isn't a sustainable approach. Instead, we need some way to specify a class that enables us to center images at will. Here's that topic where I did that: https://docs.newrelic.com/docs/new-relic-one/use-new-relic-one/ui-data/autom

[2021-11-03 07:17] urbiz-nr commented on #4685
Thanks @bkucey! Quick question, may we remove all those references to 2020? Thanks!

[2021-11-03 17:12] jpvajda commented on #2538
@rudouglas will work on AC...

[2021-11-03 17:16] #4392 closed

[2021-11-03 17:17] dbarnesbrownNR commented on #4392
Associated PR is now merged.

[2021-11-03 17:19] jpvajda commented on #2537
@jpvajda will follow up in this...

[2021-11-03 17:41] jpvajda commented on #2536
We want to spend more time on specifying approach and consider breaking this up into seperate tickets.

[2021-11-03 17:48] galloq opened #4692 "Improvement on Scalability test article"
## How can we make our docs better?

* Is something confusing?
* Is something inaccurate or missing?
* Were you unable to complete a task? (What task?)

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/apm/reports/other-performance-analysis/scalability-analysis-report/
* **OS**: Mac OS 10.15.7
* **Browser**: Chrome 95.0.4638.69
* **Device**: Unknown

In this articl

[2021-11-03 18:56] dralph3344 opened #4693 "Issue: Rate limits for NRQL queries"
## How can we make our docs better?

Are there specific rate limits? For things like the number of FACETS or queries that can be run in each tile, etc?

I's like to know what the limits are for number of attributes etc that are used in a query

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/query-your-data/nrql-new-relic-query-language/get-started/rate-limits-nrq

[2021-11-03 20:01] galloq commented on #4692
Hello @dbarnesbrownNR  - Thank you in advance for taking the issue I would like to add if it's possible to add more details for the other tests (CPU and response time) as well.
Thank you.

[2021-11-03 21:28] dbarnesbrownNR commented on #4692
Thanks @galloq - may I ask you to clarify if you are a New Relic employee not yet added to our org on GitHub or if you are an outside user of our tech? Thanks!

[2021-11-03 21:33] dbarnesbrownNR commented on #4692
Currently reaching out to SME in this area of our product to figure out how best to address this content ask.

[2021-11-03 21:33] galloq commented on #4692
Sure, I am an outside user but I just this software for work and thought the documentation for those tests could just, in general, have more information attached to it.

Also, I would like to ask if it's possible for you to indicate to me how to use the API to pull all of the data used to form the scalability test.

[2021-11-03 21:50] dbarnesbrownNR commented on #4692
Thanks for the context! And yes I agree that more examples could be good here, but running it by one of our internal SMEs to get some suggestions about how we might approach. As for the API question I am unsure but I will check on this and try to get you a good answer. :)

[2021-11-03 22:30] jpvajda commented on #2537
I've made a crude mock, and asked #ui-writing for their input here and share this with @legnaleama for design input

[2021-11-03 22:35] jpvajda commented on #2540
I followed up with @jmiraNR on this question

[2021-11-03 23:54] jpvajda commented on #2540
we can use this existing project, the only concern @jmiraNR was how we actually go about testing this, we don't want to send the entire site over in our test as we have limits to consider.

- 2M words: docs estimate (main article) at 1.6M
=-Maintenance for the 4 months post luanch might eat the 400k words left

For a round trip test,  we can send 10 docs and pretend that they are 1500. That is tot

[2021-11-03 23:54] #2540 closed

[2021-11-04 00:01] dbarnesbrownNR commented on #4693
Hi @dralph3344, I don't believe there's a relationship between number of attributes on a query and rate limiting, and afaik the limits are on total rate, not rate by clause etc, but I will investigate and fill you in on what I find out. Thanks!

[2021-11-04 01:38] galloq commented on #4692
@dbarnesbrownNR  - Amazing, thank you very much for the support!

[2021-11-04 03:42] jmiraNR commented on #2540
I said 10, but if it can be 5 or even 2 or 1, that's even better. ;)

[2021-11-04 08:21] urbiz-nr commented on #4654
Handling this in #4701. @GaPeppy, feel free to check it out!

[2021-11-04 09:23] tanaka-takayoshi opened #4702 "Issue: Synthetic monitoring: Troubleshoot downtime"
## How can we make our docs better?

I'm filing this ticket on behalf of the customer via support ticket.

Please include the following "Explores Hub Post" into the document as a public specification.

https://discuss.newrelic.com/t/relic-solution-understanding-the-three-strikes-behavior-in-synthetics/113117

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/synthet

[2021-11-04 09:51] tanaka-takayoshi opened #4703 "Issue: Language agents and distributed tracing"
## How can we make our docs better?

The example configuration for Java Agent has an invalid format. I confirmed the following format is working.

[code]

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/distributed-tracing/enable-configure/language-agents-enable-distributed-tracing/
* **OS**: Mac OS 10.15.7
* **Browser**: Chrome 95.0.4638.54
* **Device**: Unknown

[2021-11-04 09:54] tanaka-takayoshi opened #4704 "Issue: Java agent configuration: Config file"
## How can we make our docs better?

Please unify the indent of the YAML-format configuration.

For example, the following config has four spaces indent and two spaces indent.

[code]

I found there are a lot of similar configurations.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/apm/agents/java-agent/configuration/java-agent-configuration-config-file/
* **OS*

[2021-11-04 15:54] urbiz-nr commented on #4702
Closed via #4709.

[2021-11-04 15:54] #4702 closed

[2021-11-04 16:24] dralph3344 commented on #4693
Thanks @dbarnesbrownNR !

Particularly, can we do things like FACET <attribute>, and return like 100 uniques, or 1000, or 10,000?

If we facet CASES, can we manually list out 10 cases, 100 cases, 10,000 cases?

[2021-11-04 19:27] austin-schaefer commented on #2139
Hey @roadlittledawn , let's look at this for a sustaining ticket in the next sprint or two.

[2021-11-04 21:18] jpvajda commented on #4628
@jpvajda I'll also be working with @zstix to identify other important sustaining work we can do to kick of the new year and new quarter on a good :foot

[2021-11-04 22:20] andrew-lozoya opened #4721 "#cli-aws-permissions poorly wrote"
## How can we make our docs better?

https://docs.newrelic.com/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking/#cli-aws-permissions

https://github.com/newrelic/docs-website/blob/main/src/content/docs/serverless-function-monitoring/aws-lambda-monitoring/enable-lambda-monitoring/account-linking.mdx

The section on  "The CLI uses the AWS SDK to inte

[2021-11-04 23:38] zstix commented on #4569
🎉

[2021-11-04 23:38] #4569 closed

[2021-11-04 23:45] jpvajda commented on #2139
We have a sustaining epic planned in January to kick off Q4, this is a good candidate for that epic, so added it.

[2021-11-05 08:02] urbiz-nr commented on #4685
Closed via #4688.

[2021-11-05 08:02] #4685 closed

[2021-11-05 08:28] urbiz-nr commented on #4654
Closed via #4701.

[2021-11-05 08:28] #4654 closed

[2021-11-05 09:37] qryuu opened #4726 "Issue: Smart verbose mode description is misleading."
## How can we make our docs better?

With this description, it looks like the debug log is recorded after the Error is recorded in the generated Log File.
However, the actual behavior is as follows.
When the agent logs an error (calls the logger) it will flush on the disk the debug cache, then it will flush on disk the error message.

https://newrelic.atlassian.net/browse/GTSE-12220
### Doc inform

[2021-11-05 10:14] urbiz-nr commented on #4726
Closing this via #4728.

[2021-11-05 10:14] #4726 closed

[2021-11-05 10:56] legnaleama commented on #2537
I have some questions and concerns related to the requirements and approach:

- We are trying to define the best text in English to be translated into Japanese, correct?  Meaning, (for now) this experience will only be visible/available to our Japanese audience. @jpvajda
- If we are planning on re-using the top section of the right sidebar for 2 different actions depending on weather or not the pa

[2021-11-05 10:58] urbiz-nr commented on #4726
See also #4729.

[2021-11-05 11:47] legnaleama commented on #2537
@jpvajda quick addition to the above, @ahaberko and I have discussed this a little and we both think it would be good to have a fallback option in case the JP version is not good enough by providing a link to the original source. She'll work on the copy and I'll update the mockup accordingly but it would be just adding a link within the description portion of the callout.

[2021-11-05 13:26] rudouglas opened #4730 "[Machine Translation] Create project_id column in Production Postgres tables"
## Background

Follow the instructions in the [Readme](https://source.datanerd.us/developer-enablement/translation_database) to set up your environment. This sets up a local docker container for a PGAdmin instance to manipulate the DB.

In order to reduce code duplication and effort, we will be adding a new column called `project_id` to a couple of existing tables. This is so we don't need separat

[2021-11-05 14:33] urbiz-nr commented on #4703
Closed via #4727.

[2021-11-05 14:33] #4703 closed

[2021-11-05 14:47] rhetoric101 commented on #4704
@tanaka-takayoshi, thank you for pointing out these indentation inconsistencies! I will get them harmonized.

[2021-11-05 15:36] rudouglas opened #4734 "[Machine Translation] Create method for excluding specific directories/types"
## Summary

Currently, our process is to only include files with `translate: language` in the frontmatter. The new functionality will now send all files that don't have `translate: language`, but we want to be able to set specific exclusions.

We will need to include logic for excluding certain doc [types](https://docs.newrelic.com/docs/style-guide/processes-procedures/use-content-types-text-forma

[2021-11-05 16:26] philhub82 opened #4737 "Issue: Set proxy settings and properties for scripted monitors"
Hi all

The example in the section "$network.setProxyPAC" is not accurate.
It just shows the how the second parameter should look like, but not how to implement it in a script.

regards
Phil

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/synthetics/synthetic-monitoring/scripting-monitors/set-proxy-settings-properties-scripted-monitors/
* **OS**: Unknown
* **Brow

[2021-11-05 16:46] rudouglas opened #4738 "[Machine Translation] Rename yarn command for workflow"
## Summary

The yarn command for adding files to the translation queue is currently called `get-translated-files` which is misleading. It would be good to rename this to align with what the script actually does. This will need to be changed in the:

 - [package.json](https://github.com/newrelic/docs-website/blob/develop/package.json)
 - [get-slugs-to-translate](https://github.com/newrelic/docs-web

[2021-11-05 19:09] rhetoric101 commented on #4704
@tanaka-takayoshi, we are correcting this inconsistent spacing in this PR: https://github.com/newrelic/docs-website/pull/4741

[2021-11-05 19:10] #4704 closed

[2021-11-05 21:27] rhetoric101 commented on #4737
@philhub82, thanks for your comment about this example. I'll check with our developers and see if we can improve this.

[2021-11-05 22:59] jpvajda commented on #2537
@legnaleama this is awesome! love it. We did run the language by the UI-Writing team and that input is in  JIRA - UIWRITE-1411

[2021-11-05 23:34] jpvajda commented on #3520
I scheduled a call with IT to discuss this on Monday

[2021-11-05 23:45] tytyhibye commented on #3094
@barbnewrelic the JIRA for this has been closed so this GitHub issue is now a standalone. The Node documentation for adding this to the installation instructions has not been updated to reflect adding this startup script. Please have someone from your team reach out to me in Slack to collaborate on this! Thank youuuuu

[2021-11-05 23:46] rhetoric101 commented on #4737
@philhub82, I am closing this because our development team is hoping to address this example next week in the docs.

[2021-11-05 23:46] #4737 closed

[2021-11-06 00:01] dralph3344 opened #4764 "Issue: Use your charts - "Format Timestamp""
## How can we make our docs better?

Hello! can we have some verbiage on the site that says "Format Timestamp" ? When searching in the docs, it was very difficult to find this particular page and functionality that we needed.

Having those words on the page may make it easier to find this functionality when needed.

Thankyou!

### Doc information (don't delete this section)

* https://docs.newreli

[2021-11-06 00:49] rhetoric101 commented on #4764
@dralph3344, I just set that as the top hit for our internal search engine (Swiftype) when you search for timestamp. Is that enough, or are you thinking we need some way to improve the general SEO for this?

[2021-11-07 15:28] nethippo opened #4767 "Issue: Kubernetes integration: install and configure"
## How can we make our docs better?

* Is something confusing?
* Is something inaccurate or missing?
* OpenShift Daemon example command line box is empty(missing ?)
* Were you unable to complete a task? (What task?)
I failed installing new relic agent on ROSA for monitoring.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/kubernetes-pixie/kubernetes-integration/i

[2021-11-08 01:40] aronmarden opened #4768 ""Unity" link goes to a 404"
https://docs.newrelic.com/docs/apis/intro-apis/introduction-new-relic-apis/#mobile-api

"Unity" link goes to a 404

[2021-11-08 06:56] urbiz-nr commented on #4767
Hello @nethippo - thanks for getting in touch! Have you tried checking the [Explorers Hub](https://discuss.newrelic.com/) for tips?

[2021-11-08 07:25] urbiz-nr commented on #4768
Thanks for reporting this, @aronmarden! I'll check with the team, but it looks like the Unity API has been discontinued. Will keep you posted.

[2021-11-08 07:52] urbiz-nr commented on #4662
Closed via #4769.

[2021-11-08 07:52] #4662 closed

[2021-11-08 11:44] legnaleama commented on #2537
@jpvajda Quick update with the new language:
![image](https://user-images.githubusercontent.com/3636549/140735771-e21805d5-4487-42a5-b804-5be95d484806.png)
![image](https://user-images.githubusercontent.com/3636549/140736210-cda006cc-ee77-4248-b19f-27e30784e7fd.png)

Figma: https://www.figma.com/file/0jsTPLtwz6Bljndkbr1COn/?node-id=132%3A42586

[2021-11-08 18:14] barbnewrelic commented on #3094
@tytyhibye  We don't have an assigned writer to this request just quite yet. In the meantime, you can always edit the doc yourself so we are not a roadblock to your team. Hopes this help!

[2021-11-08 18:49] austin-schaefer commented on #3546
May be redundant with #4571

[2021-11-08 18:49] jpvajda commented on #2537
@legnaleama Thank you!

[2021-11-08 18:51] jpvajda commented on #3546
💯

[2021-11-08 18:51] #3546 closed

[2021-11-08 18:58] austin-schaefer opened #4773 "Allow users to create issues directly from docs site"
I'd like to experiment with having users file feedback directly from the docs site, rather than sending them to GitHub. Here's an example of how that could work:

1. A feedback UI on the docs site allows users to file feedback (like yes/no buttons)
2. Clicking on those feedback buttons pops up a feedback form with text input
3. We capture that text input and send it over to GitHub as a new issue
4

[2021-11-08 19:11] jpvajda commented on #4431
Final design is not 💯 yet, but it's pretty close and @roadlittledawn was going to break this ticket down with what is approved so we can get started.

[2021-11-08 19:43] nr-kkenney commented on #3658
Request created: https://portal.gatsbyjs.com/gatsby-cloud/p/approvals-for-pr-previews-from-public-forks

[2021-11-08 22:06] roadlittledawn opened #4780 "[Docs] Work w/tech writer to improve and document contributor workflows"
## Summary

Rob is working on an initiative to improve and document contributor (both New Relic and external peoples) workflows. He'd like a DevEn thought partner to determine the best process for the scenarios he laid out in the Jira.

Scenarios include:
* docs-website: how to collaborate with internal / external contributors on branch by tech writer, branch from a forked repo
*  docs-website-pri

[2021-11-09 00:51] dralph3344 opened #4784 "Issue: Create custom metrics in Go"
## How can we make our docs better?

* can we please communicate that the best practice is now to use the Metrics ingest API, not timeslice metrics? https://docs.newrelic.com/docs/data-apis/ingest-apis/metric-api/report-metrics-metric-api/

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/apm/agents/go-agent/instrumentation/create-custom-metrics-go/
* **OS**: Unkno

[2021-11-09 00:59] dralph3344 commented on #4764
Hi @rhetoric101 , can we set it as the top result for "format timestamp" ?

i'd suggest the above as "timestamp" can be a great number of things in the NR platform. But formatting of the timestamp is generally a visualization step.

[2021-11-09 01:00] nr-kkenney commented on #3658
some follow up links to check out for potential future work:
- [code owners - chromium](https://chromium.googlesource.com/chromium/src/+/refs/heads/main/docs/code_reviews.md)
- [different way to think about code ownership](https://about.sourcegraph.com/blog/a-different-way-to-think-about-code-ownership/)

The theme being different places have thought about a similar problem, and even have differen

[2021-11-09 07:21] urbiz-nr commented on #4768
Unity has been removed from our services, so I'll be deleting the links in #4790.

[2021-11-09 07:21] urbiz-nr commented on #4768
Closed via #4790.

[2021-11-09 07:21] #4768 closed

[2021-11-09 16:03] jpvajda commented on #3658
@nr-kkenney code owners is a great idea...

[2021-11-09 18:16] jpvajda commented on #4431
@legnaleama  What is the rational for using a different icon library at this stage of this improvement?  Can we just use what is already available to our sites from new relic and feather.

`Icons: Uses library called Eva. Uses SVG similar to feather`

[2021-11-09 18:29] nr-kkenney commented on #2538
`project_id` column should be string. i dont know for sure that the vendor uses non-integer ids, but string is a more flexible / forgiving type just in case.

[2021-11-09 18:45] jpvajda commented on #4734
add  to AC

- [ ] Make sure all protected elements and excluded options are applied correctly

[2021-11-09 18:49] jpvajda commented on #2536
We discussed breaking this ticket up differently...

[2021-11-09 18:49] jpvajda commented on #2536
@rudouglas

[2021-11-09 18:58] nr-kkenney commented on #2536
i think we should break this up, just for clarity and organizing the complexity and different pieces. This is just my opinion, so don't feel obligated:

ticket 1 - add translations workflow
- add file exclusion logic (not content exclusion)
- add project id to translation table rows

ticket 2- send translations workflow
- fetch files from translation table -- with new project_id added by previous

[2021-11-09 21:00] roadlittledawn commented on #4431
@legnaleama said he'll take a look tomorrow about using feather icon equivalents for now. and any icons without match we can either use something from feather OR use SVG value

[2021-11-09 21:26] roadlittledawn commented on #4431
Worth noting that we have some components that handle feather icon SVG in a way that could technically work with Eva. So "switching libraries" could entail tweaking those components (`FeatherSVG` and `SVG`) a little bit or creating separate ones. i think there's probably some related functionality in the `Icon` component as well.

[2021-11-09 21:38] jpvajda commented on #3547
I'm interested in this one for innovation time..

[2021-11-09 22:21] nr-kkenney commented on #3658
another potential awkwardness i just thought about is that there is no way to specify per branch ownership. because we use gitflow, there is the pr to develop that would require an owner, then the pr to main that would also require an owner -- even though these are potentially the same change set and we would feel comfortable just merging.

[2021-11-09 22:47] jmiraNR opened #4807 "Add 3 intercepts for the Japanese site"
## Is your feature request related to a problem? Please describe
We need readers of the Japanese documentation to access Japanese properties when available.

## Describe the solution you'd like
We need to add 2 redirects for these 2 properties:
- newrelic.com/security => newrelic.com/jp/security
- newrelic.com/pricing => newrelic.com/jp/pricing

## Describe why this important to you
Optimal user e

[2021-11-09 22:57] jpvajda commented on #3658
@nr-kkenney interesting, did we have consider a [trunkbased ](https://www.atlassian.com/continuous-delivery/continuous-integration/trunk-based-development) workflow?

[2021-11-09 23:04] nr-kkenney commented on #3658
@jpvajda using gitflow in this repo was long before me. this also isn't a dealbreaker, i was just stream of conscious-ing my thoughts into the ticket so i don't lose em.

[2021-11-09 23:05] jpvajda opened #4808 "[I/O]🔮 Instrumentation Improvements"
### Description

This small epic will focus on some important instrumentation improvements for the I/O external site.

### Epic Plan

https://docs.google.com/document/d/1b1kvISm3X7kIFv6JpGQYtVW_xdo_UaxcSuvrhnRpbLo/edit

[2021-11-09 23:18] nr-kkenney commented on #3658
This ticket should be all wrapped up.

For this repo, I:
- added a codeowners file that has dev-enablement as the owners for .github folder, all javascript files, and the yarn.lock file.
- setup branch protection for the develop branch requiring at least one code owner approval if a pr touches a file that has a code owner.

Aside from that, met with docs team representative to discuss if they want

[2021-11-09 23:18] #3658 closed

[2021-11-10 00:48] jpvajda commented on #4527
from @roadlittledawn

 i'd actually propose we put it in the backlog beyond that. not sure tech docs will need it soon. it may come in handy if/when we look at overhauling / simplifying nav.

[2021-11-10 03:27] jpvajda commented on #4431
@roadlittledawn I totally think it be worth exploring that effort to switch libraries in the future, did you want to make a follow up 🎫 for that? If we have similar feather / svg icons to use that are already available my thought is we just de-scope this until later given our current roadmap demands for Q3.

[2021-11-10 07:33] #4767 closed

[2021-11-10 12:47] rudouglas opened #4816 "[Machine Translation] Modify script to send queued Translation Jobs to Vendor"
## Summary

We will need to update the scripts for enabling **Machine Translation (MT)**. The way we will be interacting with the Smartling API is identical to how we do it now, we just need some tweaks to the existing scripts along with some additional functionality.

## Details
<details>

At the moment, in the feature branch, there is [one workflow](https://github.com/newrelic/docs-website/blob/

[2021-11-10 16:43] galloq commented on #4692
@dbarnesbrownNR - Hello how is this going?, just wanted to let you know I am very interested in this having some more details since I am trying to make sense of a couple of scalability tests myself but I am confused.

Please let me know if there is any resolution date.

Thank you very much for the support.

[2021-11-10 16:59] dbarnesbrownNR commented on #4692
Hi @galloq, if you're struggling with an aspect of the product and not sufficiently helped by docs (understandable here since info is not complete!) you can get help right now from Support (https://support.newrelic.com/), but I am also working on a more permanent update to the docs. We have a number of items in our backlog at the moment but as long as your issue is open that indicates intent to ad

[2021-11-10 17:03] nr-kkenney commented on #2538
@rudouglas that is what i meant 🙈

[2021-11-10 17:31] roadlittledawn commented on #4431
@jpvajda i'm split i guess. our "library" is just some components around SVGs really. there's only a subset of feather icons available and if you want a new one you have to add the SVG value manually.

i think we could probably tackle this as part of this sprint if we really wanted to (even if it's just copying what we do for feather). either way, it's probably a separate ticket so i can file a ti

[2021-11-10 17:46] rudouglas commented on #2538
ah cool that makes sense 🍾

[2021-11-10 17:47] roadlittledawn opened #4822 "[i18n] Fix no handler for nobr element error"
## Summary

The [send content for translation workflow](https://github.com/newrelic/docs-website/actions/workflows/send-content-to-translate.yml) was failing due to not having a handler `nobr` elements. It seems a contributor used `<nobr>` element in some host integrations docs, which we didn't have handlers for when serializing / deserializing for translation workflows.

## Acceptance criteria
-

[2021-11-10 17:47] #4822 closed

[2021-11-10 19:34] StingyJack opened #4827 "Issue: Node.js custom metrics"
## How can we make our docs better?

* Is something confusing?

If I had a custom metric that tracked execution time of a function that is called 500 times is that going to count as 1 metric towards the 2000 or 500?

Is the 2000 cap for a single application or across all applications in the subscription/tenant/enterprise?

### Doc information (don't delete this section)

* https://docs.newrelic.co

[2021-11-10 20:28] barbnewrelic commented on #4827
@StingyJack  I'll check with support or the engineers, then will update the doc to clarify. Thanks for your patience!

[2021-11-10 20:38] GaPeppy opened #4830 "Issue: NRQL syntax, clauses, and functions"
From experimentation, it appears the capture() function is defaulting to a full string match (rather then a partial match).  Can we articulate this expectation in the function definition?

Is there any way to force partial match behavior?  If so, please add partial match behavior use explanation.

### Doc information (don't delete this section)

* https://docs.newrelic.com/docs/query-your-data/nrq

[2021-11-10 20:56] barbnewrelic commented on #4830
@GaPeppy  Thanks for pointing this out! I'm checking with support/engineers about what to say, then will update the doc. Thanks for your patience!

[2021-11-10 21:22] jpvajda opened #4833 "[DevEn] 🧑‍🔬 Docs Experimentation & A/B tests"
### Description

a 20% velocity buffer to account for A/B testing and experimentation on the external I/O site to help increase sign up and install conversions.

[2021-11-10 21:26] rhetoric101 commented on #4764
@dralph3344, I'm going to consider this resolved since the search for format timestamp now takes users to that chart page.

[2021-11-10 21:26] #4764 closed

[2021-11-10 21:26] jpvajda commented on #4833
Issue moved to [newrelic/developer-website #1884](https://github.com/newrelic/developer-website/issues/1884) via [**ZenHub**](https://www.zenhub.com/)

[2021-11-10 21:37] roadlittledawn commented on #4583
looks like this is not a OneTrust thing, but we need to add a property to the relevant Tessen events:
[code]

Details in Jira ONYX-1312

[2021-11-10 21:47] #4185 closed

[2021-11-10 23:29] roadlittledawn commented on #4204
@rudouglas

Sorry for the churn on this. Thinking through this is tricky stuff!

TL;DR: Perhaps adding that info via frontmatter is the way to go. I can't think of other big hang-ups to not do it.

<details>
<summary>Thoughts on adding frontmatter to indicate machine/human translated</summary>

When the site builds and a template renders a page, I _think_ we could still infer if a locale namespace

[2021-11-11 00:37] #4583 closed

[2021-11-11 06:52] nyalla opened #4841 "Issue: Introduction to the Log API"
In the JSON Body section,
JSOB Body message drop section is not clickable. We are unable to see the what the json body for both simplified and detailed.

[2021-11-11 07:41] urbiz-nr commented on #4784
Closed via #4842.

[2021-11-11 07:41] #4784 closed

[2021-11-11 07:46] urbiz-nr commented on #4784
Finally closing via #4843.

[2021-11-11 08:44] x8a commented on #4841
Hi, @nyalla 👋🏼. Thank you for opening an issue with us!

Both the `Simplified JSON body message` and the `Detailed JSON body message` sections are expandable/collapsible. What browser are you using? I've tested with Chrome, Safari, Mozilla, and Vivaldi, but the behaviour should be the same across browsers.

[2021-11-11 09:59] nyalla commented on #4841
I am working on Microsoft Edge
Version 95.0.1020.44 (Official build) (64-bit)

Still I am unable to expand.

On Thu, 11 Nov 2021 at 14:14, x8a ***@***.***> wrote:

--
Thanks,
Naveen

[2021-11-11 12:04] x8a commented on #4841
Hi again! I downloaded Microsoft Edge and verified that it's expanding for me. Here's a screenshot:

<img width="854" alt="Screenshot 2021-11-11 at 13 01 44" src="https://user-images.githubusercontent.com/55247916/141295025-37c00b3a-5f65-47c1-8b2e-d03aff915b43.png">

Please let me know if you have a different issue.

[2021-11-11 12:22] rudouglas commented on #4204
@roadlittledawn Not at all, tis a wild beast of an epic, we must be sure to tame it right. I'll detail what I was thinking here just for full context.
<details>
<summary>My 🪙 🪙 </summary>
We are translating to both `jp` and `kr`.
The english version of a specific page has `translate: ['jp']` so we know to send it to human translation for `jp` and Machine translation for `kr`.
When they come back,

[2021-11-11 12:29] iharika opened #4846 "Drop downs on this page are not responding"
The dropdowns on the page are not expanding. This one for example - https://docs.newrelic.com/docs/logs/log-management/log-api/introduction-log-api/#json-content

### Doc information

* https://docs.newrelic.com/docs/logs/log-management/log-api/introduction-log-api/
* **OS**: MacOS
* **Browser**: Chrome and Safari
* **Device**: Macbook

[2021-11-11 12:38] x8a commented on #4846
Hi, @iharika! Thanks for letting us know about the issue 🙌🏻.

We're tracking issue #4841, which describes the same problem. Please follow up in that issue's conversation and feel free to open a new one with other problems you encounter.

[2021-11-11 12:38] #4846 closed

[2021-11-11 16:53] roadlittledawn commented on #4204
@rudouglas  yep, that flow makes sense to me. one [nit] though if i may. can we change the name of the frontmatter field to something like `translatedBy` or `translationType`?

<details>
<summary>Re: the scenario you lay out</summary>

When we download it from translation why would we need to check if it's excluded? Wouldn't we have done that when adding to queue to determine if it should be HT /

[2021-11-11 18:42] roadlittledawn commented on #4342
For more help section may be removed, so this may be a Close Won't Fix

[2021-11-11 19:29] roadlittledawn commented on #4807
@jmiraNR not quite sure i understand "intercepts" here. can you confirm my interpretation is correct?

i _think_ what you're saying is:

1. as a user i go to a jp docs page like: https://docs.newrelic.com/jp/docs/browser/browser-monitoring/getting-started/introduction-browser-monitoring/
2. if any of the links you listed above are on that page, they are automatically modified to point to jp equiva

[2021-11-11 19:37] jmiraNR commented on #4807
@roadlittledawn I thought "intercept" was a standard term as it was introduced to me that way. But yes to your thinking. It's what we do with the Sign-up link but for the 3 listed above.

[2021-11-11 19:51] roadlittledawn commented on #4807
there's only 2 listed in the issue though right? unless i'm losing it, which is possible ;)

[2021-11-11 20:03] roadlittledawn commented on #4807
## eng note
we do this with signup because signup has its own component that's pulled in via `Link` component. instead of hardcoding checks for links listed in ticket, i think it'd be best to have a more robust solution  in coordination with newrelic.com devs